.form-container{
  background: #fff;
  padding: 40px;
  width: 30vw;
  // height: 100vh;
  margin-top: 4rem;
  margin-bottom: 8rem;
}
.login-intro{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-intro .lims{
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
}
.divider{
  color: rgba(0,0,0,0.4);
  height: 1px;
  width: 100%;
}
.login-intro>.login-detail{
  font-size: 20px;
  font-weight: 500;
  color: #2260bf;
}
.np-logo{
  width: 25%;
  object-fit: cover;
  padding: 10px;
}
input{
  border-radius: 3px!important;
  font-size: 16px!important;
  padding: 12px!important;
}
input::placeholder{
  font-size: 14px;
}
#login{
  background: #2260bf!important;
  color: #ffffff;
}
#login:focus{
  box-shadow: none;
  border: none;
}
.login-additional{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-additional>.fp{
  color: #2260bf;
}
.login-additional>.register{
  color: #ffffff;
  background: #2260bf;
  padding: 8px 18px;
  text-decoration: none;
}

.register:hover{
  background-color: #1a4e9e!important;
}

/*End of Login*/

.mainheader-top {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  align-items: center;
}

.mainheader-top .GON-logo {
  width: 117px;
  height: max-content;
}

.mainheader-top .flag {
  width: 57px;
  height: max-content;
}

.mainheader-top-text {
  text-align: center;
}

.mainheader-top-text > *{
  margin-bottom: 5px;
}

.mainheader-top-text h4 {
  color: #A40000;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
}

.mainheader-top-text h3 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  text-transform: capitalize;
}

.mainheader-top-text h3 span {
  font-weight: 700;
  color: #1876D2;
}

.mainheader-top-text p {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  text-transform: capitalize;
}

.mainheader-nav {
  background-color: #2460B9;
}

.mainheader-nav .user-name {
  display: flex;
  max-width: 1300px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.mainheader-nav .main-ul {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;

}

.mainheader-nav .main-ul a {
  text-decoration: none;
  color: white;
  padding: 20px 15px;
}

.mainheader-nav .main-ul a:hover{
  background-color:#133a75 ;
}

.login-title{
  margin-bottom: 1.3rem;
}

.login-title h3 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 5px;
}

.login-title p {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

}

footer {
  height: 40px;
  align-items: center;
  background-color: red;
  text-align: center;
  color: white;
  // position: absolute;
  // bottom: 0;
  // width: 100%;

}

footer p {
  display: grid;
  height: 100%;
  align-items: center;
  text-align: center;
}
