<div class="row" *ngIf="!isDashboardStatus">

    <div class="col-md-6 h-100">
        <div class="row">
            <div class="col-md-12 bg-white p-2 user-db-card" style="border-radius: 6px;">
                <div class="row px-2">
                    <div class="col-md-6">
                        <h3 class="text-bold">Progress Chart</h3>
                    </div>
        
                </div>
                <div id="chart">
                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
                        [responsive]="chartOptions.responsive"></apx-chart>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12 bg-white p-2 user-db-card" style="border-radius: 6px;">
                <div class="row px-2">
                    <div class="col-md-6">
                        <h3 class="text-bold">Sample by User Type</h3>
                    </div>
                </div>
                <div id="chartB">
                    <apx-chart [series]="chartOptionsB.series" [chart]="chartOptionsB.chart" [labels]="chartOptionsB.labels"
                        [responsive]="chartOptionsB.responsive"></apx-chart>

                        <table class="table chartB">
                            <thead>
                                <tr class="db-table-heading">
                                    <td>User Type</td>
                                    <td class="text-center">Number</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="user-type industry"><span class="material-icons">
                                        circle
                                        </span>Industry</td>
                                    <td class="text-center">44</td>
                                </tr>
                                <tr>
                                    <td class="user-type import"><span class="material-icons">
                                        circle
                                        </span>Import/Export</td>
                                    <td class="text-center">15</td>
                                </tr>
                                <tr>
                                    <td class="user-type gov"><span class="material-icons">
                                        circle
                                        </span>Government Agencies</td>
                                    <td class="text-center">13</td>
                                </tr>
                                <tr>
                                    <td class="user-type dftqc"><span class="material-icons">
                                        circle
                                        </span>DFTQC Section</td>
                                    <td class="text-center">40</td>
                                </tr>
                            </tbody>
                        </table>

                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <div class="row white-bg p-2 user-db-card">
                    <div class="row px-2 m-0">
                        <div class="col-md-6 ps-0">
                            <h3 class="text-bold">Latest Sample Request</h3>
                        </div>
                        <div class="col-md-6 text-end px-0"><a (click)="gotoRequest()" style="text-decoration: none;" class=""
                                href="Javascript:;">View Details <i class="fa fa-external-link"></i></a></div>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr class="db-table-heading">
                                <td>Sample Name</td>
                                <td>Sample ID</td>
                                <td>Date</td>
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cursor-pointer" *ngFor="let a of latestSamples" (click)="gotoSampleReportDetails(a.id)">
                                <td>{{a?.name | titlecase}}</td>
                                <td><span class="text-uppercase">{{a.id}}</span></td>
                                <td>{{a.created_date | date}}</td>
                                <td>
                                    <span class="badge badge-primary p-1" [statusColor]="a.status">{{a.status | titlecase}}</span>
                                </td>
                            </tr>
            
                            <tr *ngIf="!loadingLatestSample && latestSamples.length <1">
                                <td class="text-center py-5" colspan="4">
                                    <img src="../../../../assets/no-data.svg" />
                                    <div class="text-muted">Data Not Available.</div>
            
                                </td>
                            </tr>
            
                            <tr *ngIf="loadingLatestSample">
                                <td colspan="4">
                                    <div class="row">
                                        <div class="col-md-12 text-center py-3">
                                            <div class="spinner-border text-dark" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <div class="row white-bg  user-db-card">
                    <div class="col-md-12 p-0" style="border-radius: 6px;">
                        <div class="row px-2">
                            <div class="col-md-6 ps-0">
                                <h3 class="text-bold">Task by Supervisor</h3>
                            </div>
                        </div>
                
                        <table class="table table-hover">
                            <thead>
                                <tr class="db-table-heading">
                                    <td>Supervisor</td>
                                    <td> Task</td>
                                    <td class="text-center">Completed</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Keshari Laxmi Bajracharya</td>
                                    <td>20</td>
                                    <td class="text-center">
                                        <span style="background-color: #8E4CF7;" class="badge badge-primary">20</span>
                                    </td>
        
                                </tr>
                                <tr>
                                    <td>Krishna Prasad Rai</td>
                                    <td>18</td>
                                    <td class="text-center">
                                        <span style="background-color: #8E4CF7;" class="badge badge-primary">10</span>
                                    </td>
        
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

    <div class="col-md-6 h-100">
        <div class="row ms-0">
            <div class="col-md-6 padding-left-6">
                <div class="card user-db-card" style="height: auto !important;">
                    <div class="card-body">
                        <p>Total Request</p>
                        <!-- <h3 class="text-bold mb-0">{{dashboardStatus?.total_request}}</h3> -->
                        <h3 class="text-bold mb-0">90</h3>
                        <div class="progress mt-4" style="height: 5.5px;">
                            <!-- [style.height.%]="height"  -->
                            <div class="progress-bar bg-info" role="progressbar" style="width: 100%;" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="col-md-6 p-0 padding-left-6">
                <div class="card user-db-card" style="height: auto !important;">
                    <div class="card-body">
                        <p>Completed</p>
                        <!-- <h3 class="text-bold mb-0"> {{dashboardStatus?.completed}} </h3> -->
                        <h3 class="text-bold mb-0"> 50 </h3>
                        <div class="progress mt-4" style="height: 5.5px;">
                            <!-- <div class="progress-bar bg-success" role="progressbar" [style.width.%]="calculatePercentage(dashboardStatus?.completed,dashboardStatus?.total_request)"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> -->
                            <div class="progress-bar bg-success" role="progressbar" style="width: 55%;"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 padding-left-6 mt-3">
                <div class="card user-db-card" style="height: auto !important;">
                    <div class="card-body">
                        <p>Pending</p>
                        <!-- <h3 class="text-bold mb-0">{{dashboardStatus?.pending}}</h3> -->
                        <h3 class="text-bold mb-0">20</h3>
                        <div class="progress mt-4" style="height: 5.5px;">
                            <!-- <div class="progress-bar bg-warning" role="progressbar"
                            [style.width.%]="calculatePercentage(dashboardStatus?.pending,dashboardStatus?.total_request)" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100"></div> -->
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 22%;" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-3 p-0 padding-left-6">
                <div class="card user-db-card" style="height: auto !important;">
                    <div class="card-body">
                        <p>Not Verified</p>
                        <!-- <h3 class="text-bold mb-0">{{dashboardStatus?.not_verified}}</h3> -->
                        <h3 class="text-bold mb-0">10</h3>
                        <!-- <div class="progress mt-4" style="height: 5.5px;">
                            <div class="progress-bar bg-noverified" role="progressbar"
                            [style.width.%]="calculatePercentage(dashboardStatus?.not_verified,dashboardStatus?.total_request)"
                                aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"></div> -->
                        <div class="progress mt-4" style="height: 5.5px;">
                            <div class="progress-bar bg-noverified" role="progressbar"
                            [style.width.%]="11"
                                aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 padding-left-6 mt-3">
                <div class="card user-db-card" style="height: auto !important;">
                    <div class="card-body">
                        <p>Rejected</p>
                        <!-- <h3 class="text-bold mb-0">{{dashboardStatus?.reject}}</h3> -->
                        <h3 class="text-bold mb-0">3</h3>
                        <div class="progress mt-4" style="height: 5.5px;">
                            <!-- <div class="progress-bar bg-danger" role="progressbar"
                            [style.width.%]="calculatePercentage(dashboardStatus?.reject,dashboardStatus?.total_request)"
                                 aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"></div> -->
                            <div class="progress-bar bg-danger" role="progressbar"
                            [style.width.%]="3.33"
                                 aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-3 p-0 padding-left-6">
                <div class="card user-db-card" style="height: auto !important;">
                    <div class="card-body">
                        <p>Recheck</p>
                        <!-- <h3 class="text-bold mb-0">{{dashboardStatus?.recheck}}</h3> -->
                        <h3 class="text-bold mb-0">7</h3>
                        <div class="progress mt-4" style="height: 5.5px;">
                            <!-- <div class="progress-bar bg-danger1" role="progressbar" [style.width.%]="calculatePercentage(dashboardStatus?.recheck,dashboardStatus?.total_request)"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> -->
                            <div class="progress-bar bg-danger1" role="progressbar" [style.width.%]="7.78"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ms-0">
            <div class="col-md-12 padding-left-6">
                <div class="row mt-3">
                    <div class="col-md-12 ">
                        <div class="row ms-0">
                            <div class="col-md-12 bg-white p-2 user-db-card" style="border-radius: 6px;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3 class="text-bold">Sample Report</h3>
                                    </div>
                                    <div class="col-md-6 text-end"><a (click)="gotoReport()" style="text-decoration: none;" class=""
                                            href="Javascript:;">View Details <i class="fa fa-external-link"></i></a></div>
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr class="db-table-heading">
                                            <td>Sample ID</td>
                                            <td>Sample Name</td>
                                            <td>Date</td>
                                            <!-- <td>Report</td> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cursor-pointer" *ngFor="let a of completedSamples" (click)="gotoSampleReport(a.id)">
                                            <td> <span class="text-uppercase">{{a.id}}</span></td>
                                            <td>{{a.name | titlecase}}</td>
                                            <td>{{a.created_date | date}}</td>
                                            <!-- <td>
                                                  <button [disabled]="isLoadingDownloadBtn" (click)="downloadReport(a.id)" class="btn btn-outline-primary btn-sm">
                                                      <span >Download Report <i
                                                              class="fa fa-download"></i></span>
                                                      
                                                  </button>
                  
                  
                                              </td> -->
                                        </tr>
                
                                        <tr *ngIf="!loadingCompletedSample && completedSamples.length <1">
                                            <td class="text-center py-5" colspan="4">
                                                <img src="../../../../assets/no-data.svg" />
                                                <div class="text-muted">Data Not Available.</div>
                
                                            </td>
                                        </tr>
                
                                        <tr *ngIf="loadingCompletedSample">
                                            <td colspan="4">
                                                <div class="row">
                                                    <div class="col-md-12 text-center py-3">
                                                        <div class="spinner-border text-dark" role="status">
                                                            <span class="sr-only">Loading...</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ms-0">
            <div class="col-md-12 padding-left-6">
                <div class="row mt-3">
                    <div class="col-md-12 ">
                        <div class="row ms-0">
                            <div class="col-md-12 bg-white p-2 user-db-card" style="border-radius: 6px;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3 class="text-bold">User Request</h3>
                                    </div>
                                    <div class="col-md-6 text-end"><a (click)="gotoUserRequest()" style="text-decoration: none;" class=""
                                            href="Javascript:;">View Details <i class="fa fa-external-link"></i></a></div>
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr class="db-table-heading">
                                            <!-- <td>Sample ID</td> -->
                                            <td> Name</td>
                                            <td>Requested Date</td>
                                            <td>Email</td>
                                            <td>Username</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let a of userRequests">
                                            <!-- <td> <span class="text-uppercase">{{a.id}}</span></td> -->
                                            <td>{{a.first_name | titlecase}} {{a.last_name | titlecase}}</td>
                                            <td>{{a.created_date | date}}</td>
                                            <td>{{a.email}}</td>
                                            <td>{{a.username}}</td>
                                            <!-- <td>
                                                <button [disabled]="isLoadingDownloadBtn" (click)="downloadReport(a.id)" class="btn btn-outline-primary btn-sm">
                                                    <span >Download Report <i
                                                            class="fa fa-download"></i></span>
                                                    
                                                </button>
                        
                        
                                            </td> -->
                                        </tr>
                        
                                        <tr *ngIf="!isLoadingUserRequests && userRequests.length <1">
                                            <td class="text-center py-5" colspan="4">
                                                <img src="../../../../assets/no-data.svg" />
                                                <div class="text-muted">Data Not Available.</div>
                        
                                            </td>
                                        </tr>
                        
                                        <tr *ngIf="isLoadingUserRequests">
                                            <td colspan="4">
                                                <div class="row">
                                                    <div class="col-md-12 text-center py-3">
                                                        <div class="spinner-border text-dark" role="status">
                                                            <span class="sr-only">Loading...</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="row" *ngIf="isDashboardStatus">
    <div class="col-md-12 bg-white text-center p-2 py-5" style="border-radius: 6px; height: 20vh;">
        <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

