#chart {
  width: 450px;
  margin: 0px auto;
  padding: 0;
}
.user-db-card{
  padding: 24px!important;
  border: none;
}
.text-bold{
  font-weight: 500;
  font-family: Poppins;
}
.db-table-heading td{
  font-family: Poppins;
  text-decoration: capitalize!important;
  font-weight: 500;
  vertical-align: middle;
}
td{
  vertical-align: middle;
}
.badge-primary{
  background: #0065ff!important;
  color: #ffffff;
  font-size: 12px!important;
  padding: 10px 14px!important;
  border-radius: 6px!important;
}
.padding-left-16{
  padding-left: 16px!important;
}
.small-db-card{
  padding-left: 5px!important;
}
.card-body{
  padding: 0!important;
}
.card-body p{
  font-weight: 500;
}
.card-body h3{
  font-size: 24px;
  font-weight: 500!important;
}