<div class="bd-navbar bg-white">
  <nav class="navbar navbar-expand-lg pt-0">
    <div class="container-fluid" style="padding-right: 0 !important; padding-left: 0;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-lg-0 flex-column db-navbar mb-4" style="padding-bottom: 10%;">

          <li
            *ngIf="(userDetails?.role === 2 || userDetails?.role === 5 || userDetails?.role === 1) && userDetails.is_verified"
            class="nav-item add-sample-item m-0" style="margin-bottom: 5px!important;">
            <a class="nav-link" [ngClass]="{'active-route': this.router.url === '/dashboard/add-sample'}"
              aria-current="page" href="Javascript:;" (click)="navigate('/dashboard/add-sample')" id="add-sample">
              <mat-icon aria-hidden="false" aria-label="add" fontIcon="add"></mat-icon>
              <!-- <span class="mb-1"> -->
                Add Sample
              <!-- </span> -->
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active-route': this.router.url === '/dashboard'}"
              (click)="navigate('/dashboard')" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="add" fontIcon="dashboard"></mat-icon>
              Dashboard</a>
          </li>

          <!-- User Navs -->
          <li class="nav-item" *ngIf="userDetails?.role === 5 && userDetails?.is_verified">
            <a class="nav-link"
              [ngClass]="{'active-route': (this.router.url === '/dashboard/my-sample' || this.router.url.startsWith('/dashboard/sample-details/'))}"
              (click)="navigate('/dashboard/my-sample')" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="add" fontIcon="local_drink"></mat-icon>
              My Sample</a>

          </li>

          <li class="nav-item" *ngIf="userDetails?.role === 5">
            <a class="nav-link" [ngClass]="{'active-route': (this.router.url === '/dashboard/commodity-pricing')}"
              (click)="navigate('/dashboard/commodity-pricing')" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="add" fontIcon="insert_chart"></mat-icon>
              Commodity Pricing</a>
          </li>

          <li class="nav-item" *ngIf="userDetails?.role === 5 && userDetails?.is_verified">
            <a class="nav-link"
              [ngClass]="{'active-route': (this.router.url === '/dashboard/report-view' || this.router.url.startsWith('/dashboard/report/'))}"
              (click)="navigate('/dashboard/report-view')" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="add" fontIcon="file_copy"></mat-icon>
              Sample Report</a>
          </li>

          <!-- End User Navs -->

          <!-- SMU/Admin Navs -->
          <li class="nav-item" *ngIf="userDetails.role === 1 || userDetails.role === 2">
            <a class="nav-link" [ngClass]="{'active-route': this.router.url === '/dashboard/user-requests'}"
              (click)="navigate('/dashboard/user-requests')" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="add" fontIcon="assignment_ind"></mat-icon>
              User Request</a>
          </li>

          <li class="nav-item" *ngIf="userDetails.role === 1 || userDetails.role === 2">
            <a class="nav-link"
              [ngClass]="{'active-route': (this.router.url === '/dashboard/sample-requests'|| this.router.url.startsWith('/dashboard/sample-request-details/'))}"
              (click)="navigate('/dashboard/sample-requests')" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="add" fontIcon="input"></mat-icon>
              Sample Request</a>
          </li>

          <li class="nav-item" *ngIf="userDetails.role === 1 || userDetails.role === 2">
            <a class="nav-link"
              [ngClass]="{'active-route': (this.router.url === '/dashboard/sample-assigned'|| this.router.url.startsWith('/dashboard/sample-assigned-details/'))}"
              (click)="navigate('/dashboard/sample-assigned')" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="add" fontIcon="assignment"></mat-icon>
              Assigned Sample</a>
          </li>

          <li class="nav-item" *ngIf="userDetails.role === 1 ">
            <a class="nav-link" [ngClass]="{'active-route': (this.router.url === '/dashboard/track-sample'|| this.router.url.startsWith('/dashboard/track-sample-details/'))}" (click)="navigate('/dashboard/track-sample')" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="track" fontIcon="track_changes"></mat-icon>
               Track Sample</a>
          </li>

          <li class="nav-item" *ngIf="userDetails.role === 1 || userDetails.role === 2">
            <a class="nav-link" [ngClass]="{'active-route': (this.router.url === '/dashboard/lab-report')}"
              (click)="navigate('/dashboard/lab-report')" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="track" fontIcon="library_books"></mat-icon>
              Sample Report</a>
          </li>

          <li class="nav-item" id="accordionExample" *ngIf="userDetails.role === 1 || userDetails.role === 2">
            <a class="nav-link dropdown-toggle"
              [ngClass]="{'active-route': this.router.url === '/dashboard/create-user' || this.router.url === '/dashboard/all-users' || this.router.url === '/dashboard/create-admin'}"
              href="Javascript:;" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
              aria-controls="collapseTwo">
              <mat-icon class="pt-1" aria-hidden="false" aria-label="add" fontIcon="supervised_user_circle" style="margin-top: -5px;"></mat-icon>
              User Management </a>

            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <ul class="navbar-nav me-auto mb-lg-0 flex-column db-navbar px-2 mt-2">

                <li class="nav-item m-0">
                  <a class="nav-link" [ngClass]="{'active-route':this.router.url === '/dashboard/all-users'}"
                    (click)="navigate('/dashboard/all-users')" href="Javascript:;">
                    <mat-icon class="child-icon" aria-hidden="false" aria-label="add" fontIcon="lens"></mat-icon>
                    All User</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" [ngClass]="{'active-route': this.router.url === '/dashboard/create-user'}"
                    (click)="navigate('/dashboard/create-user')" href="Javascript:;">
                    <mat-icon class="child-icon" aria-hidden="false" aria-label="add" fontIcon="lens"></mat-icon>
                    Create User</a>
                </li>

                <li class="nav-item" *ngIf="userDetails.role === 1">
                  <a class="nav-link" [ngClass]="{'active-route': this.router.url === '/dashboard/create-admin'}"
                    (click)="navigate('/dashboard/create-admin')" href="Javascript:;">
                    <mat-icon class="child-icon" aria-hidden="false" aria-label="add" fontIcon="lens"></mat-icon>
                    Create Admin</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item" *ngIf="userDetails.role === 1 || userDetails.role === 2">
            <a class="nav-link"
              [ngClass]="{'active-route': this.router.url === '/dashboard/commodities/all-commodities' || this.router.url === '/dashboard/settings/commodity-category' || this.router.url === '/dashboard/commodities' || this.router.url === '/dashboard/commodities-parameter'}"
              href="Javascript:;" data-bs-toggle="collapse" data-bs-target="#collapseT" aria-expanded="false"
              aria-controls="collapseTwo">
              <mat-icon class="pt-1" aria-hidden="false" aria-label="add" fontIcon="group_work" style="margin-top: -5px;"></mat-icon>
              Commodities <mat-icon class="pt-2" aria-hidden="false" aria-label="add"
                fontIcon="arrow_drop_down"></mat-icon></a>

            <div id="collapseT" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <ul class="navbar-nav me-auto mb-lg-0 flex-column db-navbar px-2 mt-2">
                <li class="nav-item mt-2" style="margin:0 !important;">
                  <a (click)="navigate('/dashboard/commodities/all-commodities')" class="nav-link"
                    [ngClass]="{'active-route':this.router.url === '/dashboard/commodities/all-commodities'}"
                    href="Javascript:;">
                    <mat-icon class="child-icon" aria-hidden="false" aria-label="add" fontIcon="lens"></mat-icon>
                    All</a>
                </li>

                <li class="nav-item mt-2">
                  <a (click)="navigate('/dashboard/settings/commodity-category')"
                    [ngClass]="{'active-route':this.router.url === '/dashboard/settings/commodity-category'}"
                    class="nav-link" href="Javascript:;">
                    <mat-icon class="child-icon" aria-hidden="false" aria-label="add" fontIcon="lens"></mat-icon>
                    Category</a>
                </li>

                <li class="nav-item mt-2">
                  <a class="nav-link" href="Javascript:;" (click)="navigate('/dashboard/commodities')"
                    [ngClass]="{'active-route':this.router.url === '/dashboard/commodities'}">
                    <mat-icon class="child-icon" aria-hidden="false" aria-label="add" fontIcon="lens"></mat-icon>
                    Commodities</a>
                </li>

                <li class="nav-item mt-2">
                  <a class="nav-link"
                    [ngClass]="{'active-route':this.router.url === '/dashboard/commodities-parameter'}"
                    (click)="navigate('/dashboard/commodities-parameter')" href="Javascript:;">
                    <mat-icon class="child-icon" aria-hidden="false" aria-label="add" fontIcon="lens"></mat-icon>
                    Parameter</a>
                </li>

              </ul>
            </div>
          </li>

          <li class="nav-item" *ngIf="userDetails.role === 1">
            <a class="nav-link" href="Javascript:;" data-bs-toggle="collapse" data-bs-target="#collapseSetting"
              aria-expanded="false" aria-controls="collapseSetting"
              [ngClass]="{'active-route': this.router.url === '/dashboard/settings/client-category' || this.router.url === '/dashboard/user-group' || this.router.url === '/dashboard/user-permissions'}">
              <mat-icon class="pt-1" aria-hidden="false" aria-label="add" fontIcon="group_work" style="margin-top: -5px;"></mat-icon>
              Settings<mat-icon class="pt-2" aria-hidden="false" aria-label="add"
                fontIcon="arrow_drop_down"></mat-icon></a>

            <div id="collapseSetting" class="accordion-collapse collapse" data-bs-parent="#collapseSetting">
              <ul class="navbar-nav me-auto mb-lg-0 flex-column db-navbar px-2 mt-2">
                <li class="nav-item mt-2">
                  <a class="nav-link"
                    [ngClass]="{'active-route': this.router.url === '/dashboard/settings/client-category'}"
                    (click)="navigate('/dashboard/settings/client-category')" href="Javascript:;">
                    <mat-icon class=" child-icon" aria-hidden="false" aria-label="add" fontIcon="lens"></mat-icon>
                    Client Categories</a>
                </li>

                <li class="nav-item mt-2">
                  <a (click)="navigate('/dashboard/user-group')" class="nav-link"
                    [ngClass]="{'active-route': this.router.url === '/dashboard/user-group'}" href="Javascript:;">
                    <mat-icon class="child-icon" aria-hidden="false" aria-label="add" fontIcon="lens"></mat-icon>
                    Group</a>
                </li>

                <li class="nav-item mt-2">
                  <a class="nav-link" [ngClass]="{'active-route': this.router.url === '/dashboard/user-permissions'}"
                    (click)="navigate('/dashboard/user-permissions')" href="Javascript:;">
                    <mat-icon class="child-icon" aria-hidden="false" aria-label="add" fontIcon="lens"></mat-icon>
                    Permission</a>
                </li>
              </ul>
            </div>
          </li>
          <!-- End SMU/Admin Navs -->

          <!-- Supervisor Navs -->
          <li class="nav-item" *ngIf="userDetails.role === 3">
            <a class="nav-link"
              [ngClass]="{'active-route': (this.router.url === '/dashboard/samples' || this.router.url.startsWith('/dashboard/lab-sample-details/'))}"
              (click)="navigate('/dashboard/samples')" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="track" fontIcon="chrome_reader_mode"></mat-icon>
              Sample Request</a>
          </li>

          <li class="nav-item" *ngIf="userDetails.role === 3">
            <a class="nav-link"
              [ngClass]="{'active-route': (this.router.url === '/dashboard/assigned-sample'|| this.router.url.startsWith('/dashboard/sample-report/'))}"
              (click)="navigate('/dashboard/assigned-sample')" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="track" fontIcon="assignment"></mat-icon>
              Assigned Sample</a>
          </li>

          <li class="nav-item" *ngIf="userDetails.role === 3">
            <a class="nav-link" [ngClass]="{'active-route': (this.router.url === '/dashboard/lab-report' )}"
              (click)="navigate('/dashboard/lab-report')" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="track" fontIcon="list_alt"></mat-icon>
              Sample Report</a>
          </li>
          <!-- End Supervisor Navs -->

          <!-- Analyst Navs -->
          <li class="nav-item" *ngIf="userDetails.role === 4">
            <a class="nav-link"
              [ngClass]="{'active-route': (this.router.url === '/dashboard/test-request' || this.router.url.startsWith('/dashboard/test-request-details/'))}"
              (click)="navigate('/dashboard/test-request')" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="track" fontIcon="local_drink"></mat-icon>
              Test Request</a>
          </li>

          <li class="nav-item" *ngIf="userDetails.role === 4">
            <a class="nav-link"
              [ngClass]="{'active-route': (this.router.url === '/dashboard/lab-report' || this.router.url.startsWith('/dashboard/report/'))}"
              (click)="navigate('/dashboard/lab-report')" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="track" fontIcon="list_alt"></mat-icon>
              Test Report</a>
          </li>
          <!-- End Analyst Navs -->

          <!-- Verifier Navs -->
          <li class="nav-item" *ngIf="userDetails.role === 6">
            <a class="nav-link"
              [ngClass]="{'active-route': (this.router.url === '/dashboard/sample-verify' || this.router.url.startsWith('/dashboard/verify-sample-report/'))}"
              (click)="navigate('/dashboard/sample-verify')" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="track" fontIcon="local_drink"></mat-icon>
              Sample Request</a>
          </li>

          <li class="nav-item" *ngIf="userDetails.role === 6">
            <a class="nav-link" [ngClass]="{'active-route': (this.router.url === '/dashboard/lab-report')}"
              (click)="navigate('/dashboard/lab-report')" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="track" fontIcon="list_alt"></mat-icon>
              Verified Report</a>
          </li>

          <!-- <ngx-barcode [bc-value]="'001212'" [bc-display-value]="false"></ngx-barcode> -->

          <!-- End Varifier Navs -->

          <!-- <span *ngFor="let link of routes; let i = index;">
          <li class="nav-item" *ngIf="link.role === userDetails.role && link.subRoutes.length < 1">
            <a class="nav-link" [ngClass]="{'dropdown-toggle': link.subRoutes.length > 0}" [ngClass]="{'active-route': link.path === activatedRoute}" (click)="navigate(link.path)" href="Javascript:;">
              <mat-icon [fontIcon]="link.icon"></mat-icon>
              {{link.pathName}}</a>
          </li>

          <li *ngIf="link.role === userDetails.role && link.subRoutes.length > 0" class="nav-item" [id]="link.id">
            <a class="nav-link dropdown-toggle" [ngClass]="{'active-route': link.path === activatedRoute}"  href="Javascript:;" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + link.dropdownId" aria-expanded="false" [aria-controls]="link.dropdownId">
              <mat-icon class="pt-1" aria-hidden="false" aria-label="add" [fontIcon]="link.icon"></mat-icon>
               {{link.pathName}} </a>

               <div [id]="link.dropdownId" class="accordion-collapse collapse" [data-bs-parent]="link.id">
                <ul class="navbar-nav me-auto mb-lg-0 flex-column db-navbar px-4">
                  <li *ngFor="let sublink of link.subRoutes" class="nav-item m-0"  style="margin:0 !important">
                    <a class="nav-link" (click)="navigate(sublink.path)" href="Javascript:;">
                      <mat-icon class="pt-3 child-icon" aria-hidden="false" aria-label="add" fontIcon="lens"></mat-icon>
                       {{sublink.pathName}}</a>
                  </li>
                </ul>
              </div>
          </li>
          </span> -->

          <!-- <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active-route': this.router.url === '/dashboard'}" (click)="navigateToDashboard()" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="add" fontIcon="dashboard"></mat-icon>
              Dashboard</a>
          </li>

          <li class="nav-item" *ngIf="userDetails?.role === 4">
            <a class="nav-link" [ngClass]="{'active-route': this.router.url === '/dashboard/test-request'}" (click)="gotoTestRequest()" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="add" fontIcon="timeline"></mat-icon>
              Test Request</a>
          </li>

          <li class="nav-item" *ngIf="userDetails?.role === 4">
            <a class="nav-link" [ngClass]="{'active-route': this.router.url === '/dashboard/test-report'}" (click)="gotoTestReport()" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="add" fontIcon="how_to_vote"></mat-icon>
              Test Report</a>
          </li>

          <li class="nav-item" *ngIf="userDetails.role === 5">
            <a class="nav-link" [ngClass]="{'active-route': this.router.url === '/dashboard/commodity-pricing'}" href="Javascript:;" (click)="navigateToPricing()">
              <mat-icon aria-hidden="false" aria-label="add" fontIcon="insert_chart"></mat-icon>
              Commodity Pricing</a>
          </li>
          <li class="nav-item" *ngIf="userDetails.role === 1 || userDetails.role === 2">
            <a class="nav-link" [ngClass]="{'active-route': this.router.url === '/dashboard/user-requests'}" (click)="navigateToUserRequests()" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="add" fontIcon="assignment_ind"></mat-icon>
               User Requests</a>
          </li>
          <li class="nav-item" *ngIf="userDetails.role === 1 || userDetails.role === 2">
            <a class="nav-link" [ngClass]="{'active-route': this.router.url === '/dashboard/sample-requests'}" (click)="navigateToSampleRequests()" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="add" fontIcon="input"></mat-icon>
               Sample Requests</a>
          </li>

          <li class="nav-item" id="accordionExample" *ngIf="userDetails.role === 1 || userDetails.role === 2">
            <a class="nav-link dropdown-toggle" [ngClass]="{'active-route': this.router.url === '/dashboard/create-user' || this.router.url === '/dashboard/create-admin' || this.router.url === 'all-users'}"  href="Javascript:;" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <mat-icon class="pt-1" aria-hidden="false" aria-label="add" fontIcon="supervised_user_circle"></mat-icon>
               User Management </a>

               <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <ul class="navbar-nav me-auto mb-lg-0 flex-column db-navbar px-4">

                  <li class="nav-item m-0"  style="margin:0 !important">
                    <a class="nav-link" [ngClass]="{'active-route':this.router.url === '/dashboard/all-users'}" (click)="navigateToAllUsers()" href="Javascript:;">
                      <mat-icon class="pt-3 child-icon" aria-hidden="false" aria-label="add" fontIcon="lens"></mat-icon>
                       All User</a>
                  </li>

                  <li class="nav-item" style="margin:0 !important;">
                    <a class="nav-link" [ngClass]="{'active-route': this.router.url === '/dashboard/create-user'}" (click)="navigateToCreateUser()" href="Javascript:;">
                      <mat-icon class="pt-3 child-icon" aria-hidden="false" aria-label="add" fontIcon="lens"></mat-icon>
                       Create User</a>
                  </li>
                </ul>
              </div>
          </li>

          <li class="nav-item" *ngIf="userDetails.role === 1 || userDetails.role === 2">
            <a class="nav-link" [ngClass]="{'active-route':this.router.url === '/dashboard/search-sample'}" (click)="navigateToSearchSample()" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="add" fontIcon="image_search"></mat-icon>
               Search Sample</a>
          </li>

          <li class="nav-item" *ngIf="userDetails.role === 1 || userDetails.role === 2">
            <a class="nav-link" [ngClass]="{'active-route':this.router.url === '/dashboard/lab-report'}" (click)="navigateToLabReport()" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="add" fontIcon="file_copy"></mat-icon>
               Lab Report</a>
          </li>

          <li class="nav-item" *ngIf="userDetails.role === 1">
            <a class="nav-link" href="Javascript:;" data-bs-toggle="collapse" data-bs-target="#collapseSetting" aria-expanded="false" aria-controls="collapseSetting">
              <mat-icon class="pt-1" aria-hidden="false" aria-label="add" fontIcon="settings"></mat-icon>
               Settings<mat-icon class="pt-2" aria-hidden="false" aria-label="add" fontIcon="arrow_drop_down"></mat-icon></a>

               <div id="collapseSetting" class="accordion-collapse collapse" data-bs-parent="#collapseSetting">
                <ul class="navbar-nav me-auto mb-lg-0 flex-column db-navbar px-4">
                  <li class="nav-item" style="margin:0 !important;" (click)="navigateToClientCategory()">
                    <a class="nav-link" [ngClass]="{'active-route': this.router.url === '/dashboard/settings/client-category'}" (click)="navigateToCreateUser()" href="Javascript:;">
                      <mat-icon class="pt-3 child-icon" aria-hidden="false" aria-label="add" fontIcon="lens"></mat-icon>
                       Client Categories</a>
                  </li>

                  <li class="nav-item m-0"  style="margin:0 !important;">
                    <a (click)="gotoRole()" class="nav-link" [ngClass]="{'active-route': this.router.url === '/dashboard/user-group'}" href="Javascript:;">
                      <mat-icon class="pt-3 child-icon" aria-hidden="false" aria-label="add" fontIcon="lens"></mat-icon>
                       Group</a>
                  </li>

                  <li class="nav-item" style="margin:0 !important;">
                    <a class="nav-link" [ngClass]="{'active-route': this.router.url === '/dashboard/user-permissions'}" (click)="gotoPermission()" href="Javascript:;">
                      <mat-icon class="pt-3 child-icon" aria-hidden="false" aria-label="add" fontIcon="lens"></mat-icon>
                       Permission</a>
                  </li>
                </ul>
              </div>
          </li>

          <li class="nav-item" *ngIf="userDetails.role === 1 || userDetails.role === 2">
            <a class="nav-link"  href="Javascript:;" data-bs-toggle="collapse" data-bs-target="#collapseT" aria-expanded="false" aria-controls="collapseTwo">
              <mat-icon class="pt-1" aria-hidden="false" aria-label="add" fontIcon="supervised_user_circle"></mat-icon>
               Commodities <mat-icon class="pt-2" aria-hidden="false" aria-label="add" fontIcon="arrow_drop_down"></mat-icon></a>

               <div id="collapseT" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <ul class="navbar-nav me-auto mb-lg-0 flex-column db-navbar px-4">
                  <li class="nav-item" style="margin:0 !important;">
                    <a (click)="gotoAllCommodities()" class="nav-link" [ngClass]="{'active-route':this.router.url === '/dashboard/commodities/all'}" href="Javascript:;">
                      <mat-icon class="pt-3 child-icon" aria-hidden="false" aria-label="add" fontIcon="lens"></mat-icon>
                       All</a>
                  </li>

                  <li class="nav-item m-0"  style="margin:0 !important">
                    <a (click)="navigateToCommodityCategory()" [ngClass]="{'active-route':this.router.url === '/dashboard/commodities/category'}" class="nav-link" href="Javascript:;">
                      <mat-icon class="pt-3 child-icon" aria-hidden="false" aria-label="add" fontIcon="lens"></mat-icon>
                       Category</a>
                  </li>

                  <li class="nav-item m-0"  style="margin:0 !important">
                    <a class="nav-link" href="Javascript:;" (click)="navigateToCommodities()" [ngClass]="{'active-route':this.router.url === '/dashboard/commodities'}">
                      <mat-icon class="pt-3 child-icon" aria-hidden="false" aria-label="add" fontIcon="lens"></mat-icon>
                       Commodities</a>
                  </li>

                  <li class="nav-item m-0"  style="margin:0 !important">
                    <a class="nav-link" [ngClass]="{'active-route':this.router.url === '/dashboard/commodities/parameter'}" (click)="navigateCommoditiesParameter()" href="Javascript:;">
                      <mat-icon class="pt-3 child-icon" aria-hidden="false" aria-label="add" fontIcon="lens"></mat-icon>
                       Parameter</a>
                  </li>

                </ul>
              </div>
          </li>

          <li class="nav-item" *ngIf="userDetails.role === 5">
            <a class="nav-link" [ngClass]="{'active-route':this.router.url === '/dashboard/my-samples'}" (click)="navigateToMySamples()" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="add" fontIcon="local_drink"></mat-icon>
              My Samples</a>
          </li>
          <li class="nav-item" *ngIf="userDetails.role === 5">
            <a class="nav-link" [ngClass]="{'active-route':this.router.url === '/dashboard/report-view'}" (click)="navigateToReportView()" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="add" fontIcon="file_copy"></mat-icon>
              Report View</a>
          </li>

          <li class="nav-item" *ngIf="userDetails.role === 3">
            <a class="nav-link" [ngClass]="{'active-route':this.router.url === '/dashboard/samples'}" (click)="navigateToSampleSuperVisor()" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="add" fontIcon="file_copy"></mat-icon>
              Lab Request</a>
          </li>

          <li class="nav-item" *ngIf="userDetails.role === 3">
            <a class="nav-link" [ngClass]="{'active-route':this.router.url === '/dashboard/assigned-sample'}" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="add" fontIcon="file_copy"></mat-icon>
              Assigned Sample</a>
          </li>
          -->

          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active-route':this.router.url === '/dashboard/my-account'}"
              (click)="navigate('/dashboard/my-account')" href="Javascript:;">
              <mat-icon aria-hidden="false" aria-label="add" fontIcon="account_box"></mat-icon>
              My Account</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<a href="https://kantipurinfotech.com/" target="_blank" style="text-decoration: none;">
  <div class="navbar navbar-expand-lg kit-footer">
    <div class="kit-logo">
      <div class="kit-logo-container">
        <svg width="35" height="35" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.9999 0.494141L0.494141 13.9999L6.10453 19.6103L2.26124 23.4534L1.64403 24.0706L0.498322 25.2169L1.64479 26.3633L2.78707 27.5056L3.83149 26.4612C3.86817 26.4305 3.90371 26.3979 3.93811 26.3635L8.39791 21.9037L13.9999 27.5056L19.6063 21.8992L24.0706 26.3635C24.0866 26.3797 24.1028 26.3953 24.1193 26.4106L25.2146 27.5056L26.2689 26.4509C26.3009 26.4235 26.3329 26.3944 26.3626 26.3641C26.3923 26.3338 26.4218 26.3024 26.4494 26.2704L27.502 25.2176L26.4492 24.1648C26.4218 24.1329 26.3929 24.1014 26.3626 24.0712L21.8985 19.6071L27.5056 13.9999L13.9999 0.494141ZM19.6055 17.3141L22.9198 13.9999L13.9999 5.0802L5.08001 13.9999L8.39753 17.3174L14.0033 11.7119L19.6055 17.3141ZM10.6908 19.6107L13.9999 22.9198L17.3134 19.6063L14.0043 16.2972L10.6908 19.6107Z" fill="white"/>
        </svg>  
      </div>  
    </div>
    <div class="text-content">
      
        <span class="developed-by">Developed by</span><br>
        <p class="m-0" style="line-height: 1;">
        <span class="kit-name">Kantipur Infotech</span><br>
        <span class="kit-web">www.kantipurinfotech.com</span>
      </p>
    </div>
  </div>
</a>
</div>

<!-- <div class="row kit-footer"  style="position: fixed; bottom: 0; background-color: #fff; height: 80px; width: 17%;">
  <div class="col-md-2" style="padding-left: 10%;">
    <div class="kit-logo-container">
      <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.9999 0.494141L0.494141 13.9999L6.10453 19.6103L2.26124 23.4534L1.64403 24.0706L0.498322 25.2169L1.64479 26.3633L2.78707 27.5056L3.83149 26.4612C3.86817 26.4305 3.90371 26.3979 3.93811 26.3635L8.39791 21.9037L13.9999 27.5056L19.6063 21.8992L24.0706 26.3635C24.0866 26.3797 24.1028 26.3953 24.1193 26.4106L25.2146 27.5056L26.2689 26.4509C26.3009 26.4235 26.3329 26.3944 26.3626 26.3641C26.3923 26.3338 26.4218 26.3024 26.4494 26.2704L27.502 25.2176L26.4492 24.1648C26.4218 24.1329 26.3929 24.1014 26.3626 24.0712L21.8985 19.6071L27.5056 13.9999L13.9999 0.494141ZM19.6055 17.3141L22.9198 13.9999L13.9999 5.0802L5.08001 13.9999L8.39753 17.3174L14.0033 11.7119L19.6055 17.3141ZM10.6908 19.6107L13.9999 22.9198L17.3134 19.6063L14.0043 16.2972L10.6908 19.6107Z" fill="white"/>
      </svg>  
    </div>  
  </div>
  <div class="col-md-10" style="padding: 0;">
    <span>Developed by</span>
    <h3>Kantipur Infotech</h3>
    <p>www.kantipurinfotech.com</p>
  </div>
</div> -->

<!-- <div class="row"
  style="position: fixed; bottom: 0; background-color: #fff; height: 45px; width: 17%;border-top: 1px solid #00000021;">
  <div class="col-md-2" style="padding-left: 10%;">
    <img style="height: 30px;" class="mt-2" src="../../../assets/kantipur.png" />
  </div>
  <div class="col-md-10" style="padding: 0;">
    <h6 class="mt-3" style="color: #000; margin-left:10%">Developed by <b>Kantipur Infotech</b></h6>
  </div>
</div> -->
