/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}

.m-0 {
  margin: 0 !important;
}

.active-route {
  background-color: #2260bf !important;
  color: #fff;
  border-radius: 4px;
}

.nav-link {
  font-size: 14px !important;
  display: flex;
  align-items: center;

  mat-icon {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    // padding-top: 11px !important;
  }
}

.nav-link:hover {
  background-color: #2260bf;
  // .nav-link {
    color: #fff !important;
    border-radius: 4px;
  // }
}

.nav-item {
  margin: 5px 0;
  border-radius: 5px;
}

.add-sample-item {
  background-color: #E7F0F7;
}

.kit-footer{
  border-radius: 12px;
  border: 1px solid #DBDBDB;
  background: #FFF;
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.kit-logo-container{
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2260bf;
  border-radius: 6px;
}
svg path{
  fill: #ffffff;
}
.text-content{
  margin-left: 10px;
}
.developed-by{
  color: #EE5F32;
  font-size: 10px;
  font-weight: 500;
}
.kit-name{
  color: #000;
  font-size: 16px;
  font-weight: 600;
}
.kit-web{
  color: #58667E;
  font-size: 10px;
  font-weight: 500;
}
.kit-footer:hover{
  background: #2260bf;
  box-shadow: 0px 11px 24px 0px rgba(3, 76, 198, 0.26);
}
.kit-footer:hover .kit-logo-container{
  background: #ffffff;
}
.kit-footer:hover svg path{
  fill: #2260bf;
}
.kit-footer:hover .developed-by{
  color: #fff!important;
}
.kit-footer:hover .kit-name{
  color: #fff!important;
}
.kit-footer:hover .kit-web{
  color: #fff!important;
}

.db-navbar mat-icon{
  margin-right: 8px!important;
}
.nav-item:first-child{
  margin-top: 0!important;
}











.example-accordion {
  display: block;
  max-width: 500px;
}

.example-accordion-item {
  display: block;
  border: solid 1px #ccc;
}

.example-accordion-item + .example-accordion-item {
  border-top: none;
}

.example-accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.example-accordion-item-description {
  font-size: 0.85em;
  color: #999;
}

.example-accordion-item-header,
.example-accordion-item-body {
  padding: 16px;
}

.example-accordion-item-header:hover {
  cursor: pointer;
  background-color: #eee;
}

.example-accordion-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.example-accordion-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
