<app-navbar></app-navbar>

<div class="container-fluid w-100">
  <div class="row">
    <div class="col-md-2 p-0">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col-md-10 p-0">
      <div class="mt-100">
        <div
          style="padding:0 2%; border-bottom: 1px solid rgba(97, 97, 97, 0.2);position: sticky;top: 100px;background-color: #fff;z-index: 101;">
          <div class="three">
            <h2 class="m-0 pt-3">
              <button (click)="backClicked()" class="btn btn-primary btn-sm btn-lims-primary h-45">
                <mat-icon class="mt-1" aria-hidden="false" aria-label="back" fontIcon="keyboard_arrow_left"></mat-icon>
              </button>
              <span *ngFor="let b of breadcrumbs; let i = index">
                <!-- {{breadcrumbs[1] | json}} -->
                <!-- <span *ngIf="breadcrumbs.length > 2 && breadcrumbs[1] === 'add-sample'">View Sample Details</span> -->
                <span *ngIf="b === 'user-details'"> User Details</span>
                <span *ngIf="b === 'update-user'"> Update User</span>
                <span *ngIf="b === 'test-request-details'"> Test Request Details</span>
                <span *ngIf="i === breadcrumbs.length-1">
                  <span *ngIf="breadcrumbs[1] !== 'user-details' && breadcrumbs[1] !== 'update-user' && breadcrumbs[1] !== 'test-request-details'">
                    &nbsp;{{removeHyphen(b) | titlecase}}
                  </span>
                </span>
              </span>
            </h2>
          </div>
        </div>
        <div style="padding:2%;background-color:#eeeef5;min-height: 100vh;">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
