<div class="row m-0" style="padding: 3%;">
  <div class="col-md-10">
    <h2>Assign Sample To Analysts</h2>
  </div>
  <div class="col-md-2 text-end">
    <button (click)="closeDialog()" class="btn btn-lims-danger btn-sm"><mat-icon aria-hidden="false" aria-label="edit" fontIcon="close"></mat-icon></button>
  </div>
  <hr />

  <div class="col-md-12">
    <form [formGroup]="assignToAnalystform" class="row">
      <div *ngIf="message && message.messageBody" class="col-sm-12 col-md-12 col-lg-12">
        <div class="alert alert-info" role="alert">
          {{message?.messageBody}}
        </div>
      </div> 

      <div *ngIf="responseError" class="col-sm-12 col-md-12 col-lg-12">
        <div class="alert alert-danger" role="alert">
          <li *ngFor="let item of responseError | keyvalue">
            {{item.value}}
          </li>
        </div>
      </div>
      <div class="col-md-12">
        <label for="user" class="form-label">Select Analyst *</label>
        <mat-form-field class="w-100" appearance="outline">
          <mat-select placeholder="Select Analyst" formControlName="analyst_user" class="custom-select">
            <mat-option *ngFor="let user of users" [value]="user.id">
              {{user?.first_name}} {{user?.last_name}}
              <span *ngIf="user.test_type.includes(1)" class="badge badge-primary me-2" style="background-color: #36B37E; font-family: Poppins!important; padding: 4px 10px; font-weight: 500; border-radius: 3px!important;">(Chemical)</span>
              <span *ngIf="user.test_type.includes(2)" class="badge badge-primary me-2" style="background-color: #FBBC05; font-family: Poppins!important; padding: 4px 10px; font-weight: 500; border-radius: 3px!important;">(Microbiological)</span>
              <span *ngIf="user.test_type.includes(3)" class="badge badge-primary me-2" style="background-color: #917BFF; font-family: Poppins!important; padding: 4px 10px; font-weight: 500; border-radius: 3px!important;">(Instrumental)</span>

            </mat-option> 
          </mat-select>
          <mat-error class="text-danger" *ngIf="displayMessage?.analyst_user">{{displayMessage?.analyst_user}}</mat-error>
        </mat-form-field>
      </div>

      <!-- <div class="col-md-12" hidden>
        <label for="user" class="form-label">Commodity</label>
        <mat-form-field class="w-100" appearance="outline">
          <mat-select formControlName="commodity" placeholder="Select Commodity" class="custom-select">
            <mat-option disabled *ngFor="let c of commodities" [value]="c.id">{{c?.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->

      <!-- <div class="col-md-12">
        <label for="user" class="form-label">Select Parameter *</label>
        <mat-form-field class="w-100" appearance="outline">
          <mat-select formControlName="parameters" multiple placeholder="Select Parameter" class="custom-select">
            <span *ngFor="let c of commodityParameters">
            <mat-option [disabled]="c.exist === true"  [value]="c.id">{{c?.name}}</mat-option>
            </span>
          </mat-select>
          <mat-error class="text-danger" *ngIf="displayMessage?.parameters">{{displayMessage?.parameters}}</mat-error>
        </mat-form-field>
      </div> -->

      <div class="col-md-12 text-end mt-4">
        <button (click)="submit()" class="btn btn-primary btn-sm">

          <span *ngIf="!isLoading">Submit</span>
            <span *ngIf="isLoading">
              <i class="fa fa-circle-o-notch fa-spin"></i> Loading
            </span>
        </button>
      </div>
    </form>
  </div>
</div>
