<div class="bg-white pa-4">

  <!-- <div class="db-content"> -->
  <form [formGroup]="addSampleForm" (ngSubmit)="saveChanges()" class="sample-form">
    <p class="sample-detail">Please enter your sample details</p>
    <hr class="divider">

    <div class="row">
      <div *ngIf="message && message.messageBody" class="col-sm-12 col-md-12 col-lg-12">
        <div class="alert alert-danger" role="alert">
          {{message?.messageBody}}
        </div>
      </div>
      <div *ngIf="responseError" class="col-sm-12 col-md-12 col-lg-12">
        <div class="alert alert-danger" role="alert">
          <li *ngFor="let item of responseError | keyvalue">
            <!-- {{item.key}}: -->
            {{item.value}}
          </li>
        </div>
      </div>
      <div class="col-md-12" *ngIf="userDetails?.role === 1 || userDetails?.role === 2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-select formControlName="existing_user" class="custom-select" placeholder="Select User">
            <mat-option *ngFor="let user of users" [value]="user.email">{{user.first_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <label for="sampleName" class="col-form-label">Name of Sample (नमूनाको नाम)*</label>
        <mat-form-field appearance="outline" class="w-100">
          <input class="custom-input" matInput formControlName="name" placeholder="Enter Sample Name" />
          <mat-error class="text-danger" *ngIf="displayMessage?.name">{{displayMessage.name}}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <label for="email" class="col-form-label">Condition of sample while received (नमूना प्राप्त गर्दाको
          अवस्था)*</label>
        <mat-form-field appearance="outline" class="w-100">
          <input class="custom-input" matInput formControlName="condition" placeholder="Enter Sample Condition" />
          <mat-error class="text-danger" *ngIf="displayMessage?.condition">{{displayMessage.condition}}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-6">
        <label for="email" class="col-form-label">Date of Manufactured (उत्पादन मिति)*</label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput class="custom-input" [max]="maxDate" [matDatepicker]="mfdPicker" (focus)="mfdPicker.open()"
            (click)="mfdPicker.open()" placeholder="Enter Manufactured Date" formControlName="mfd" />

          <mat-datepicker #mfdPicker></mat-datepicker>
          <mat-error class="text-danger" *ngIf="displayMessage?.mfd">{{displayMessage.mfd}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <label for="email" class="col-form-label">Best before date (उपभोग्य मिति)*</label>

        <mat-form-field appearance="outline" class="w-100">
          <input matInput [matDatepicker]="dfbPicker" [min]="maxDate" (focus)="dfbPicker.open()" (click)="dfbPicker.open()"
            class="custom-input" placeholder="Enter Best Before Date" formControlName="dfb" />
          <mat-datepicker #dfbPicker></mat-datepicker>
          <mat-error class="text-danger" *ngIf="displayMessage?.dfb">{{displayMessage.dfb}}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <label for="email" class="col-form-label">Batch/Lot No. (ब्याच/ लट नं)*</label>
        <mat-form-field appearance="outline" class="w-100">
          <input type="number" class="custom-input" matInput formControlName="batch" placeholder="Enter batch or lot No." />
          <mat-error class="text-danger" *ngIf="displayMessage?.batch">{{displayMessage.batch}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <label for="email" class="col-form-label">Brand (ब्राण्ड)*</label>
        <mat-form-field appearance="outline" class="w-100">
          <input class="custom-input" matInput formControlName="brand" placeholder="Enter Brand Name" />
          <mat-error class="text-danger" *ngIf="displayMessage?.brand">{{displayMessage.brand}}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <label for="email" class="col-form-label">Purpose of Analysis (प्रयोगशाला विश्लेषणको उदेश्य)*</label>
        <mat-form-field appearance="outline" class="w-100">
          <input class="custom-input" matInput formControlName="purpose" placeholder="Enter purpose of analysis" />
          <mat-error class="text-danger" *ngIf="displayMessage?.purpose">{{displayMessage.purpose}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <label for="email" class="col-form-label">Report Required by Date (विश्लेषण प्रतिवेदन प्राप्त हुने अनुमानित
          मिति)*</label>
        <mat-form-field appearance="outline" class="w-100">
          <input class="custom-input" [min]="maxDate" matInput [matDatepicker]="reportDatePicker" (focus)="reportDatePicker.open()"
            (click)="reportDatePicker.open()" formControlName="report_date" placeholder="Enter Report Date" />
          <mat-datepicker #reportDatePicker></mat-datepicker>
          <mat-error class="text-danger" *ngIf="displayMessage?.report_date">{{displayMessage.report_date}}</mat-error>
        </mat-form-field>
        <!-- <np-datepicker  placeholder="asasd" class="nepali-datepicker"></np-datepicker> -->
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <label for="email" class="col-form-label">Amendments to Report (if any) (प्रतिवेदनमा संशोधन गर्नुपर्ने
          भएमा)</label>
        <mat-form-field appearance="outline" class="w-100">
          <textarea class="custom-input" matInput formControlName="amendments"
            placeholder="Enter Amendments to report"></textarea>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <label for="email" class="col-form-label">Note (if any) (अन्य केही भएमा)</label>
        <mat-form-field appearance="outline" class="w-100">
          <input class="custom-input custom-textarea" matInput formControlName="note"
            placeholder="Enter..">
            <!-- <mat-error class="text-danger" *ngIf="displayMessage?.brand">{{displayMessage.brand}}</mat-error> -->
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <label style="width:100%;" class="list-heading form-label">Commodity for Analysis (विश्लेषण गर्नुपर्ने
          वस्तु)*</label>
        <mat-form-field appearance="outline" class="custom-select w-100">
          <mat-select formControlName="commodity" placeholder="Select Category">
            <mat-option *ngFor="let commodity of commodities" [value]="commodity.id">{{commodity.name |
              titlecase}}</mat-option>
          </mat-select>
          <mat-error class="text-danger" *ngIf="displayMessage?.commodity">{{displayMessage.commodity}}</mat-error>
          <!-- <mat-error [@rowsAnimation]="displayMessage?.commodityForAnalysis" class="text-danger"
              *ngIf="displayMessage?.commodityForAnalysis">{{displayMessage?.commodityForAnalysis}}</mat-error> -->
        </mat-form-field>
      </div>

      <!-- <div class="col-sm-6">
        <label style="width:100%;" class="list-heading form-label">Parameters *</label>
          <mat-form-field appearance="outline" class="custom-select w-100">
            <mat-select multiple formControlName="parameters" placeholder="Select Parameter">
              <mat-option *ngFor="let parameter of commodityParameters" [value]="parameter.id">{{parameter.name | titlecase}}</mat-option>
            </mat-select>
          </mat-form-field>
      </div> -->

      <div class="col-sm-6">
        <label for="email" class="col-form-label">Reporting Language (विश्लेषण प्रतिवेदनको भाषा)*</label>
        <section class="example-section">
          <mat-radio-group formControlName="language">
            <mat-radio-button class="example-margin" value="np">नेपाली</mat-radio-button>
            <mat-radio-button class="example-margin" value="en">English</mat-radio-button>
          </mat-radio-group>
        </section>
      </div>
    </div>

    <div class="col-md-12" *ngIf="addSampleForm.value.commodity">
        <b>Price of Commodity:</b> Rs.{{priceOfCommodity}}

        <mat-checkbox formControlName="isParameter">Select Parameters</mat-checkbox>
    </div>

    <div class="col-md-12 mt-4" *ngIf="dataSource.data.length > 0 && !isLoading && addSampleForm.value.isParameter === true">
      <mat-card style="box-shadow: none;">
        <div *ngIf="selection.selected.length < 1" class="alert alert-warning">Please Select atleast one Parameter</div>
        <table mat-table [dataSource]="dataSource" [@collectionInOut]="dataSource.data?.length && addSampleForm.value.isParameter">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? toggleAllRows() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
          </tr>
        </table>

        <div class="row" *ngIf="isLoading">
          <div class="col-md-12 text-center py-3">
            <div class="spinner-border text-dark" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-end mr-5">
            <b>Total:</b> Rs.{{totalPrice}}
          </div>
        </div>
      </mat-card>
    </div>

    <div class="my-4 row">
      <div class="col-sm-12 text-end">
        <button [disabled]="addSampleForm.invalid" type="submit" class="btn btn-primary">
          <span *ngIf="!isSampleSent">Submit</span>
            <span *ngIf="isSampleSent">
              <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
            </span>
        </button>
      </div>
    </div>
  </form>

  <!-- </div> -->
</div>

