<div class="bg-white pa-4">

<!-- <div class="db-content"> -->
  <form [formGroup]="addSampleForm" (ngSubmit)="saveChanges()" class="sample-form">
    <p class="text-center sample-detail">Please enter your sample details</p>
    <hr class="divider">

    <div class="row">
      <div *ngIf="message && message.messageBody" class="col-sm-12 col-md-12 col-lg-12">
        <div class="alert alert-info" role="alert">
          {{message?.messageBody}}
        </div>
      </div>
      <div class="col-sm-6">
        <label for="sampleName" class="col-form-label">Name of Sample (नमूनाको नाम)*</label>
        <mat-form-field appearance="outline" class="w-100">
          <input class="custom-input" matInput formControlName="sampleName" placeholder="Enter Sample Name" />
          <mat-error [@rowsAnimation]="displayMessage?.sampleName" class="text-danger"
            *ngIf="displayMessage?.sampleName">{{displayMessage?.sampleName}}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <label for="email" class="col-form-label">Condition of sample while received (नमूना प्राप्त गर्दाको
          अवस्था)*</label>
          <mat-form-field appearance="outline" class="w-100">
            <input class="custom-input" matInput formControlName="sampleCondition" placeholder="Enter Sample Condition" />
            <mat-error [@rowsAnimation]="displayMessage?.sampleCondition" class="text-danger"
              *ngIf="displayMessage?.sampleCondition">{{displayMessage?.sampleCondition}}</mat-error>
          </mat-form-field>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-6">
        <label for="email" class="col-form-label">Date of Manufactured (उत्पादन मिति)*</label>
        <!-- <mat-form-field appearance="outline" class="w-100">
          <input matInput formControlName="mfd" placeholder="Enter manufactured date" />
          <mat-error [@rowsAnimation]="displayMessage?.mfd" class="text-danger"
            *ngIf="displayMessage?.mfd">{{displayMessage?.mfd}}</mat-error>
        </mat-form-field> -->

        <np-datepicker placeholder="asasd" class="nepali-datepicker"></np-datepicker>
      </div>
      <div class="col-sm-6">
        <label for="email" class="col-form-label">Best before date (उपभोग्य मिति)*</label>
        <!-- <mat-form-field appearance="outline" class="w-100">
          <input matInput formControlName="bbd" placeholder="Enter best before date" />
          <mat-error [@rowsAnimation]="displayMessage?.bbd" class="text-danger"
            *ngIf="displayMessage?.bbd">{{displayMessage?.bbd}}</mat-error>
        </mat-form-field> -->
        <np-datepicker placeholder="asasd" class="nepali-datepicker"></np-datepicker>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <label for="email" class="col-form-label">Batch/Lot No. (ब्याच/ लट नं)*</label>
        <mat-form-field appearance="outline" class="w-100">
          <input class="custom-input" matInput formControlName="batchOrLotNumber" placeholder="Enter batch or lot No." />
          <mat-error [@rowsAnimation]="displayMessage?.batchOrLotNumber" class="text-danger"
            *ngIf="displayMessage?.batchOrLotNumber">{{displayMessage?.batchOrLotNumber}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <label for="email" class="col-form-label">Brand (ब्राण्ड)*</label>
        <mat-form-field appearance="outline" class="w-100">
          <input class="custom-input" matInput formControlName="brandName" placeholder="Enter Brand Name" />
          <mat-error [@rowsAnimation]="displayMessage?.brandName" class="text-danger"
            *ngIf="displayMessage?.brandName">{{displayMessage?.brandName}}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <label for="email" class="col-form-label">Purpose of Analysis (प्रयोगशाला विश्लेषणको उदेश्य)*</label>
        <mat-form-field appearance="outline" class="w-100">
          <input class="custom-input" matInput formControlName="proposeOfAnalysis" placeholder="Enter purpose of analysis" />
          <mat-error [@rowsAnimation]="displayMessage?.proposeOfAnalysis" class="text-danger"
            *ngIf="displayMessage?.proposeOfAnalysis">{{displayMessage?.proposeOfAnalysis}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <label for="email" class="col-form-label">Report Required by Date (विश्लेषण प्रतिवेदन प्राप्त हुने अनुमानित
          मिति)*</label>
          <!-- <mat-form-field appearance="outline" class="w-100">
            <input matInput formControlName="reportRequiredByDate" placeholder="Enter Date" />
            <mat-error [@rowsAnimation]="displayMessage?.reportRequiredByDate" class="text-danger"
              *ngIf="displayMessage?.reportRequiredByDate">{{displayMessage?.reportRequiredByDate}}</mat-error>
          </mat-form-field> -->
          <np-datepicker  placeholder="asasd" class="nepali-datepicker"></np-datepicker>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <label for="email" class="col-form-label">Amendments to Report (if any) (प्रतिवेदनमा संशोधन गर्नुपर्ने
          भएमा)</label>
          <mat-form-field appearance="outline" class="w-100">
            <textarea class="custom-input" matInput formControlName="amendmentsToReport" placeholder="Enter Amendments to report"></textarea>
          </mat-form-field>
      </div>
      <div class="col-sm-6">
        <label for="email" class="col-form-label">Note (if any) (अन्य केही भएमा)</label>
        <mat-form-field appearance="outline" class="w-100">
          <textarea class="custom-input custom-textarea" matInput formControlName="note" placeholder="Enter.."></textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <label style="width:100%;" class="list-heading form-label">Commodity for Analysis (विश्लेषण गर्नुपर्ने
          वस्तु)*</label>
          <mat-form-field appearance="outline" class="custom-select w-100">
            <mat-select formControlName="commodityForAnalysis" placeholder="Select Category">
              <mat-option value="1">Milk</mat-option>
              <mat-option value="2">Sugar</mat-option>
              <mat-option value="3">Water</mat-option>
              <mat-option value="4">Salt</mat-option>
            </mat-select>
            <mat-error [@rowsAnimation]="displayMessage?.commodityForAnalysis" class="text-danger"
              *ngIf="displayMessage?.commodityForAnalysis">{{displayMessage?.commodityForAnalysis}}</mat-error>
          </mat-form-field>
      </div>
      <div class="col-sm-6">
        <label for="email" class="col-form-label">Reporting Language (विश्लेषण प्रतिवेदनको भाषा)*</label>
        <section class="example-section">
          <mat-radio-group formControlName="reportingLanguage">
            <mat-radio-button class="example-margin" value="after">नेपाली</mat-radio-button>
            <mat-radio-button class="example-margin" value="before">English</mat-radio-button>
          </mat-radio-group>
        </section>
      </div>
    </div>

    <div class="mb-4 row">
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary">Submit ( पेश गर्नुहोस् )</button>
      </div>
    </div>
  </form>

<!-- </div> -->
</div>
