<div class="white-bg pa-4">

  <!-- <div class="db-content"> -->
  <form [formGroup]="addSampleForm" (ngSubmit)="saveChanges()">
    <div>
      <p class="sample-detail">Sample Analysis Request Form</p>
      <hr class="divider">

      <div class="row margin-bottom-24">
        <div *ngIf="message && message.messageBody" class="col-md-12 col-md-12 col-lg-12">
          <div class="alert alert-danger" role="alert">
            {{message?.messageBody}}
          </div>
        </div> 
        <div *ngIf="responseError" class="col-md-12 col-md-12 col-lg-12">
          <div class="alert alert-danger" role="alert">
            <li *ngFor="let item of responseError | keyvalue">
              {{item.key}}:
              {{item.value}}
            </li>
          </div>
        </div>
        <div class="col-md-12 margin-bottom-24" *ngIf="userDetails?.role === 1 || userDetails?.role === 2">
          <!-- <mat-form-field appearance="outline" class="w-100">
          <mat-select formControlName="existing_user" class="custom-select" placeholder="Select User">
          <mat-option *ngFor="let user of users" [value]="user">{{user.first_name}} {{user.last_name}} (<span  style="font-weight: 500;">{{user.email}}</span>)</mat-option>
          </mat-select>
        </mat-form-field> -->
          <label for="sampleName" class="col-form-label">Select User (प्रयोगकर्ता छानुहोस)*</label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select class="custom-select" [formControl]="bankCtrl" placeholder="Select User" #singleSelect>
              <mat-option>
                <ngx-mat-select-search [formControl]="bankFilterCtrl" placeholderLabel="Search User"
                  noEntriesFoundLabel="'no matching user found'"></ngx-mat-select-search>
              </mat-option>

              <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
                {{bank.first_name}} {{bank.last_name}} ({{bank?.email}})
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-12">
          <label for="sampleName" class="col-form-label">Name of Sample (नमूनाको नाम)*</label>
          <mat-form-field appearance="outline" class="w-100">
            <input class="custom-input" matInput formControlName="name" placeholder="Enter Sample Name" />
            <mat-error class="text-danger" *ngIf="displayMessage?.name">{{displayMessage.name}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <label for="email" class="col-form-label">Condition of sample while received (नमूना प्राप्त गर्दाको
            अवस्था)*</label>
          <mat-form-field appearance="outline" class="w-100">
            <input class="custom-input" matInput formControlName="condition" placeholder="Enter Sample Condition" />
            <mat-error class="text-danger" *ngIf="displayMessage?.condition">{{displayMessage.condition}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <label for="email" class="col-form-label">Batch/Lot No. (ब्याच/ लट नं)*</label>
          <mat-form-field appearance="outline" class="w-100">
            <input type="text" class="custom-input" matInput formControlName="batch"
              placeholder="Enter batch or lot No." />
            <mat-error class="text-danger" *ngIf="displayMessage?.batch">{{displayMessage.batch}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <label for="email" class="col-form-label">Date of Manufactured (उत्पादन मिति)*</label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput class="custom-input" [max]="maxDateMFD" [matDatepicker]="mfdPicker"
              (focus)="mfdPicker.open()" (click)="mfdPicker.open()" placeholder="Enter MFD" formControlName="mfd" />

            <mat-datepicker #mfdPicker></mat-datepicker>
            <mat-error class="text-danger" *ngIf="displayMessage?.mfd">{{displayMessage.mfd}}</mat-error>
          </mat-form-field>
        </div>

        <!-- <div class="col-md-2">
        <label for="email" class="col-form-label">उत्पादन मिति</label>
        <np-datepicker class="h-45"
  [(ngModel)]="mfd_np"
  [dateFormatter]="formatter">
</np-datepicker>
      </div> -->

      </div>

      <div class="row margin-bottom-24">
        <div class="col-md-4" style="padding-top: 30px;">
          <label for="email" class="col-form-label">Best before date (उपभोग्य मिति)*</label>

          <mat-radio-group formControlName="dfb_type" aria-label="Select an option">
            <mat-radio-button [value]="'days'">Duration</mat-radio-button>
            <mat-radio-button [value]="'date'">Date</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="col-md-4" *ngIf="addSampleForm.value.dfb_type === 'days'">
          <div class="row">
            <div class="col-md-6">
              <label for="email" class="col-form-label">Duration</label>
              <div class="input-group">
                <mat-form-field appearance="outline" class="w-100">
                  <input formControlName="days_dfb" placeholder="Enter Duration" matInput type="text"
                    class=" custom-input" aria-label="Text input with dropdown button">
                </mat-form-field>
              </div>
            </div>

            <div class="col-md-6">
              <label for="email" class="col-form-label">Duration in</label>
              <mat-form-field class="w-100" appearance="outline">
                <mat-select formControlName="dfb_duration" class="custom-select" placeholder="Select">
                  <mat-option [value]="'days'">Days</mat-option>
                  <mat-option [value]="'month'">Months</mat-option>
                  <mat-option [value]="'year'">Year</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-md-4" *ngIf="addSampleForm.value.dfb_type === 'date'">
          <label for="email" class="col-form-label">Best before date (उपभोग्य मिति)*</label>

          <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="dfbPicker" [min]="maxDateB" (focus)="dfbPicker.open()"
              (click)="dfbPicker.open()" class="custom-input" placeholder="Enter Best Before Date"
              formControlName="dfb" />
            <mat-datepicker #dfbPicker></mat-datepicker>
            <mat-error class="text-danger" *ngIf="displayMessage?.dfb">{{displayMessage.dfb}}</mat-error>
          </mat-form-field>
        </div>

        <!-- <div class="col-md-2" *ngIf="addSampleForm.value.dfb_type === 'date'">
        <label for="email" class="col-form-label">उपभोग्य मिति</label>
        <np-datepicker class="h-45"
  [(ngModel)]="bbd_np"
  [dateFormatter]="formatter">
</np-datepicker>
      </div> -->
        <div class="col-md-4">
          <label for="email" class="col-form-label">Purpose of Analysis (प्रयोगशाला विश्लेषणको उदेश्य)*</label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select class="custom-select" formControlName="purpose" placeholder="Select Purpose of analysis">
              <mat-option *ngFor="let a of purposeOfAnalysis" [value]="a.name">{{a.name}}</mat-option>
            </mat-select>
            <!-- <input class="custom-input" matInput formControlName="purpose" placeholder="Enter purpose of analysis" /> -->
            <mat-error class="text-danger" *ngIf="displayMessage?.purpose">{{displayMessage.purpose}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row margin-bottom-24">
        <div class="col-md-12">
          <div class="row  mx-0"
            style="border: 1px solid #00000029; margin-right: 0;border-radius: 5px; padding: 24px 0px;">
            <div class="col-md-3">
              <label for="email" class="col-form-label">Sample Type (नमुनाको प्रकार)*</label>
              <mat-form-field class="w-100" appearance="outline">
                <mat-select formControlName="sample_type" class="custom-select" placeholder="Sample Type">
                  <mat-option *ngFor="let a of SampleTypes" [value]="a.name">{{a.name | titlecase}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-3">
              <label class="col-form-label">Sample Quantity (नमुनाको मात्रा)</label>
              <mat-form-field class="w-100" appearance="outline">
                <input class="custom-input" placeholder="Enter Quantity" matInput formControlName="sample_quantity" />
              </mat-form-field>
            </div>

            <div class="col-md-3">
              <label class="col-form-label">Units(एकाई)*</label>
              <mat-form-field appearance="outline" class="w-100">
                <input class="custom-input" matInput formControlName="sample_units" placeholder="Enter Sample Uint"
                  [disabled]="true" />
              </mat-form-field>
            </div>

            <div class="col-md-3">
              <label for="email" class="col-form-label">Number of sample (नमुनाको संख्या)*</label>
              <mat-form-field class="w-100" appearance="outline">
                <input class="custom-input" formControlName="number_of_sample" matInput
                  placeholder="Enter Sample per unit" />
              </mat-form-field>
            </div>


            <!-- <div class="col-md-3" *ngIf="addSampleForm.get('sample_type').value === 'liquid'">
          <label class="col-form-label">Units *</label>
          <mat-form-field appearance="outline" class="w-100">
            <input  class="custom-input" matInput formControlName="sample_units" placeholder="Enter Sample Uint" [disabled]="true" />
          </mat-form-field>
        </div> -->


          </div>
        </div>
      </div>

      <div class="row margin-bottom-24">
        <div class="col-md-4">
          <label for="email" class="col-form-label">Brand (ब्राण्ड)*</label>
          <mat-form-field appearance="outline" class="w-100">
            <input class="custom-input" matInput formControlName="brand" placeholder="Enter Brand Name" />
            <mat-error class="text-danger" *ngIf="displayMessage?.brand">{{displayMessage.brand}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <label for="email" class="col-form-label">Estimated Report Required Date(विश्लेषण प्रतिवेदन प्राप्त हुने
            अनुमानित मिति)</label>
          <mat-form-field appearance="outline" class="w-100">
            <input class="custom-input" [min]="maxDate" matInput [matDatepicker]="reportDatePicker"
              (focus)="reportDatePicker.open()" (click)="reportDatePicker.open()" formControlName="report_date"
              placeholder="Enter Estimated Date" />
            <mat-datepicker #reportDatePicker></mat-datepicker>
            <!-- <mat-error class="text-danger" *ngIf="displayMessage?.report_date">{{displayMessage.report_date}}</mat-error> -->
          </mat-form-field>
        </div>

        <!-- <div class="col-md-2">
        <label for="email" class="col-form-label">विश्लेषण प्रतिवेदन प्राप्त हुने अनुमानित
          मिति</label>
        <np-datepicker class="h-45"
  [(ngModel)]="eed_np"
  [dateFormatter]="formatter">
</np-datepicker>
      </div> -->


        <div class="col-md-4">
          <label for="email" class="col-form-label">Reporting Language (विश्लेषण प्रतिवेदनको भाषा)*</label>
          <mat-form-field class="custom-select w-100" appearance="outline">
            <mat-select formControlName="language" placeholder="Select Language">
              <mat-option [value]="'en'">English</mat-option>
              <mat-option [value]="'np'">Nepali</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <section class="example-section">
          <mat-radio-group formControlName="language">
            <mat-radio-button class="example-margin" value="en">English</mat-radio-button>
            <mat-radio-button class="example-margin" value="np">नेपाली</mat-radio-button>
          </mat-radio-group>
        </section> -->
        </div>

      </div>

      <div class="row margin-bottom-24">

        <div class="col-md-6 notes">
          <label for="email" class="col-form-label">Amendments to Report (if any) (प्रतिवेदनमा संशोधन गर्नुपर्ने
            भएमा)</label>
          <mat-form-field appearance="outline" class="w-100">
            <input class="custom-input" matInput formControlName="amendments" placeholder="Enter Amendments to report">
          </mat-form-field>
        </div>

        <div class="col-md-6 notes">
          <label for="email" class="col-form-label">Note (if any) (अन्य केही भएमा)</label>
          <mat-form-field appearance="outline" class="w-100">
            <input class="custom-input custom-textarea" matInput formControlName="note"
              placeholder="Enter note (if any)">
            <!-- <mat-error class="text-danger" *ngIf="displayMessage?.brand">{{displayMessage.brand}}</mat-error> -->
          </mat-form-field>
        </div>
      </div>

      
      <div *ngIf="!sampleId" style="border: 1px solid #0000001a;
      border-radius: 5px;
      padding: 1%;">

        <span style="font-weight: bold;">{{getClientCategoryName(loggedUser?.client_category)}} User</span>


        <div class="row">
          <div class="col-md-12">
            <label style="width:100%;" class="list-heading form-label">Client Category</label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select class="custom-select" placeholer="Select Client Category" formControlName="client_type">
                <mat-option *ngFor="let c of clientCategories" [value]="c.id">{{c.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-12" *ngIf="addSampleForm.value.client_type === 11">
            <label style="width:100%;" class="list-heading form-label">Sample Type </label>
            <mat-form-field appearance="outline" class="custom-select w-100">
              <mat-select formControlName="client_sub_category" class="custom-select" placeholder="Select...">
                <mat-option [value]="'licensing'">Licensing</mat-option>
                <mat-option [value]="'surveillance'">Surveillance</mat-option>
                <mat-option [value]="'formal'">Formal</mat-option>
                <mat-option [value]="'gap'">GAP</mat-option>
                <mat-option [value]="'standard_formation'">Standard Formation</mat-option>
                <mat-option [value]="'import_export'">Import/Export</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div formArrayName="sampleDocuments">
          <div class="row mt-2" *ngFor="let list of samples.controls; let i = index" [formGroupName]="i">
            <!-- *ngFor="let list of propertyDetail.controls; let i = index" [formGroupName]="i" -->
            <div class="col-md-6">
              <label class="form-label">Document Name</label>
              <mat-form-field appearance="outline" class="w-100">
                <input class="custom-input" formControlName="document_name" matInput
                  placeholder="Enter Document Name" />

              </mat-form-field>
            </div>

            <div class="col-md-6">
              <label for="formFile" class="form-label">Sample Document</label>
              <input (change)="uploadImage($event)" formControlName="file" class="form-control" type="file"
                id="formFile">
            </div>
          </div>
        </div>
        <div class="col-md-12 text-end p-3 mt-2">
          <!-- <button (click)="save()" class="btn btn-primary btn-sm mx-2">Save Doc</button> -->
          <button (click)="addDocList()" type="button" class="btn btn-primary btn-sm">Add new</button>
        </div>
      </div>

      <div class="row margin-bottom-24 mt-3">
        <div class="col-md-12">
          <label style="width:100%;" class="list-heading form-label">Commodity for Analysis (विश्लेषण गर्नुपर्ने
            वस्तु)* </label>
          <mat-form-field appearance="outline" class="custom-select w-100">
            <mat-select formControlName="commodity" placeholder="Select Category">
              <mat-option *ngFor="let commodity of commodities" [value]="commodity.id">{{commodity.name |
                titlecase}}</mat-option>
            </mat-select>
            <mat-error class="text-danger" *ngIf="displayMessage?.commodity">{{displayMessage.commodity}}</mat-error>
            <!-- <mat-error [@rowsAnimation]="displayMessage?.commodityForAnalysis" class="text-danger"
              *ngIf="displayMessage?.commodityForAnalysis">{{displayMessage?.commodityForAnalysis}}</mat-error> -->
          </mat-form-field>
        </div>
      </div>


      <div>
        <div class="col-md-12 text-start d-flex align-items-center justify-content-between"
          *ngIf="addSampleForm.value.commodity">
          <mat-checkbox formControlName="isParameter" class="select-parameter"
            *ngIf="addSampleForm.value.commodity">Select Parameters </mat-checkbox>
          <p *ngIf="!addSampleForm.value.isParameter" class="mb-0 price-box">Commodity Analysis Fee (वस्तु परिक्षण दस्तुर) :
            <b>Rs.{{priceOfCommodity}}</b>
          </p>
        </div>
      </div>

      <div class="col-md-12 mt-4"
        *ngIf="dataSource.data.length > 0 && !isLoading && addSampleForm.value.isParameter === true">
        <mat-card style="box-shadow: none;">
          <div class="alert alert-primary d-flex align-items-center" *ngIf="selection.selected.length < 1" role="alert">
            <svg width="24" height="24" class="me-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M16.334 2.00024H7.665C4.26743 2.00024 2 4.43284 2 7.91624V16.0842C2 19.5709 4.26137 22.0002 7.665 22.0002H16.333C19.7376 22.0002 22 19.5709 22 16.0842V7.91624C22 4.42975 19.7378 2.00024 16.334 2.00024ZM7.665 3.50024H16.334C18.8845 3.50024 20.5 5.23521 20.5 7.91624V16.0842C20.5 18.7654 18.8844 20.5002 16.333 20.5002H7.665C5.11476 20.5002 3.5 18.7656 3.5 16.0842V7.91624C3.5 5.23862 5.12034 3.50024 7.665 3.50024ZM11.9993 7.45434C12.4135 7.45434 12.7493 7.79013 12.7493 8.20434C12.7493 8.58404 12.4671 8.89784 12.1011 8.9475L11.9893 8.95434C11.5751 8.95434 11.2393 8.61856 11.2393 8.20434C11.2393 7.82465 11.5215 7.51085 11.8875 7.46119L11.9993 7.45434ZM11.9893 10.6271C12.369 10.6271 12.6828 10.9093 12.7325 11.2754L12.7393 11.3771V15.7961C12.7393 16.2104 12.4035 16.5461 11.9893 16.5461C11.6096 16.5461 11.2958 16.264 11.2461 15.8979L11.2393 15.7961V11.3771C11.2393 10.9629 11.5751 10.6271 11.9893 10.6271Z"
                fill="#2460B9" />
            </svg>

            Please select atleast one parameter!
          </div>

          <p *ngIf="sampleId">Selected Parameters: <span class="badge badge-primary mx-1"
              style="background-color: #14080855;" *ngFor="let pm of existingParameters">{{pm?.name}}</span></p>

          <table mat-table [dataSource]="dataSource"
            [@collectionInOut]="dataSource.data?.length && addSampleForm.value.isParameter">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? toggleAllRows() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let element"> Rs.{{element.price}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>
          </table>

          <div class="row" *ngIf="isLoading">
            <div class="col-md-12 text-center py-3">
              <div class="spinner-border text-dark" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-12 text-start d-flex align-items-center justify-content-end last-pp">
              <p class="mb-0 price-box">Parameter Analysis Fee (पारामिटर परिक्षण दस्तुर): <b>Rs.{{totalPrice}}</b></p>
            </div>
          </div>


        </mat-card>
      </div>


    </div>
  </form>
  <!-- <np-datepicker
  [(ngModel)]="date"
  [dateFormatter]="formatter">
</np-datepicker> -->
  <!-- </div> -->
</div>

<div class="row white-bg mt-3 mx-0">
  <div class="col-md-12 text-end">
    <button type="button" class="btn btn-primary cancel-btn me-3" (click)="gotoDashboard()">
      <span>Cancel</span>
    </button>
    <button
      [disabled]="(addSampleForm.invalid || (this.addSampleForm.value.isParameter === true && selection.selected.length < 1) )"
      type="submit" class="btn btn-primary submit-btn" (click)="saveChanges()">
      <span *ngIf="!isSampleSent">Submit Sample</span>
      <span *ngIf="isSampleSent">
        <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
      </span>
    </button>
  </div>
</div>