<div class="row bg-white p-3 m-0">
  <div class="col-md-12">

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <input class="form-control custom-input" matInput
              placeholder="Search" />
          </mat-form-field>
        </div>
      </div>
    </div>

    <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <ng-container *ngIf="column !== 'expand'; else action">
          <th mat-header-cell *matHeaderCellDef> {{column | titlecase}} </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="column === 'price'">Rs.{{element[column]}} </span>
            <span *ngIf="column!== 'price'">{{element[column]}} </span>

          </td>
        </ng-container>
        <ng-template #action>
          <th mat-header-cell *matHeaderCellDef style="width: 20px !important;"> </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element?.a">
            <mat-icon (click)="expandedElement = expandedElement === element ? null : element">{{expandedElement ===
              element
              ? 'expand_less' : 'expand_more'}}</mat-icon>
              </div>
          </td>
        </ng-template>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" style="background-color:#eeeef5;">
            <div class="example-element-description" style="width: 100%;">
              <table class="table table-bordered" style="background-color: #fff;">
                <thead>
                  <tr>
                    <th scope="col">Test Type</th>
                    <!-- <th></th> -->
                    <th scope="col">Parameter</th>
                    <th scope="col">Test Method</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Duration</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td rowspan="4">Chemical Test</td>
                  </tr>
                  <tr>
                    <!-- <td>
                      <mat-checkbox></mat-checkbox>
                    </td> -->
                    <td>Ph</td>
                    <td>AOAC (20th) Edn 973.41:2016</td>
                    <td>Rs.500</td>
                    <td>5 Days</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center py-5" colspan="8">
          <img src="../../../../assets/no-data.svg" />
          <div class="text-muted">Data Not Available.</div>

        </td>
      </tr>
    </table>

    <mat-paginator class="paginator paginator-border" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>

  </div>
</div>
