<form  [formGroup]="filterForm" class="row">
  <div

    [ngClass]="filterForm.get('role')?.value === 5 ? 'col-md-6' : 'col-md-8'"
    >
    <mat-form-field appearance="outline" class="w-100">
      <input class="custom-input" matInput formControlName="search" placeholder="Search" #input>
    </mat-form-field>
  </div>
  <div class="col-md-2">
    <mat-form-field appearance="outline" class="w-100">
      <mat-select formControlName="role" class="custom-select" placeholder="Select Role">
        <mat-option *ngFor="let role of roles" [value]="role.role_id">{{role.role_name}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <div class="col-md-2" *ngIf="filterForm.get('role')?.value === 5">
    <!-- <mat-form-field appearance="outline" class="custom-select w-100">
      <mat-select placeholder="Status" formControlName="status">
        <mat-option *ngFor="let s of statusList; let i = index" [value]="s.id">{{s.name | titlecase}}</mat-option>
      </mat-select>
    </mat-form-field> -->
    <mat-form-field appearance="outline" class="custom-select w-100">
      <mat-select placeholder="Client Category" formControlName="client_category_id">
        <mat-option *ngFor="let item of clientCategories" [value]="item.id">{{item.name | titlecase}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-1 text-end">
    <button (click)="filter()" [disabled]="filterBtnLoading" class="btn btn-primary w-100 h-45">
      <span *ngIf="!filterBtnLoading">Filter</span>
            <span *ngIf="filterBtnLoading">
              <i class="fa fa-circle-o-notch fa-spin"></i>
            </span>
    </button>
  </div>

  <div class="col-md-1 text-end">
    <button (click)="resetFilter()" class="btn btn-danger w-100 h-45">
      Reset
    </button>
  </div>
</form>


<div>
  <table *ngIf="!isLoading" class="custom-border" mat-table [dataSource]="dataSource" matSort [@collectionInOut]="dataSource.data?.length">

    <ng-container matColumnDef="sn">
      <th mat-header-cell *matHeaderCellDef> S.N </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="userId" sticky>
      <th mat-header-cell *matHeaderCellDef> User ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef> User Name </th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="row.username">{{row.username | titlecase}} </span>
        <span *ngIf="!row.username" class="text-muted">N/A</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef> Full Name </th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="row.first_name || row.last_name"> {{row.first_name | titlecase}}  {{row.last_name | titlecase}}</span>
        <span *ngIf="!row.first_name && !row.last_name" class="text-muted">N/A</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="row.email">{{row.email}} </span>
        <span *ngIf="!row.email" class="text-muted">N/A</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="registerDate">
      <th mat-header-cell *matHeaderCellDef> Register Date </th>
      <td mat-cell *matCellDef="let row"> {{row.date_joined | date}} </td>
    </ng-container>

    <ng-container matColumnDef="userRole">
      <th mat-header-cell *matHeaderCellDef> User Role </th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="row.role">{{getRoleName(row.role)}}</span>
        <span *ngIf="!row.role" class="text-muted">N/A</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let row">
        <button [matTooltip]="'View User Details'" (click)="viewUserDetails(row.id)" class="btn btn-primary btn-lims-primary btn-sm mx-1 pt-2"><mat-icon aria-hidden="false" aria-label="view" fontIcon="remove_red_eye"></mat-icon></button>
        <button [matTooltip]="'Download User Details'" class="btn btn-primary btn-lims-primary btn-sm mx-1 pt-2"><mat-icon aria-hidden="false" aria-label="download" fontIcon="save_alt"></mat-icon></button>
        <button [matTooltip]="'Edit User Details'" (click)="updateUser(row.id)" class="btn btn-primary btn-lims-primary btn-sm mx-1 pt-2"><mat-icon aria-hidden="false" aria-label="edit" fontIcon="edit"></mat-icon></button>
        <button [matTooltip]="'Delete User'" (click)="deleteUser(row.id)" class="btn btn-outline-danger btn-lims-danger btn-sm mx-1 pt-2"><mat-icon aria-hidden="false" aria-label="delete" fontIcon="delete_outline"></mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-center py-5" colspan="8">
        <img src="../../../../assets/no-data.svg" />
        <div class="text-muted">Data Not Available.</div>

      </td>
    </tr>
  </table>
  <div class="row" *ngIf="isLoading">
    <div class="col-md-12 text-center py-3">
      <div class="spinner-border text-dark" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>

  <mat-paginator class="paginator paginator-border" [pageSizeOptions]="[10, 25,  50, 100]" aria-label="Select page of users"></mat-paginator>
</div>

