body{
    margin: 20px 0;
}
.container{
    max-width: 700px;
}
.container h4{
    font-size: 18px;
}
.container p{
    font-size: 18px;
}
.row b{
    font-size: 18px;
}
ul li{
    font-weight: 600;
    font-size: 18px;
}