<div>
  <table class="custom-border" mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="sn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> S.N </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="contentType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Content Type </th>
      <td mat-cell *matCellDef="let row"> {{row.content_type}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-center" colspan="8">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator class="paginator paginator-border" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
