<div class="row m-0 p-0">
    <div class="col-md-12 m-0 p-0">
        <div class="row m-0">
            <div class="col-md-10">
                <h1 class="mb-0" mat-dialog-title style="font-family: Poppins!important; font-weight: 600;">Parameter
                    Details</h1>
            </div>
            <div class="col-md-2 text-end pt-2">
                <button (click)="closeDialog()" class="btn btn-lims-danger btn-sm"><mat-icon aria-hidden="false"
                        aria-label="edit" fontIcon="close"></mat-icon></button>
            </div>
        </div>

        <hr class="mt-0" />

        <mat-dialog-content>
            <div class="row">
                <div *ngIf="responseError" class="col-sm-12 col-md-12 col-lg-12">
                    <div class="alert alert-danger" role="alert">
                        <li *ngFor="let item of responseError | keyvalue">
                            {{item.key}}:&nbsp;
                            {{item.value}}
                        </li>
                    </div>
                </div>
            </div>
            <form [formGroup]="parameterDetailsForm" style="    border: 1px solid #00000052;
        padding: 25px;
    ">
                <div class="row">
                    <div class="col-md-6">
                        <label>Physical condition of sample</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput class="custom-input" placeholder="Physical condition of sample"
                                formControlName="physical_condition_of_sample" />
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <label>Media Used</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput class="custom-input" placeholder="Media used"
                                formControlName="media_used" />
                        </mat-form-field>
                    </div>

                    <div class="col-md-12">
                        <label>Prepared Dilution</label>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" class="w-100">
                                    <!-- <input matInput class="custom-input" placeholder="Prepared Dilution"
                                        formControlName="prepared_dilution" /> -->
        
                                        <mat-select formControlName="first_exponent" class="custom-select" placeholder="Select Dilution">
                                            <mat-option [value]="'10^0'">10⁰</mat-option>
                                            <mat-option [value]="'10^-1'">10⁻¹</mat-option>
                                            <mat-option [value]="'10^-2'">10⁻²</mat-option>
                                            <mat-option [value]="'10^-3'">10⁻³</mat-option>
                                            <mat-option [value]="'10^-4'">10⁻⁴</mat-option>
                                            <mat-option [value]="'10^-5'">10⁻⁵</mat-option>
                                        </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" class="w-100">
                                    <!-- <input matInput class="custom-input" placeholder="Prepared Dilution"
                                        formControlName="prepared_dilution" /> -->
        
                                        <mat-select formControlName="second_exponent" class="custom-select" placeholder="Select Dilution">
                                            <mat-option [value]="'10^0'">10⁰</mat-option>
                                            <mat-option [value]="'10^-1'">10⁻¹</mat-option>
                                            <mat-option [value]="'10^-2'">10⁻²</mat-option>
                                            <mat-option [value]="'10^-3'">10⁻³</mat-option>
                                            <mat-option [value]="'10^-4'">10⁻⁴</mat-option>
                                            <mat-option [value]="'10^-5'">10⁻⁵</mat-option>
                                        </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" class="w-100">
                                    <!-- <input matInput class="custom-input" placeholder="Prepared Dilution"
                                        formControlName="prepared_dilution" /> -->
        
                                        <mat-select formControlName="third_exponent" class="custom-select" placeholder="Select Dilution">
                                            <mat-option [value]="'10^0'">10⁰</mat-option>
                                            <mat-option [value]="'10^-1'">10⁻¹</mat-option>
                                            <mat-option [value]="'10^-2'">10⁻²</mat-option>
                                            <mat-option [value]="'10^-3'">10⁻³</mat-option>
                                            <mat-option [value]="'10^-4'">10⁻⁴</mat-option>
                                            <mat-option [value]="'10^-5'">10⁻⁵</mat-option>
                                        </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label>Diluent Used</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput class="custom-input" placeholder="Diluent Used"
                                formControlName="diluent_used" />
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <label>Positive Control Used</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput class="custom-input" placeholder="Positive Control Used"
                                formControlName="positive_control_used" />
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <label>Negative Control Used</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput class="custom-input" placeholder="Negative Control Used"
                                formControlName="negative_control_used" />
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <label>Date And Time </label>
                        <!-- <mat-form-field appearance="outline" class="w-100"> -->
                        <input style="border: 1px solid #0000006e;
                        border-radius: 5px; height: 45px;" formControlName="date_of_incubation" class="form-control" placeholder="Enter Date" type="datetime-local">
                        <!-- </mat-form-field> -->
                        <!-- <mat-form-field appearance="outline" class="w-100">

                            <input matInput class="custom-input" [matDatepicker]="date" (focus)="date.open()"
                                (click)="date.open()" placeholder="Enter Manufactured Date"
                                formControlName="date_of_incubation" />

                            <mat-datepicker #date></mat-datepicker>
                        </mat-form-field> -->

                        <!-- <mat-form-field>
                            <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" 
                               >
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="true"
                              [stepHour]="stepHours" [stepMinute]="stepMinutes" [stepSecond]="stepSeconds"
                              >
                            </ngx-mat-datetime-picker>
                          </mat-form-field> -->

                    </div>

                    <div class="col-md-6">
                        <label>Required Temprature</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <!-- <input matInput class="custom-input" placeholder="Temprature"
                                formControlName="required_temperature" /> -->
                                <mat-select formControlName="required_temperature" placeholder="Select Temprature" class="custom-select">
                                    <mat-option [value]="'25'">25⁰C</mat-option>
                                    <mat-option [value]="'30'">30⁰C</mat-option>
                                    <mat-option [value]="'37'">37⁰C</mat-option>
                                </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-12 text-right text-end">
                        <button *ngIf="!this.data?.selectedParameter?.micro_table" (click)="setMicroParameter()"
                            class="btn btn-primary  btn-lims-primary btn-sm">
                            <span *ngIf="!isSetParameterDetails">Submit</span>
                            <span *ngIf="isSetParameterDetails">
                                <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
                            </span>
                        </button>

                        <button *ngIf="this.data?.selectedParameter?.micro_table" (click)="updateMicroParameter()"
                            class="btn btn-primary  btn-lims-primary btn-sm">
                            <span *ngIf="!isSetParameterDetails">Update</span>
                            <span *ngIf="isSetParameterDetails">
                                <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
                            </span>
                        </button>
                    </div>
                </div>

            </form>

            <form action="" [formGroup]="observationForm"
                *ngIf="addedParameterDetails || data.selectedParameter?.micro_table">
                <table style=" margin: auto;" class="child-table">
                    <h2 style="font-size: 1.1rem; margin: 1rem 0 0 1rem;">Observation:</h2>
                    <tr>
                        <td colspan="2" rowspan="3" class="p-1 text-bold">Observation</td>
                        <td rowspan="3" class="text-bold">Temp <br> C</td>
                        <td rowspan="3" class="text-bold">Time</td>
                        <td colspan="6" style="height: 20px;">
                            <p style="margin: 0;" class="text-bold"> Reading of samples (per dilution)</p>
                        </td>
                        <td rowspan="3" class="text-bold">Reading <br>
                            of <br>
                            Negative <br>
                            control
                        </td>
                        <td rowspan="3" class="text-bold">Reading <br>
                            of <br>
                            Positive <br>
                            control
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><div [innerHtml]="addedParameterDetails?.first_exponent | superscript"></div></td>
                        <td colspan="2"><div [innerHtml]="addedParameterDetails?.second_exponent | superscript"></div></td>
                        <td colspan="2"><div [innerHtml]="addedParameterDetails?.third_exponent | superscript"></div></td>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>B</td>
                        <td>A</td>
                        <td>B</td>
                        <td>A</td>
                        <td>B</td>
                    </tr>
                    <ng-container formArrayName="observation">
                        <tr *ngFor="let list of form.controls; let i = index" [formGroupName]="i">
                            <td colspan="2" class="text-bold">
                                {{observationForm.value.observation[i].observation_number}}
                                <!-- <input formControlName="observation_number" type="text" /> -->
                            </td>
                            <td style="width: 50px;">
                                <!-- <input formControlName="temperature" type="text"> -->
                                {{observationForm.value.observation[i].temperature}} <sup>o</sup>C
                            </td>
                            <td style="width: 50px;">
                                <!-- <input formControlName="time" type="text"> -->
                                {{observationForm.value.observation[i].time | slice:11:19}}
                            </td>
                            <td><input formControlName="first_exponent_a" type="text"></td>
                            <td><input formControlName="first_exponent_b" type="text"></td>
                            <td><input formControlName="second_exponent_a" type="text"></td>
                            <td><input formControlName="second_exponent_b" type="text"></td>
                            <td><input formControlName="third_exponent_a" type="text"></td>
                            <td><input formControlName="third_exponent_b" type="text"></td>
                            <td><input formControlName="negative_control" type="text"></td>
                            <td><input formControlName="positive_control" type="text"></td>
                        </tr>
                    </ng-container>
                    <!-- <tr>
                    <td colspan="2" class="text-bold">2 (48hrs)</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td colspan="2" class="text-bold">3 (72hrs)</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td colspan="2" class="text-bold">4 (96hrs)</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td colspan="2" class="text-bold">5 (120hrs)</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr> -->
                </table>
                <div class="row me-1 mt-3">
                    <div class="col-md-11"></div>
                    <div class="col-md-1">
                        <!-- <button (click)="saveObservationTable()" type="submit" class="btn btn-primary" style="margin-left: auto;">Calculate</button> -->

                    </div>
                </div>
            </form>


        </mat-dialog-content>

        <mat-dialog-actions align="end">
            <button (click)="closeDialog()" class="btn btn-danger btn-sm cancel-btn mx-1">Cancel</button>
            <button [disabled]="isLoading" *ngIf="!data?.selectedParameter?.micro_table" (click)="saveObservationTable()"
                class="btn btn-primary btn-sm cancel-btn mx-1">Save and Next</button>
            <button [disabled]="isLoading" *ngIf="data?.selectedParameter?.micro_table" (click)="updateObservationTable()"
                class="btn btn-primary btn-sm cancel-btn mx-1">Update and Next</button>
        </mat-dialog-actions>
    </div>
</div>