<div class="container d-flex justify-content-center align-items-center">
  <div class="form-container">
      <div class="login-intro mb-3">
          <img src="../../../assets/nepal-government.png" alt="" class="np-logo">
          <p class="lims">Laboratory Information Management System -<br>(LIMS)</p>
          <hr class="divider">
          <p class="login-detail">Reset Your Password</p>
      </div>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="saveChanges()">
          <div class="row">
            <div *ngIf="message && message.messageBody" class="col-sm-12 col-md-12 col-lg-12">
              <div class="alert alert-info" role="alert">
                {{message?.messageBody}}
              </div>
            </div>

              <div class="col-sm-12 col-md-12 col-lg-12">
                  <label for="email" class="col-form-label">Enter New Password*</label>
                  <mat-form-field appearance="outline" class="w-100">
                    <input  type="password" matInput formControlName="password" placeholder="Enter new password" />
                    <!-- <mat-error  [@rowsAnimation]="displayMessage?.email" class="text-danger" *ngIf="displayMessage?.email">{{displayMessage?.email}}</mat-error> -->
                  </mat-form-field>
              </div>

              <div class="col-sm-12 col-md-12 col-lg-12">
                <label for="email" class="col-form-label">Confirm Password*</label>
                <mat-form-field appearance="outline" class="w-100">
                  <input type="password" matInput formControlName="confirm_password" placeholder="Enter password" />
                  <!-- <mat-error  [@rowsAnimation]="displayMessage?.email" class="text-danger" *ngIf="displayMessage?.email">{{displayMessage?.email}}</mat-error> -->
                </mat-form-field>

                <span *ngIf="forgotPasswordForm.hasError('passwordMatch')" class="text-danger">Passwords do not match.</span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-block">
                  <span *ngIf="!isLoading">Submit</span>
                  <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
                </button>
            </div>
        </div>
      </form>
      <!-- <div class="mb-4 mt-4 login-additional">
          <p class="rg">Don't have an account?</p>
          <a class="register" (click)="navigateToRegister()" href="Javascript:;">Register</a>
      </div> -->
  </div>
</div>
