.custom-input {
  padding-top: 10px !important;
}

.mat-mdc-header-row {
  background-color: #E7F0F7 !important;
}

.custom-border {
  border: 1px solid #0000002e !important;
}

.paginator-border {
  border: 1px solid #0000002e !important;
}

.paginator {
  ::ng-deep {
    .mat-mdc-text-field-wrapper {
      height: 30px !important;
    }
  }
}

