<!-- <div class="row bg-white m-0 p-2" *ngIf="sampleDetails">
  <div class="col-md-12">
    <h2 class="text-lims-primary mb-0">Sample Details</h2>
    <hr class="" />
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <h3>
          <span class="text-bold">Sample Name:</span> {{sampleDetails?.name | titlecase}}
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Condition:</span> {{sampleDetails?.condition}}
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Manufactured Date: </span>
          <span>{{sampleDetails.mfd | date}}</span>
          <span *ngIf="!sampleDetails.mfd" class="text-muted">N/A</span>
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Best Before Date: </span>
          <span *ngIf="sampleDetails.dfb">{{sampleDetails.dfb | date}}</span>
          <span *ngIf="!sampleDetails.dfb" class="text-muted">N/A</span>
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Batch: </span>
          <span *ngIf="sampleDetails.batch">{{sampleDetails.batch}}</span>
          <span *ngIf="!sampleDetails.batch" class="text-muted">N/A</span>
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Brand: </span>
          <span *ngIf="sampleDetails?.brand">{{sampleDetails.brand}}</span>
          <span *ngIf="!sampleDetails?.brand" class="text-muted">N/A</span>
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Purpose of Analysis: </span>
          <span *ngIf="sampleDetails.purpose">{{sampleDetails.purpose}}</span>
          <span *ngIf="!sampleDetails.purpose" class="text-muted">N/A</span>
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Report Required Date: </span>
          <span *ngIf="sampleDetails.report_date">{{sampleDetails.report_date | date}}</span>
          <span *ngIf="!sampleDetails.report_date" class="text-muted">N/A</span>
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Amendments: </span>
          <span *ngIf="sampleDetails?.amendments">{{sampleDetails?.amendments}}</span>
          <span *ngIf="!sampleDetails?.amendments" class="text-muted">N/A</span>
        </h3>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <h2 class="text-lims-primary mb-0">Commodity Details</h2>
    <hr class="" />

    <div class="row">
      <div class="col-md-4">
        <h3>
          <span class="text-bold"> Name:</span> {{getCommodityName(sampleDetails?.commodity) | titlecase}}
        </h3>
      </div>

      <div class="col-md-8">
        <b>Parameters:</b><span class="badge badge-primary mx-1" style="background-color: #2260bf;"
          *ngFor="let p of sampleDetails?.parameters">{{p.name}}</span>
      </div>
    </div>
  </div>

  <div class="col-md-12 text-end">
    <hr />
    <button (click)="assign(sampleDetails)" class="btn btn-primary btn-sm mx-1">Assign</button>
  </div>
</div> -->

<div class="row" *ngIf="sampleDetails">
  <div class="db-content">
    <!-- <div class="top-view-page p-2 mb-3">
      <div class="row log-details p-3">
        <div class="col-md-3">
          <div class="row">
            <p>Supervise By</p>
            <h4 *ngIf="reportDetails?.supervisor_user?.first_name">{{reportDetails?.supervisor_user?.first_name}} {{reportDetails?.supervisor_user?.last_name}}</h4>
            <h4 *ngIf="!reportDetails?.supervisor_user?.first_name" class="text-muted">N/A</h4>
          </div>
          <div class="row mt-2">
            <p>Created By</p>
            <h4 *ngIf="reportDetails?.owner_user?.first_name">{{reportDetails?.owner_user?.first_name}} {{reportDetails?.owner_user?.last_name}}</h4>
            <h4 class="text-muted" *ngIf="!reportDetails?.owner_user?.first_name">N/A</h4>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row" *ngIf="reportDetails.approved_date">
            <p>Assigned Date</p>
            <h4>{{reportDetails.approved_date | date: 'medium'}}</h4>
          </div>
          <div class="row mt-2" *ngIf="reportDetails?.created_date">
            <p>Created at</p>
            <h4>{{reportDetails?.created_date | date:'medium'}}</h4>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row" *ngIf="reportDetails.verified_by?.first_name">
            <p>Verified By</p>
            <h4 *ngIf="reportDetails.verified_by?.first_name">{{reportDetails.verified_by?.first_name}} {{reportDetails.verified_by?.last_name}}</h4>
            <h4 class="text-muted" *ngIf="!reportDetails.verified_by?.first_name">N/A</h4>
          </div>
          <div class="row mt-2" *ngIf="reportDetails?.completed_date">
                      <p>Verified at</p>
                      <h4 *ngIf="reportDetails?.completed_date">{{reportDetails?.completed_date | date: 'medium'}}</h4>
                      <h4 *ngIf="!reportDetails?.completed_date" class="text-muted">N/A</h4>
                  </div>
        </div>
        <div class="col-md-3 log-status">
          <span style="padding: 8px" class="badge badge-primary" [statusColor]="reportDetails?.status">
            {{reportDetails?.status}}</span>
        </div>
      </div>
    </div> -->
    <div class="view-page">
      <!-- <h3 class="view-page-heading">Sample Details</h3> -->
      <div class="row">
        <div class="col-md-3">
          <h4 class="mb-0">Sample ID</h4>
          <p>{{reportDetails.supervisor_encode_id}}</p>
        </div>
        <div class="col-md-3">
          <h4 class="mb-0">Sample Name </h4>
          <p>{{reportDetails.name}}</p>
        </div>
        

        <div class="col-md-3">
          <h4 class="mb-0">Assigned Date </h4>
          <p>{{reportDetails.approved_date | date: 'medium'}}</p>
        </div>

        <div class="col-md-3 text-end pt-3">
          <span style="padding: 8px" class="badge badge-primary" [statusColor]="reportDetails?.status">
            {{reportDetails?.status}}</span>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-4">
          <h4>MFD</h4>
          <p>{{reportDetails.mfd | date}}</p>
        </div>
        <div class="col-md-4">
          <h4>Best Before Date</h4>
          <p>{{reportDetails.dfb | date}}</p>
        </div>

        <div class="col-md-4">
          <h4>Batch</h4>
          <p>{{reportDetails.batch}}</p>
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="col-md-4">
          <h4>Brand</h4>
          <p>{{reportDetails.brand}}</p>
        </div>

        <div class="col-md-4">
          <h4>Purpose of Analysis</h4>
          <p>{{reportDetails?.purpose}}</p>
        </div>

        <div class="col-md-4">
          <h4>Condition</h4>
          <p>{{reportDetails.condition}}</p>
        </div>
      </div> -->
    </div>

    <div class="view-page mt-3">
      <h3 class="view-page-heading">Parameter Details</h3>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <tr>
              <th>S.N.</th>
              <th>Test Type</th>
              <th>Parameter Name</th>
              <!-- <th>Formula</th> -->
              <th>Method</th>
              <!-- <th>Units</th> -->
              <!-- <th>Price</th> -->
              <!-- <th>Mandatory Standards</th> -->
              <th>Analyst</th>
              <!-- <th>Result</th> -->
              <!-- <th>Status</th> -->
              <th>Action</th>
            </tr>
            <tbody>
              <tr *ngFor="let r of reportDetails.parameters; let i = index;">
                <td>{{i+1}}</td>
                <td>
                  <span *ngIf="r.test_type">
                    <span *ngIf="r.test_type === '1'">Chemical Test</span>
                    <span *ngIf="r.test_type === '2'">Microbiological Test</span>
                    
                  </span>
                  <span *ngIf="!r.test_type" class="text-muted">N/A</span>
                  
                </td>
                <td>{{r.name | titlecase}}</td>
                <!-- <td>{{r.formula}}</td> -->
                <td>{{r.ref_test_method}}</td>
                <!-- <td>{{r.units}}</td> -->
                <!-- <td>Rs.{{r.price}}</td> -->
                <!-- <td>{{r.mandatory_standard}}</td> -->
                <td>
                  <div *ngIf="r.analyst" class="authors-container" data-collaborators="10">
                    <div class="author">
                      <div class="mask cursor-pointer">
                        <ngx-avatar size="25" [name]="r.analyst"
                          [matTooltip]="r.analyst"></ngx-avatar>
                      </div>
                    </div>
                  </div>
                  <div class="text-muted" *ngIf="!r.analyst">N/A</div>
                </td>
                <!-- <td>
                  <span *ngIf="r?.result">{{r?.result}}</span>
                  <span *ngIf="!r?.result" class="text-muted">N/A</span>
                </td> -->
                <!-- <td>
                  <span *ngIf="r.status" class="badge badge-primary" [statusColor]="r.status">{{r.status | titlecase}}</span>
                  <span *ngIf="!r.status" class="text-muted">N/A</span>
                </td> -->
                <td>
                  <!-- {{r | json}} -->
                  <button *ngIf="!r.exist" (click)="assign(r, 'i')" class="btn btn-primary btn-sm">Assign</button>
                  <button *ngIf="r.exist" (click)="assign(r, 'i')" class="btn btn-primary btn-lims-primary btn-sm">Re-Assign</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-12 bg-white text-end mt-3 p-3" style="border-radius: 5px;">
      <button (click)="assign(sampleDetails, 'a')" class="btn btn-primary btn-sm mx-1">Assign All</button>
    </div>
  </div>
</div>

<div class="row bg-white" *ngIf="!sampleDetails">
  <div class="col-md-12 text-center py-3">
    <div class="spinner-border text-dark" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
