<!-- <div class="row bg-white m-0 p-2" *ngIf="sampleDetails">
  <div class="col-md-12">
    <h2 class="text-lims-primary mb-0">Sample Details</h2>
    <hr class="" />
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <h3>
          <span class="text-bold">Sample Name:</span> {{sampleDetails?.name | titlecase}}
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Condition:</span> {{sampleDetails?.condition}}
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Manufactured Date: </span>
          <span>{{sampleDetails.mfd | date}}</span>
          <span *ngIf="!sampleDetails.mfd" class="text-muted">N/A</span>
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Best Before Date: </span>
          <span *ngIf="sampleDetails.dfb">{{sampleDetails.dfb | date}}</span>
          <span *ngIf="!sampleDetails.dfb" class="text-muted">N/A</span>
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Batch: </span>
          <span *ngIf="sampleDetails.batch">{{sampleDetails.batch}}</span>
          <span *ngIf="!sampleDetails.batch" class="text-muted">N/A</span>
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Brand: </span>
          <span *ngIf="sampleDetails?.brand">{{sampleDetails.brand}}</span>
          <span *ngIf="!sampleDetails?.brand" class="text-muted">N/A</span>
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Purpose of Analysis: </span>
          <span *ngIf="sampleDetails.purpose">{{sampleDetails.purpose}}</span>
          <span *ngIf="!sampleDetails.purpose" class="text-muted">N/A</span>
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Report Required Date: </span>
          <span *ngIf="sampleDetails.report_date">{{sampleDetails.report_date | date}}</span>
          <span *ngIf="!sampleDetails.report_date" class="text-muted">N/A</span>
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Amendments: </span>
          <span *ngIf="sampleDetails?.amendments">{{sampleDetails?.amendments}}</span>
          <span *ngIf="!sampleDetails?.amendments" class="text-muted">N/A</span>
        </h3>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <h2 class="text-lims-primary mb-0">Commodity Details</h2>
    <hr class="" />

    <div class="row">
      <div class="col-md-4">
        <h3>
          <span class="text-bold"> Name:</span> {{getCommodityName(sampleDetails?.commodity) | titlecase}}
        </h3>
      </div>

      <div class="col-md-8">
        <b>Parameters:</b><span class="badge badge-primary mx-1" style="background-color: #2260bf;"
          *ngFor="let p of sampleDetails?.parameters">{{p.name}}</span>
      </div>
    </div>
  </div>

  <div class="col-md-12 text-end">
    <hr />
    <button (click)="assign(sampleDetails)" class="btn btn-primary btn-sm mx-1">Assign</button>
  </div>
</div> -->

<div class="row" *ngIf="sampleDetails">
  <div class="db-content">
    <!-- <div class="top-view-page p-2 mb-3">
      <div class="row log-details p-3">
        <div class="col-md-3">
          <div class="row">
            <p>Supervise By</p>
            <h4 *ngIf="reportDetails?.supervisor_user?.first_name">{{reportDetails?.supervisor_user?.first_name}} {{reportDetails?.supervisor_user?.last_name}}</h4>
            <h4 *ngIf="!reportDetails?.supervisor_user?.first_name" class="text-muted">N/A</h4>
          </div>
          <div class="row mt-2">
            <p>Created By</p>
            <h4 *ngIf="reportDetails?.owner_user?.first_name">{{reportDetails?.owner_user?.first_name}} {{reportDetails?.owner_user?.last_name}}</h4>
            <h4 class="text-muted" *ngIf="!reportDetails?.owner_user?.first_name">N/A</h4>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row" *ngIf="reportDetails.approved_date">
            <p>Assigned Date</p>
            <h4>{{reportDetails.approved_date | date: 'medium'}}</h4>
          </div>
          <div class="row mt-2" *ngIf="reportDetails?.created_date">
            <p>Created at</p>
            <h4>{{reportDetails?.created_date | date:'medium'}}</h4>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row" *ngIf="reportDetails.verified_by?.first_name">
            <p>Verified By</p>
            <h4 *ngIf="reportDetails.verified_by?.first_name">{{reportDetails.verified_by?.first_name}} {{reportDetails.verified_by?.last_name}}</h4>
            <h4 class="text-muted" *ngIf="!reportDetails.verified_by?.first_name">N/A</h4>
          </div>
          <div class="row mt-2" *ngIf="reportDetails?.completed_date">
                      <p>Verified at</p>
                      <h4 *ngIf="reportDetails?.completed_date">{{reportDetails?.completed_date | date: 'medium'}}</h4>
                      <h4 *ngIf="!reportDetails?.completed_date" class="text-muted">N/A</h4>
                  </div>
        </div>
        <div class="col-md-3 log-status">
          <span style="padding: 8px" class="badge badge-primary" [statusColor]="reportDetails?.status">
            {{reportDetails?.status}}</span>
        </div>
      </div>
    </div> -->
    <div class="view-page">
      <!-- <h3 class="view-page-heading">Sample Details</h3> -->
      <div class="row">
        <div class="col-md-3">
          <h4 class="mb-0">Sample ID</h4>
          <p>{{reportDetails.sample_form.id}}</p>
        </div>
        <div class="col-md-3">
          <h4 class="mb-0">Sample Name </h4>
          <p>{{reportDetails?.sample_form?.name}}</p>
        </div>
        

        <div class="col-md-3">
          <h4 class="mb-0">Assigned Date </h4>
          <p>{{reportDetails.created_date | date: 'medium'}}</p>
        </div>  

        <div class="col-md-3 text-end pt-3">
          <span style="padding: 8px" class="badge badge-primary" [statusColor]="reportDetails?.status">
            {{reportDetails?.status}}</span>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-4">
          <h4>MFD</h4>
          <p>{{reportDetails.mfd | date}}</p>
        </div>
        <div class="col-md-4">
          <h4>Best Before Date</h4>
          <p>{{reportDetails.dfb | date}}</p>
        </div>

        <div class="col-md-4">
          <h4>Batch</h4>
          <p>{{reportDetails.batch}}</p>
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="col-md-4">
          <h4>Brand</h4>
          <p>{{reportDetails.brand}}</p>
        </div>

        <div class="col-md-4">
          <h4>Purpose of Analysis</h4>
          <p>{{reportDetails?.purpose}}</p>
        </div>

        <div class="col-md-4">
          <h4>Condition</h4>
          <p>{{reportDetails.condition}}</p>
        </div>
      </div> -->
    </div>

    <div class="view-page mt-3">
      <!-- <h3 class="view-page-heading">Parameter Details</h3> -->
      <div class="row">
        <div class="col-md-12">
          <div>
            <!-- <table *ngIf="!isLoading" class="custom-border" mat-table [dataSource]="reportDetails.parameters" matSort
              [@collectionInOut]="dataSource.data?.length">
          
              <ng-container matColumnDef="sn">
                <th mat-header-cell *matHeaderCellDef> S.N. </th>
                <td mat-cell *matCellDef="let row; let i = index"> {{i+1}} </td>
              </ng-container>
          
              <ng-container matColumnDef="testType">
                <th mat-header-cell *matHeaderCellDef> Test Type </th>
                <td mat-cell *matCellDef="let row">
                  <span *ngIf="row.test_type">
                    {{row.test_type}}
                    
                  </span>
                  <span class="text-muted" *ngIf="!row.test_type">N/A</span>
                </td>
              </ng-container>
          
              <ng-container matColumnDef="parameterName">
                <th mat-header-cell *matHeaderCellDef> Parameter </th>
                <td mat-cell *matCellDef="let row">
                  <span *ngIf="row?.name">{{row?.name | titlecase}} </span>
                  <span *ngIf="!row?.name" class="text-muted">N/A</span>
                </td>
              </ng-container>
          
              <ng-container matColumnDef="method">
                <th mat-header-cell *matHeaderCellDef> Method </th>
                <td mat-cell *matCellDef="let row">
                  <span *ngIf="row.name">{{row?.name}}</span>
                  <span *ngIf="!row.name" class="text-muted">N/A</span>
                </td>
              </ng-container>
        
          
              <ng-container matColumnDef="analyst">
                <th mat-header-cell *matHeaderCellDef> Analyst </th>
                <td mat-cell *matCellDef="let row">
                  <div  class="authors-container" data-collaborators="10" *ngIf="row.analyst">
                    <div class="author">
                      <div class="mask cursor-pointer">
                        <ngx-avatar size="40" [name]="row.analyst" [matTooltip]="row.analyst"></ngx-avatar>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!row.analyst" class="text-muted">N/A</div>
                </td>
              </ng-container>
          
            
          
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let row">
                  <button *ngIf="!row.exist" (click)="assign(row, 'i', row.test_type)" class="btn btn-primary btn-sm">Assign</button>
                  <button *ngIf="row.exist" (click)="assign(row, 'i', row.test_type)" class="btn btn-primary btn-lims-primary btn-sm">Re-Assign</button>
                </td> 
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table> -->

            <table class="table table-bordered" *ngIf="sampleDetails">
              <thead>
                <tr>
                  <th scope="col" class="text-center">S.N.</th>
                  <th scope="col">Test Type</th>
                  <th scope="col">Parameter</th>
                  <!-- <th scope="col" class="text-center">Status</th> -->
                  <th style="text-align: center!important;">Assigned</th>
                  <th class="text-center" scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- {{distributedSample.ch | json}} -->
                <ng-container *ngFor="let r of distributedSample?.bi; let i = index;">
                  <tr>
                    <td class="text-center">{{i+1}}</td>
                    <td *ngIf="i === 0" [attr.rowspan]="distributedSample?.bi?.length">
                      <span>
                        {{r.test_type | titlecase}}
                      </span>
                    </td>
                    <td>
                      <span>{{r.name | titlecase}} </span>
                    </td>
                    <td class="text-center" style="text-align: center!important;">
                      <div *ngIf="!r.exist">
                        <button (click)="assign(r, 'i', r.test_type)" class="btn btn-primary btn-lims-primary btn-sm mx-2">Assign</button>
                      <!-- <span class="badge badge-primary" *ngIf="r.exists_supervisor_parameter === true" style="background-color: #212529; color: #fff;">Assigned</span> -->
                      </div>
                      
                      <div *ngIf="r.exist" class="authors-container d-flex justify-content-center" data-collaborators="10">
                        <div class="author assign-supervisor-avatar">
                          <div class="mask cursor-pointer d-flex align-items-center">
                            <ngx-avatar (click)="assign(r, 'i', r.test_type)" size="30" [name]="r.first_name + '' + r.last_name"
                              [matTooltip]="r.first_name + '' + r.last_name" class="me-2"></ngx-avatar> <span>{{r.first_name | titlecase}}  {{r.last_name | titlecase}}
                                </span>
                                <span class="material-icons ms-2 cross-icon">
                                  highlight_off
                                  </span>
                          </div>
                        </div>
                      </div>


                    </td>
                    <!-- <td>
                      <div *ngIf="r.supervisor_user" class="authors-container" data-collaborators="10">
                        <div class="author">
                          <div class="mask cursor-pointer">
                            <ngx-avatar size="40" [name]="r.supervisor_user"
                              [matTooltip]="r.supervisor_user"></ngx-avatar>
                          </div>
                        </div>
                      </div>
                      <span *ngIf="!r.supervisor_user" class="text-muted">N/A</span>
                    </td> -->
                    <td class="text-center" *ngIf="i === 0" [attr.rowspan]="distributedSample?.bi?.length">
                      <button (click)="assignAllType(r,'mi',r.test_type)" class="btn btn-primary btn-sm">Assign All</button>
                    </td>
                  </tr>
                </ng-container>

                <ng-container *ngFor="let r of distributedSample?.in; let i = index;">
                  <tr>
                    <td class="text-center">{{i+1}}</td>
                    <td *ngIf="i === 0" [attr.rowspan]="distributedSample?.in?.length">
                      <span>
                        {{r.test_type | titlecase}}
                      </span>
                    </td>
                    <td>
                      <span>{{r.name | titlecase}} </span>
                    </td>
                    <td class="text-center">
                      <div *ngIf="!r.exist">

                        <button (click)="assign(r, 'i', r.test_type)" class="btn btn-primary btn-lims-primary btn-sm mx-2">Assign</button>
                      <!-- <span class="badge badge-primary" *ngIf="r.exists_supervisor_parameter === true" style="background-color: #212529; color: #fff;">Assigned</span> -->
                      </div>
                      
                      <div *ngIf="r.exist" class="authors-container d-flex justify-content-center" data-collaborators="10">
                        <div class="author assign-supervisor-avatar">
                          <div class="mask cursor-pointer d-flex align-items-center">
                              <ngx-avatar (click)="assign(r, 'i', r.test_type)" size="30" [name]="r.first_name + '' + r.last_name"
                              [matTooltip]="r.first_name + '' + r.last_name" class="me-2"></ngx-avatar> <span>{{r.first_name | titlecase}}  {{r.last_name | titlecase}}
                                </span>
                                <span class="material-icons ms-2 cross-icon">
                                  highlight_off
                                  </span>
                          </div>
                          
                        </div>
                      </div>


                    </td>
                    <td *ngIf="i === 0" [attr.rowspan]="distributedSample?.in?.length" class="text-center">
                      <button (click)="assignAllType(r,'in',r.test_type)" class="btn btn-primary btn-sm">Assign All</button>
                    </td>
                  </tr>
                </ng-container>

                <ng-container *ngFor="let r of distributedSample?.ch; let i = index;">
                  <tr>
                    <td class="text-center">{{i+1}}</td>
                    <td *ngIf="i === 0" [attr.rowspan]="distributedSample?.bi?.length">
                      <span>
                        {{r.test_type | titlecase}}
                      </span>
                    </td>
                    <td>
                      <span>{{r.name | titlecase}} </span>
                    </td>
                    <td class="text-center">
                      <div *ngIf="!r?.exist">
                        <button (click)="assign(r, 'i', r.test_type)" class="btn btn-primary btn-lims-primary btn-sm mx-2">Assign</button>
                      <!-- <span class="badge badge-primary" *ngIf="r.exists_supervisor_parameter === true" style="background-color: #212529; color: #fff;">Assigned</span> -->
                      </div>
                      
                      <div *ngIf="r?.exist" class="authors-container d-flex justify-content-center" data-collaborators="10">
                        <div class="author assign-supervisor-avatar">
                          <div class="mask cursor-pointer d-flex align-items-center">
                            <ngx-avatar (click)="assign(r, 'i', r.test_type)" size="30" [name]="r.fist_name + ' ' + r.last_name"
                              [matTooltip]="r.first_name + '' + r.last_name" class="me-2"></ngx-avatar> <span>{{r.first_name | titlecase}} {{r.last_name | titlecase}} 
                                </span>
                                <span class="material-icons ms-2 cross-icon">
                                  highlight_off
                                  </span> 
                          </div> 
                        </div>
                      </div>


                    </td>
                    <td class="text-center" *ngIf="i === 0" [attr.rowspan]="distributedSample?.bi?.length">
                      <button (click)="assignAllType(r,'ch',r.test_type)" class="btn btn-primary btn-sm">Assign All</button>
                    </td>
                  </tr>
                </ng-container>

              </tbody>
            </table>

            
            <div class="row" *ngIf="isLoading">
              <div class="col-md-12 text-center py-3">
                <div class="spinner-border text-dark" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </div>
          <!-- <table class="table table-bordered">
            <tr>
              <th>S.N.</th>
              <th>Test Type</th>
              <th>Parameter Name</th>
              <th>Method</th>
              <th>Analyst</th>
              <th>Action</th>
            </tr>
            <tbody>
              <tr *ngFor="let r of reportDetails.parameters; let i = index;">
                <td>{{i+1}}</td>
                <td>
                  <span *ngIf="r.test_type">
                    <span *ngIf="r.test_type === '1'">Chemical Test</span>
                    <span *ngIf="r.test_type === '2'">Microbiological Test</span>
                    
                  </span>
                  <span *ngIf="!r.test_type" class="text-muted">N/A</span>
                  
                </td>
                <td>{{r.name | titlecase}}</td>
                <td>{{r.ref_test_method}}</td>
                <td>
                  <div *ngIf="r.analyst" class="authors-container" data-collaborators="10">
                    <div class="author">
                      <div class="mask cursor-pointer">
                        <ngx-avatar size="25" [name]="r.analyst"
                          [matTooltip]="r.analyst"></ngx-avatar>
                      </div>
                    </div>
                  </div>
                  <div class="text-muted" *ngIf="!r.analyst">N/A</div>
                </td>
                <td>
                  <button *ngIf="!r.exist" (click)="assign(r, 'i')" class="btn btn-primary btn-sm">Assign</button>
                  <button *ngIf="r.exist" (click)="assign(r, 'i')" class="btn btn-primary btn-lims-primary btn-sm">Re-Assign</button>
                </td>
              </tr>
            </tbody>
          </table> -->
        </div>
      </div>
    </div>

    <!-- <div class="col-md-12 bg-white text-end mt-3 p-3" style="border-radius: 5px;">
      <button (click)="assign(sampleDetails, 'a')" class="btn btn-primary btn-sm mx-1">Assign All</button>
    </div> -->
  </div>
</div>

<div class="row bg-white" *ngIf="!sampleDetails">
  <div class="col-md-12 text-center py-3">
    <div class="spinner-border text-dark" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
