<div class="bg-white p-4">
  <div class="row">
    <div class="col-md-4" *ngIf="loggedUserDetails?.role ===1">
      <div class="row">
        <div class="col-md-12 pa-4">
          <form [formGroup]="commoditiesForm">
            <div class="row">
              <div class="col-md-12 text-center pt-2">
                <h1>Add Commodity</h1>
                <hr />
                <div *ngIf="message && message?.messageBody" class="col-sm-12 col-md-12 col-lg-12">
                  <div class="alert alert-danger" role="alert">
                    {{message?.messageBody}}
                  </div>
                </div>

                <div *ngIf="responseError" class="col-sm-12 col-md-12 col-lg-12">
                    <div class="alert alert-danger" role="alert">
                      <li *ngFor="let item of responseError | keyvalue">
                        {{item.key}}:{{item.value}}
                      </li>
                    </div>
                  </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="mb-2">Commodity Name *</label>
                  <mat-form-field appearance="outline" class="w-100">
                    <input class="custom-input" matInput formControlName="name"
                      placeholder="Enter Commodity Name" />
                    <!-- <mat-error [@rowsAnimation]="displayMessage?.commodity_name" class="text-danger"
                      *ngIf="displayMessage?.commodity_name">{{displayMessage?.commodity_name}}</mat-error> -->
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label class="mb-2">Parent Category *</label>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-select class="custom-select" placeholder="Select Category" formControlName="category">
                      <mat-option *ngFor="let item of commodityCategories" [value]="item.id"> {{item.name}}</mat-option>
                    </mat-select>
                    <!-- <input class="form-control custom-input" matInput formControlName="parent_category"
                      placeholder="Enter Parent Category" />
                    <mat-error [@rowsAnimation]="displayMessage?.parent_category" class="text-danger"
                      *ngIf="displayMessage?.parent_category">{{displayMessage?.parent_category}}</mat-error> -->
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label class="mb-2">Test Duration *</label>
                  <mat-form-field appearance="outline" class="w-100">
                    <input class="custom-input" matInput formControlName="test_duration"
                      placeholder="Enter Test duration" />
                    <!-- <mat-error [@rowsAnimation]="displayMessage?.test_duration" class="text-danger"
                      *ngIf="displayMessage?.test_duration">{{displayMessage?.test_duration}}</mat-error> -->
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label class="mb-2">Units*</label>
                  <mat-form-field appearance="outline" class="w-100">
                    <input class="custom-input" matInput formControlName="units"
                      placeholder="Enter Units" />
                    <!-- <mat-error [@rowsAnimation]="displayMessage?.test_duration" class="text-danger"
                      *ngIf="displayMessage?.test_duration">{{displayMessage?.test_duration}}</mat-error> -->
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label class="mb-2">Commodity Price *</label>
                  <mat-form-field appearance="outline" class="w-100">
                    <input class="custom-input" matInput formControlName="price"
                      placeholder="Enter Commodity Price" />
                    <!-- <mat-error [@rowsAnimation]="displayMessage?.price" class="text-danger"
                      *ngIf="displayMessage?.commodity_price">{{displayMessage?.commodity_price}}</mat-error> -->
                  </mat-form-field>
                </div>
              </div>

              <div class="text-end">
                <button class="btn btn-primary mx-1" (click)="saveChanges()">
                  <span *ngIf="!submitBtn">Save</span>
            <span *ngIf="submitBtn">
              <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
            </span>
                </button>
                <button class="btn btn-secondary mx-1" (click)="reset()">Reset</button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
    <div  [ngClass]="loggedUserDetails?.role === 1 ? 'col-md-8' : 'col-md-12'">
      <form [formGroup]="filterForm" class="row">
        <div class="col-md-6 text-left">
          <mat-form-field class="w-100 px-2" appearance="outline">
            <input formControlName="search" class="custom-input" matInput placeholder="Enter Commodity Name" #input>
          </mat-form-field>
        </div>
        <!-- <div class="col-md-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-select class="custom-select" placeholder="Select Status">
              <mat-option>1</mat-option>
              <mat-option>2</mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->

        <div class="col-md-2">
          <button (click)="filter()" class="btn btn-primary w-100 mx-2 h-45">Filter</button>
        </div>

        <div class="col-md-2">
          <button (click)="resetfilter()" class="btn btn-danger w-100 mx-2 h-45">Reset</button>
        </div>

        <div class="col-md-2">
          <button class="btn btn-secondary dropdown-toggle h-45 w-100" [matMenuTriggerFor]="downloadMenu">Download</button>

          <mat-menu class="download-menu" #downloadMenu="matMenu">
            <button (click)="download('pdf')" mat-menu-item>PDF</button>
            <button (click)="download('excel')" mat-menu-item>EXCEL</button>
          </mat-menu>
        </div>
      </form>
      <table *ngIf="!isLoading" mat-table [dataSource]="dataSource" class="table custom-border mb-0">

        <!-- Position Column -->
        <ng-container matColumnDef="sn">
          <th mat-header-cell *matHeaderCellDef> S.N. </th>
          <td mat-cell *matCellDef="let e;let i=index"> {{i+1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="commodity">
          <th mat-header-cell *matHeaderCellDef> Commodities </th>
          <td mat-cell *matCellDef="let c"> {{c.name}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let c"> Rs.{{c.price}} </td>
        </ng-container>

        <ng-container matColumnDef="testDuration">
          <th mat-header-cell *matHeaderCellDef> TestDuration </th>
          <td mat-cell *matCellDef="let c">
            <span *ngIf="c.test_duration">{{c.test_duration}} </span>
            <span *ngIf="!c.test_duration" class="text-muted">N/A</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="units">
          <th mat-header-cell *matHeaderCellDef> Units </th>
          <td mat-cell *matCellDef="let c">
            <span *ngIf="c.units">{{c.units}} </span>
            <span *ngIf="!c.units" class="text-muted">N/A</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let c">
            <span *ngIf="c.category">{{getCommodityCategoryName(c.category)}} </span>
            <span *ngIf="!c.category" class="text-muted">N/A</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef style="text-align: right;"> Action </th>
          <td mat-cell *matCellDef="let element" style="text-align: right;">
            <button [disabled]="loggedUserDetails?.role !==1" (click)="openDialog(element)" class="btn btn-primary btn-lims-primary btn-sm mx-1 pt-2"><mat-icon aria-hidden="false" aria-label="edit" fontIcon="edit"></mat-icon></button>
            <button [disabled]="loggedUserDetails?.role !==1" (click)="deleteCategory(element.id)" class="btn btn-outline-danger btn-lims-danger btn-sm mx-1 pt-2"><mat-icon aria-hidden="false" aria-label="delete" fontIcon="delete_outline"></mat-icon></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center py-5" colspan="8">
            <img src="../../../../assets/no-data.svg" />
            <div class="text-muted">Data Not Available.</div>

          </td>
        </tr>
      </table>

      <div class="row" *ngIf="isLoading">
        <div class="col-md-12 text-center py-3">
          <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>

      <mat-paginator class="paginator paginator-border" [pageSizeOptions]="[5, 10, 20, 50, 100, 200, 500]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>

</div>
