::ng-deep {


.mat-mdc-menu-content {
  padding: 5% !important;
}

.mat-mdc-menu-panel {
  width: 400px !important;
  max-height: 70vh !important;
}
}
.user-name-role{
  line-height: 1.1;
}
.username{
  font-size: 14px!important;
}
.user-role{
  color: #FB802C;
  font-size: 12px!important;
}
.top-user-profile{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px 10px;
  border-radius: 12px;
  background: #e7f0f7;
  border-radius: 20vw;
}
.top-user-profile p{
  font-family: Poppins!important;
}
.top-user-profile .user-role{
  color: #FB802C;
  text-transform: capitalize;
}
.top-user-profile:hover{
  background: #2260bf;
  color: #ffffff!important;
  cursor: pointer;
}
.top-user-profile:hover .user-role{
  color: #ffffff!important;
}

.top-user-profile:hover .top-user-profile>p{
  color: #ffffff!important;
}
.top-user-profile:hover .top-user-profile>.user-role{
  color: #ffffff!important;
}
.notification-div:hover{
  cursor: pointer;
}
.mat-mdc-menu-item span{
  font-family: Poppins!important;
}