::ng-deep {


// .mat-mdc-menu-content {
//   padding: 5% !important;
// }

.mat-mdc-menu-panel {
  width: 400px !important;
  max-height: 70vh !important;
}
}
.user-name-role{
  line-height: 1.1;
}
.username{
  font-size: 14px!important;
}
.user-role{
  color: #FB802C;
  font-size: 12px!important;
}
.top-user-profile{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px 10px;
  border-radius: 12px;
  background: #e7f0f7;
  border-radius: 20vw;
}
.top-user-profile p{
  font-family: Poppins!important;
}
.top-user-profile .user-role{
  color: #FB802C;
  text-transform: capitalize;
}
.top-user-profile:hover{
  background: #2260bf;
  color: #ffffff!important;
  cursor: pointer;
}
.top-user-profile:hover .user-role{
  color: #ffffff!important;
}

.top-user-profile:hover .top-user-profile>p{
  color: #ffffff!important;
}
.top-user-profile:hover .top-user-profile>.user-role{
  color: #ffffff!important;
}
.notification-div:hover{
  cursor: pointer;
}
.mat-mdc-menu-item span{
  font-family: Poppins!important;
}

.search-form-container{
  position: relative;
}
.sample-search{
  height: 40px;
  background: rgb(248, 250, 252);
  border-radius: 6px;
  width: 350px;
  border: 1px solid #cbcbcb;
  padding: 16px 16px 16px 38px;
}

.sample-search:focus, .sample-search:focus-visible{
  outline: none!important;
  box-shadow: none!important;
}
.search-icon{
  width: max-content;
  position: absolute;
  top: 55%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 3%;
}


  .search-icon .fa-search{
    font-size: 16px;
    color: #2260bf;
  }
  .profile-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .user-namee{
    font-size: 24px;
    font-weight: 600;
  }
  .useremail{
    font-size: 14px;
    color: #FB802C;
    text-transform: lowercase;
  }
  .user-rolee{
    height: 28px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 14px;
    background: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 10vw;
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  .verified-icon{
    font-size: 14px;
    color: #1C93E3;
  }
  
  .list-content{
    border-top: 1px solid #dbdbdb;
  }
  .my-account-link{
    border-bottom: 0.8px solid #dbdbdbc2;
  }
  .my-account-link, .logout-link{
    display: flex;
    align-items: center;
    color: #58667E;
    padding: 14px;
  }
  .my-account-link:hover, .logout-link:hover{
    color: #2260bf;
    cursor: pointer;
    background: #e7f0f7;
  }
  .my-account-link mat-icon, .logout-link mat-icon{
    margin-right: 10px;
  }
  .profile-card-detail.mat-mdc-menu-content{
    padding-top: 10px!important;
    padding-bottom: 0px!important;
  }
  .profile-card-detail.mdc-list{
    padding-top: 10px!important;
    padding-bottom: 0px!important;
  }
 
