<div class="container-fluid db-top-bar">
  <div class="db-lims-logo cursor-pointer" (click)="gotoDashboard()">
    <div class="logo">
      <img src="../../../assets/nepal-government.png" alt="">
    </div>
    <p>Laboratory Information<br>Management System-LIMS</p>

    <div class="search-container ms-4">
      <form action="" class="search-form-container">
        <input type="search" name="" id="" class="sample-search" placeholder="Search sample">
        <div class="search-icon"><mat-icon>search</mat-icon></div>
      </form>
    </div>

  </div>
  <div class="profile" style="margin-right: 1%;">

    <div class="notification-div" [matMenuTriggerFor]="not" style="margin-right: 1rem;">
      <a  href="Javascript:;" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom"
        data-bs-content="Bottom popover">
        <mat-icon [matBadge]="notifications.length" matBadgeColor="warn" class="pt-1 bell-icon" aria-hidden="false" aria-label="Notification"
          fontIcon="notifications_none"></mat-icon>
      </a>

      <!-- <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Bottom popover">
        Popover on bottom
      </button> -->
      <!-- <a class="btn btn-primary btn-sm" (click)="switchLanguage('en')" href="Javascript:;">En</a>
      <a class="btn btn-danger btn-sm" (click)="switchLanguage('np')" href="Javascript:;">Np</a> -->
      <!-- <mat-slide-toggle
      #darkModeSwitch
      (change)="changeTheme()"
      [checked]="checked"
      >
    </mat-slide-toggle> -->

      




      <mat-menu #not="matMenu" class="notification-menu">
        <app-notifications [notifications]="notifications"></app-notifications>
      </mat-menu>
    </div>

    <div class="top-user-profile" [matMenuTriggerFor]="menu">
      <!-- <img style="height: 50px;" [matMenuTriggerFor]="menu" class="cursor-pointer" src="../../../assets/profile.jpg" alt=""> -->
      <img style="height: 40px;"  class="cursor-pointer" [src]="url" alt="">
      <!-- <ngx-avatar size="40" [name]="userDetails?.first_name + ' ' + userDetails?.last_name"></ngx-avatar> -->
      <p  class="cursor-pointer user-name-role"><span class="username">{{userDetails?.first_name + ' ' + userDetails?.last_name |
          titlecase}}</span><br><span class="user-role">{{getRoleName(userDetails?.role) |
            titlecase}}</span></p>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="navigateToProfile()" style="font-family: Poppins!important;">My Account</button>
      <button (click)="logout()" mat-menu-item style="font-family: Poppins!important;">Logout</button>
    </mat-menu>
  </div>
</div>
