<div *ngIf="!isMobileDevice" class="container-fluid db-top-bar">
  <div class="db-lims-logo cursor-pointer" (click)="gotoDashboard()">
    <div class="logo">
      <img src="../../../assets/nepal-government.png" alt="">
    </div>
    <p>Laboratory Information<br>Management System-LIMS</p>

    <div class="search-container ms-4">
      <form action="" class="search-form-container">
        <input [(ngModel)]="search" type="search" name="search" id="searchField" class="sample-search" placeholder="Search sample">
        <div class="search-icon"><mat-icon class="mt-2">search</mat-icon></div>
      </form>
    </div>

    
    <!-- <div *ngIf="search"  style="
    left: 332px;
    top: 78px;
    width: 348px;
    background-color: #fff;
    position: absolute;">
    <mat-list>
      <div mat-subheader>Results</div>
      <mat-divider></mat-divider>
      <mat-list-item class="search-result-item" *ngFor="let folder of folders">
        <div matListItemTitle>Test Sample 001</div>
        <div matListItemLine>
          <div class="text-left">
            {{folder.updated | date}}
          </div>
          
        </div>
      </mat-list-item>
    </mat-list>
    </div> -->

  </div>
  <div class="profile" style="margin-right: 1%;">
    <!-- <div class="notification-div" [matMenuTriggerFor]="not" style="margin-right: 1rem;">
      <a  href="Javascript:;" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom"
        data-bs-content="Bottom popover">
        <mat-icon [matBadge]="notifications.length" matBadgeColor="warn" class="pt-1 bell-icon" aria-hidden="false" aria-label="Notification"
          fontIcon="notifications_none"></mat-icon>
      </a>
      <mat-menu #not="matMenu" class="notification-menu">
        <app-notifications [notifications]="notifications"></app-notifications>
      </mat-menu>
    </div> -->

    <div class="top-user-profile" [matMenuTriggerFor]="menu">
      <!-- <img style="height: 50px;" [matMenuTriggerFor]="menu" class="cursor-pointer" src="../../../assets/profile.jpg" alt=""> -->
      <img style="height: 40px;"  class="cursor-pointer" [src]="url" alt="">
      <!-- <ngx-avatar size="40" [name]="userDetails?.first_name + ' ' + userDetails?.last_name"></ngx-avatar> -->
      <p  class="cursor-pointer user-name-role"><span class="username">{{userDetails?.first_name + ' ' + userDetails?.last_name |
          titlecase}}</span><br><span class="user-role">{{getRoleName(userDetails?.role) |
            titlecase}}</span></p>
    </div>

    <mat-menu #menu="matMenu" class="profile-card-detail">
      <div class="profile-card">
        <img style="height: 80px;"  class="cursor-pointer mb-3" [src]="url" alt="">
        <p class="user-namee mb-0">{{userDetails?.first_name + ' ' + userDetails?.last_name | titlecase}}</p>
        <span class="useremail mb-2">{{userDetails?.email | titlecase}}</span>
        <span class="user-rolee">{{getRoleName(userDetails?.role)}} <span class="material-icons ms-2 verified-icon">verified</span>
        </span>
      </div>
      <div class="list-content mt-3">
        <div class="my-account-link" (click)="navigateToProfile()"><mat-icon>perm_identity</mat-icon>My Account</div>
        <div class="logout-link" (click)="logout()"><mat-icon>exit_to_app</mat-icon>Logout</div>
      </div>
    </mat-menu>
    <!-- <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="navigateToProfile()" style="font-family: Poppins!important;">My Account</button>
      <button (click)="logout()" mat-menu-item style="font-family: Poppins!important;">Logout</button>
    </mat-menu> -->
  </div>
</div>

<mat-toolbar *ngIf="isMobileDevice" color="primary" style="background-color: #2260bf !important;">
  <!-- <button (click)="openSideNav()" class="btn btn-secondary btn-sm" aria-label="Example icon-button with menu icon"> -->
    <mat-icon (click)="openSideNav()">menu</mat-icon>
  <!-- </button> -->
  <span class="mx-2">LIMS</span>
  <span class="example-spacer"></span>
  <button (click)="openNotification()" class="btn btn-primary btn-sm btn-lims-danger mx-1" aria-label="Example icon-button with heart icon">
    <mat-icon [matBadge]="notifications.length" matBadgeColor="warn" class="pt-1 bell-icon" aria-hidden="false" aria-label="Notification"
          fontIcon="notifications_none"></mat-icon>
  </button>
  <button (click)="navigateToProfile()" class="btn btn-primary btn-lims-primary btn-sm mx-1" aria-label="Example icon-button with share icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

