.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 290px), 1fr));
}

.card {
  border-radius: 10px;
  height: 150px;
  border: 1px solid #00000038;
  padding: 3%;

  // font-size: 5rem;
  // line-height: 10rem;
  // color: white;
  // text-align: center;
}

