<div class="row  m-0">
  <div *ngIf="!accountDetails?.is_verified" class="alert alert-danger alert-dismissible fade show mb-4 user-alert"
    role="alert">
    <strong>Hello {{accountDetails?.first_name}}!</strong> Your account is not verified yet.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>


<analyst-dashboard *ngIf="loggedUserDetails?.role === 4"></analyst-dashboard>
  <user-dashboard *ngIf="loggedUserDetails?.role === 5"></user-dashboard>
  <supervisor-dashboard *ngIf="loggedUserDetails?.role === 3"></supervisor-dashboard>

  <smu-dashboard *ngIf="loggedUserDetails?.role === 1 || loggedUserDetails?.role === 2"></smu-dashboard>

  <!-- <div *ngIf="loggedUserDetails?.role === 1 || loggedUserDetails?.role === 2" class="col-md-12 p-4">
    <div class="grid">
      <div class="card cursor-pointer">
        <h1 class="text-bold">Sample Collected</h1>
        <div class="row">
          <div class="col-md-6">
            <mat-icon class="text-lims-primary" aria-hidden="false" aria-label="add" fontIcon="file_copy"></mat-icon>
          </div>
          <div class="col-md-6 text-right">
            <h1 class="text-end text-lims-primary">{{dashboardStatus?.total_sample_forms || 'N/A'}}</h1>
          </div>
        </div>
      </div>
      <div class="card cursor-pointer">
        <h1 class="text-bold">Total Users</h1>
        <div class="row">
          <div class="col-md-6">
            <mat-icon class="text-lims-primary" aria-hidden="false" aria-label="add" fontIcon="file_copy"></mat-icon>
          </div>
          <div class="col-md-6 text-right">
            <h1 class="text-end text-lims-primary">{{dashboardStatus?.total_users || 'N/A'}}</h1>
          </div>
        </div>
      </div>
      <div class="card cursor-pointer">
        <h1 class="text-bold">Report Generated</h1>
        <div class="row">
          <div class="col-md-6">
            <mat-icon class="text-lims-primary" aria-hidden="false" aria-label="add" fontIcon="file_copy"></mat-icon>
          </div>
          <div class="col-md-6 text-right">
            <h1 class="text-end text-lims-primary">{{dashboardStatus?.total_report_generated || 'N/A'}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  
<verifier-dashboard *ngIf="loggedUserDetails?.role === 6"></verifier-dashboard>
  <!-- <div *ngIf="loggedUserDetails?.role === 6" class="col-md-12 p-4">
    <div class="grid">
      <div class="card cursor-pointer">
        <h1 class="text-bold">Total Sample</h1>
        <div class="row">
          <div class="col-md-6">
            <mat-icon class="text-lims-primary" aria-hidden="false" aria-label="add" fontIcon="file_copy"></mat-icon>
          </div>
          <div class="col-md-6 text-right">
            <h1 class="text-end text-lims-primary">{{dashboardStatus?.total_sample_forms || 'N/A'}}</h1>
          </div>
        </div>
      </div>
      
      <div class="card cursor-pointer">
        <h1 class="text-bold">Report Generated</h1>
        <div class="row">
          <div class="col-md-6">
            <mat-icon class="text-lims-primary" aria-hidden="false" aria-label="add" fontIcon="file_copy"></mat-icon>
          </div>
          <div class="col-md-6 text-right">
            <h1 class="text-end text-lims-primary">{{dashboardStatus?.total_report_generated || 'N/A'}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
