<div class="row  m-0">
  <div *ngIf="!accountDetails?.is_verified" class="alert alert-danger alert-dismissible fade show mb-4 user-alert"
    role="alert">
    <strong>Hello {{accountDetails?.first_name}}!</strong> You account is not verified yet.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>


  <div *ngIf="loggedUserDetails?.role === 4" class="row p-2">
    <div class="col-md-6">
      <div class="row">
        <!-- <div class="col-md-12">
          <div class="card" style="height: auto !important;">
            <div class="card-body">
              <p class="mb-0">Total Request</p>
              <h3 class="text-bold mb-0">600</h3>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div> -->

        <div class="col-md-12 mt-2">
          <div class="card" style="height: auto !important;">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div style="height: 155px; margin: 0 auto !important;">
                    <canvas
                    baseChart
                    class="chart"
                    [data]="pieChartData"
                    [type]="pieChartType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [colors]="colors">
                    </canvas>
                  </div>
                </div>
                <div class="col-md-6 pt-5">
                  <p class="mb-0">Total Request</p>
              <h3 class="text-bold mb-0">600</h3>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="card" style="height: auto !important;">
            <div class="card-body">
              <p class="mb-0">Completed</p>
              <h3 class="text-bold mb-0">50</h3>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar bg-info" role="progressbar" style="width: 25%;" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card" style="height: auto !important;">
            <div class="card-body">
              <p class="mb-0">Processing</p>
              <h3 class="text-bold mb-0">280</h3>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar bg-info" role="progressbar" style="width: 25%; background-color: #FF4069 !important;" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4">
          <div class="card" style="height: auto !important;">
            <div class="card-body">
              <p class="mb-0">Pending</p>
              <h3 class="text-bold mb-0">150</h3>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 25%;background-color: #FF9020;" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4">
          <div class="card" style="height: auto !important;">
            <div class="card-body">
              <p class="mb-0">Recheck</p>
              <h3 class="text-bold mb-0">20</h3>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 25%;background-color: #FFC234 !important;" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>


  <div *ngIf="loggedUserDetails?.role === 5" class="col-md-12 p-4">
    <div class="grid">
      <div class="card cursor-pointer">
        <!-- <p class="text-lims-secondary">THU 20 Apr, 2022</p> -->
        <h1 class="text-bold">Sample Collected</h1>
        <div class="row">
          <div class="col-md-6">
            <mat-icon class="text-lims-primary" aria-hidden="false" aria-label="add" fontIcon="file_copy"></mat-icon>
          </div>
          <div class="col-md-6 text-right">
            <h1 class="text-end text-lims-primary">{{dashboardStatus?.total_sample_forms || 'N/A'}}</h1>
          </div>
        </div>
      </div>
      <!-- <div class="card cursor-pointer">
        <h1 class="text-bold">Total Report</h1>
        <div class="row">
          <div class="col-md-6">
            <mat-icon class="text-lims-primary" aria-hidden="false" aria-label="add" fontIcon="file_copy"></mat-icon>
          </div>
          <div class="col-md-6 text-right">
            <h1 class="text-end text-lims-primary">{{dashboardStatus?.total_sample_forms || 'N/A'}}</h1>
          </div>
        </div>
      </div> -->
      <div class="card cursor-pointer">
        <!-- <p class="text-lims-secondary">THU 20 Apr, 2022</p> -->
        <h1 class="text-bold">Report Generated</h1>
        <div class="row">
          <div class="col-md-6">
            <mat-icon class="text-lims-primary" aria-hidden="false" aria-label="add" fontIcon="file_copy"></mat-icon>
          </div>
          <div class="col-md-6 text-right">
            <h1 class="text-end text-lims-primary">{{dashboardStatus?.total_report_generated || 'N/A'}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="loggedUserDetails?.role === 1 || loggedUserDetails?.role === 2" class="col-md-12 p-4">
    <div class="grid">
      <div class="card cursor-pointer">
        <!-- <p class="text-lims-secondary">THU 20 Apr, 2022</p> -->
        <h1 class="text-bold">Sample Collected</h1>
        <div class="row">
          <div class="col-md-6">
            <mat-icon class="text-lims-primary" aria-hidden="false" aria-label="add" fontIcon="file_copy"></mat-icon>
          </div>
          <div class="col-md-6 text-right">
            <h1 class="text-end text-lims-primary">{{dashboardStatus?.total_sample_forms || 'N/A'}}</h1>
          </div>
        </div>
      </div>
      <div class="card cursor-pointer">
        <h1 class="text-bold">Total Users</h1>
        <div class="row">
          <div class="col-md-6">
            <mat-icon class="text-lims-primary" aria-hidden="false" aria-label="add" fontIcon="file_copy"></mat-icon>
          </div>
          <div class="col-md-6 text-right">
            <h1 class="text-end text-lims-primary">{{dashboardStatus?.total_users || 'N/A'}}</h1>
          </div>
        </div>
      </div>
      <div class="card cursor-pointer">
        <!-- <p class="text-lims-secondary">THU 20 Apr, 2022</p> -->
        <h1 class="text-bold">Report Generated</h1>
        <div class="row">
          <div class="col-md-6">
            <mat-icon class="text-lims-primary" aria-hidden="false" aria-label="add" fontIcon="file_copy"></mat-icon>
          </div>
          <div class="col-md-6 text-right">
            <h1 class="text-end text-lims-primary">{{dashboardStatus?.total_report_generated || 'N/A'}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="loggedUserDetails?.role === 3" class="col-md-12 p-4">
    <div class="grid">
      <div class="card cursor-pointer">
        <!-- <p class="text-lims-secondary">THU 20 Apr, 2022</p> -->
        <h1 class="text-bold">Total Sample</h1>
        <div class="row">
          <div class="col-md-6">
            <mat-icon class="text-lims-primary" aria-hidden="false" aria-label="add" fontIcon="file_copy"></mat-icon>
          </div>
          <div class="col-md-6 text-right">
            <h1 class="text-end text-lims-primary">{{dashboardStatus?.total_sample_forms || 'N/A'}}</h1>
          </div>
        </div>
      </div>
      <!-- <div class="card cursor-pointer">
        <h1 class="text-bold">Total Users</h1>
        <div class="row">
          <div class="col-md-6">
            <mat-icon class="text-lims-primary" aria-hidden="false" aria-label="add" fontIcon="file_copy"></mat-icon>
          </div>
          <div class="col-md-6 text-right">
            <h1 class="text-end text-lims-primary">{{dashboardStatus?.total_users || 'N/A'}}</h1>
          </div>
        </div>
      </div> -->
      <div class="card cursor-pointer">
        <!-- <p class="text-lims-secondary">THU 20 Apr, 2022</p> -->
        <h1 class="text-bold">Report Generated</h1>
        <div class="row">
          <div class="col-md-6">
            <mat-icon class="text-lims-primary" aria-hidden="false" aria-label="add" fontIcon="file_copy"></mat-icon>
          </div>
          <div class="col-md-6 text-right">
            <h1 class="text-end text-lims-primary">{{dashboardStatus?.total_report_generated || 'N/A'}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="loggedUserDetails?.role === 6" class="col-md-12 p-4">
    <div class="grid">
      <div class="card cursor-pointer">
        <!-- <p class="text-lims-secondary">THU 20 Apr, 2022</p> -->
        <h1 class="text-bold">Total Sample</h1>
        <div class="row">
          <div class="col-md-6">
            <mat-icon class="text-lims-primary" aria-hidden="false" aria-label="add" fontIcon="file_copy"></mat-icon>
          </div>
          <div class="col-md-6 text-right">
            <h1 class="text-end text-lims-primary">{{dashboardStatus?.total_sample_forms || 'N/A'}}</h1>
          </div>
        </div>
      </div>
      <!-- <div class="card cursor-pointer">
        <h1 class="text-bold">Total Users</h1>
        <div class="row">
          <div class="col-md-6">
            <mat-icon class="text-lims-primary" aria-hidden="false" aria-label="add" fontIcon="file_copy"></mat-icon>
          </div>
          <div class="col-md-6 text-right">
            <h1 class="text-end text-lims-primary">{{dashboardStatus?.total_users || 'N/A'}}</h1>
          </div>
        </div>
      </div> -->
      <div class="card cursor-pointer">
        <!-- <p class="text-lims-secondary">THU 20 Apr, 2022</p> -->
        <h1 class="text-bold">Report Generated</h1>
        <div class="row">
          <div class="col-md-6">
            <mat-icon class="text-lims-primary" aria-hidden="false" aria-label="add" fontIcon="file_copy"></mat-icon>
          </div>
          <div class="col-md-6 text-right">
            <h1 class="text-end text-lims-primary">{{dashboardStatus?.total_report_generated || 'N/A'}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
