<div class="row m-0" style="padding: 3%;">
  <div class="col-md-10">
    <h2>Assign</h2>
  </div>
  <div class="col-md-2 text-end">
    <button (click)="closeDialog()" class="btn btn-lims-danger btn-sm"><mat-icon aria-hidden="false" aria-label="edit" fontIcon="close"></mat-icon></button>
  </div>
  <hr />

  <div class="col-md-12">
    <form [formGroup]="form" class="row">
      <div *ngIf="message && message.messageBody" class="col-sm-12 col-md-12 col-lg-12">
        <div class="alert alert-info" role="alert">
          {{message?.messageBody}}
        </div>
      </div>
      <div class="col-md-12">
        <label for="user" class="form-label">Select Supervisor *</label>
        <mat-form-field class="w-100" appearance="outline">
          <mat-select placeholder="Select Supervisor" formControlName="supervisor_user" class="custom-select">
            <mat-option *ngFor="let user of users" [value]="user.id">
              {{user?.first_name}} {{user?.last_name}} 
              <span *ngIf="user.test_type.includes(1)" class="badge badge-primary" style="background-color: bisque;">Chemical</span>
              <span *ngIf="user.test_type.includes(2)" class="badge badge-primary" style="background-color: rgb(229, 128, 5);">Microbiological</span>
              <span *ngIf="user.test_type.includes(3)" class="badge badge-primary" style="background-color: rgb(64, 51, 207);">Instrumental</span>
            </mat-option>
          </mat-select>
          <mat-error class="text-danger" *ngIf="displayMessage?.supervisor_user">{{displayMessage?.supervisor_user}}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 text-end mt-4">
        <button (click)="assignSampleToSupervisor()" class="btn btn-primary btn-sm">

          <span *ngIf="!isLoading">Submit</span>
            <span *ngIf="isLoading">
              <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
            </span>
        </button>
      </div>
    </form> 
  </div>
</div>
