<div class="row m-0 p-0">
  <div class="col-md-12">
  <h1 mat-dialog-title>Change Password</h1>
  <hr/>
  </div>
  <div class="col-md-12">
    <mat-dialog-content>
      <form class="row" autocomplete="off" [formGroup]="changePasswordForm">
        <div class="col-md-12">
          <label class="label">Old Password:</label>
          <mat-form-field class="w-100" appearance="outline">

            <input formControlName="old_password" type="password" matInput class="custom-input" placeholder="Enter old password" />
            <mat-error class="text-danger" *ngIf="displayMessage?.old_password">{{displayMessage.old_password}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-12">
          <label class="label">New Password:</label>
          <mat-form-field class="w-100" appearance="outline">
            <input formControlName="password" type="password" matInput class="custom-input" placeholder="Enter new password" />
            <mat-error class="text-danger" *ngIf="displayMessage?.password">{{displayMessage.password}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-12">
          <label class="label">Confirm Password:</label>
          <mat-form-field class="w-100" appearance="outline">
            <input formControlName="confirm_password" type="password" matInput class="custom-input" placeholder="Confirm password" />
            <mat-error class="text-danger" *ngIf="displayMessage?.confirm_password">{{displayMessage.confirm_password}}</mat-error>
          </mat-form-field>

          <span *ngIf="changePasswordForm.hasError('passwordMatch')" class="text-danger">Passwords do not match.</span>
        </div>
      </form>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button (click)="close()" class="btn btn-danger btn-sm mx-1">Cancel</button>
      <button (click)="save()" class="btn btn-primary btn-sm mx-1">Save</button>
    </mat-dialog-actions>
  </div>
</div>
