<div class="row m-0" style="padding: 1%;">
  <div class="col-md-10">
    <h2>View Raw Data</h2>
  </div>
  <div class="col-md-2 text-end">
    <button (click)="closeDialog()" class="btn btn-lims-danger btn-sm"><mat-icon aria-hidden="false" aria-label="edit"
        fontIcon="close"></mat-icon></button>
  </div>
  <hr />
  <mat-dialog-content>
    <!-- <mat-card> -->
    <!-- <div class="sample-dialog">
      <div class="row">
        <div class="col-md-6">
          <p class="title">Name of Laboratory</p>
          <h2 class="detail">Lorem</h2>
        </div>
        <div class="col-md-6">
          <p class="title">Reported date </p>
          <h2 class="detail">Lorem</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="title">Sample Name</p>
          <h2 class="detail">{{rawDatasheetDetails?.sample_form?.name || 'N/A'}}</h2>
        </div>
        <div class="col-md-4">
          <p class="title">Date of Receipt</p>
          <h2 class="detail">{{rawDatasheetDetails?.created_date | date: 'medium'}}</h2>
        </div>
        <div class="col-md-4">
          <p class="title">Sample Codes</p>
          <h2 class="detail text-uppercase">{{rawDatasheetDetails?.sample_form?.id}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="title">Due Date</p>
          <h2 class="detail">{{rawDatasheetDetails?.created_date | date: 'medium'}}</h2>
        </div>
        <div class="col-md-4">
          <p class="title">Started on</p>
          <h2 class="detail">{{rawDatasheetDetails?.created_date | date: 'medium'}}</h2>
        </div>
        <div class="col-md-4">
          <p class="title">Completed on </p>
          <h2 class="detail">{{rawDatasheetDetails?.created_date | date: 'medium'}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="title">Parameters to be analyzed</p>
          <h2 class="detail">N/A</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="title">Method of Analysis/Testing</p>
          <h2 class="detail">N/A</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="title">RAW DATA (Observations, Readings, calculations etc.) </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" *ngFor="let p of rawDatasheetDetails?.parameter">
          <hr/>
          <div class="formula">
            <h2>{{p.name}}</h2>
            <div *ngIf="p?.formula_notation">
              <div *ngFor="let n of splitStringByComma(p?.formula_notation)">
                <span class="text-danger">*</span>{{n | titlecase}}
              </div>
              <h2>Formula = {{p?.formula}}</h2>
            </div>
            <div *ngIf="!p?.formula_notation" class="text-muted">N/A</div>
          </div>
        </div>

      </div>
    </div> -->

    <table class="top-table">
      <tr>
        <td style="width:11%; padding: 6px; position: relative;">
          <img src="https://logos-download.com/wp-content/uploads/2021/07/Emblem_of_Nepal.png" alt="logo"
            style="width: 60px;">
        </td>
        <td style="width: 70%;  border-right: 0;">
          <h2>National Food and Feed Reference Laboratory </h2>
          <p>DFTQC, Kathmandu, Nepal</p>
        </td>
        <td style=" border-left: 0;">
          <p>3400</p>
        </td>
      </tr>
    </table>

    <h2 class="heading">NFFRL/SR/7.5/03: RAW DATA WORKSHEET (Chemical)</h2>

    <table style="width: 100%;" class="bottom-table">
      <tr>
        <th class="text-center">S.N.</th>
        <th colspan="5"> Name of Laboratory: <span class="detail"> N/A </span></th>
        <th colspan="4"> Reported date:<span class="detail"> N/A</span> </th>
      </tr>
      <tr>
        <td class="text-center">1</td>
        <td colspan="3">Sample Name: <span class="detail">{{rawDatasheetDetails?.sample_form?.name || 'N/A'}} </span>
        </td>
        <td colspan="3"> Date of Receipt: <span class="detail"> {{rawDatasheetDetails?.created_date | date: 'medium'}}
          </span></td>
        <td colspan="3"> Sample Codes: <span class="detail"> {{rawDatasheetDetails?.sample_form?.id || 'N/A'}} </span>
        </td>
      </tr>

      <tr>
        <td class="text-center">2</td>
        <td colspan="3">Due Date:<span class="detail"> {{rawDatasheetDetails?.created_date | date: 'medium'}} </span>
        </td>
        <td colspan="3">Started on:<span class="detail"> {{rawDatasheetDetails?.created_date | date: 'medium'}} </span>
        </td>
        <td colspan="3">Completed on:<span class="detail"> {{rawDatasheetDetails?.created_date | date: 'medium'}}
          </span></td>
      </tr>

      <tr>
        <td class="text-center">3</td>
        <td colspan="10">Parameters to be analyzed:<span class="detail"> <span *ngFor="let p of rawDatasheetDetails?.parameter">{{p.name}},</span> </span></td>
      </tr>
      <tr>
        <td class="text-center">4</td>
        <td colspan="10">Method of Analysis/Testing: <span class="detail"> N/A </span></td>
      </tr>

      <tr style="border-bottom: none;">
        <td style=" border-bottom: none;" class="text-center"> 5</td>
        <td colspan="10" style="border-bottom: none;">RAW DATA (Observations, Readings, calculations etc.): <span
            class="detail"> N/A </span>

        </td>
      </tr>

      <tr style="border-top: none; border-bottom: none;">
        <td style="border-top: none; border-bottom:none;"></td>
        <td colspan="10" style="border-top: none; border-bottom:none;">
          <div class="row m-2">
            <!-- {{rawDatasheetDetails?.parameter | json}} -->
            <div class="col-md-12" *ngFor="let p of rawDatasheetDetails?.parameter">
              <hr />
              <div class="row">
                <div class="col-md-6">
                  <div class="formula">
                    <h2>{{p?.name}}</h2>
                    <div *ngIf="p?.formula_notation">
                      <div *ngFor="let n of splitStringByComma(p?.formula_notation)">
                        <span class="text-danger">*</span>{{n | titlecase}}
                      </div>
                      <h2>Formula = {{p?.formula}}</h2>
                    </div>
                    <div *ngIf="!p?.formula_notation" class="text-muted">N/A</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div *ngFor="let item of parseJSON(p?.input_fields_value) | keyvalue">
                    <span>{{item.key}}</span> = <span>{{item.value}}</span>
                  </div>
                  <div>Result: {{p.result}}</div>
                  <div *ngIf="p?.converted_result">Converted Result: {{p.converted_result}}</div>
                  <div *ngIf="p?.analyst_remarks">Remarks: {{p?.analyst_remarks}}</div>
                </div>
              </div>


            </div>
            <!-- <div class="col-md-6">
                  <div class="formula">
                      <h2>Parameter Name</h2>
                      <p> <span>w =</span> Weight = <span>120</span></p>
                      <p><span>b =</span>Height = <span>30</span></p>
                      <h2>Formula = <span>(W*B) / 100</span> = 36 unit</h2>
                  </div>
              </div> -->
          </div>
          <!-- <div class="row m-2">
              <div class="col-md-6">
                  <div class="formula">
                      <h2>Parameter Name</h2>
                      <p> <span>w =</span> Weight = <span>120</span></p>
                      <p><span>b =</span>Height = <span>30</span></p>
                      <h2>Formula = <span>(W*B) / 100</span> = 36 unit</h2>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="formula">
                      <h2>Parameter Name</h2>
                      <p> <span>w =</span> Weight = <span>120</span></p>
                      <p><span>b =</span>Height = <span>30</span></p>
                      <h2>Formula = <span>(W*B) / 100</span> = 36 unit</h2>
                  </div>
              </div>
          </div> -->
        </td>
      </tr>

      <!-- <tr>
        <td class="text-center">6</td>
        <td colspan="10">
          <div class="row">
            <div class="col-md-6"> Name and Signature of analyst: <span class="detail"> ......... </span></div>
            <div class="col-md-6">Verified by: <span class="detail"> .......... </span></div>
          </div>
        </td>
      </tr> -->
      <!-- <tr>
      <td class="text-center">7</td>
      <td colspan="10">Remarks (If any);<span class="detail"> {{rawDatasheetDetails?.remarks}} </span> </td>
  </tr> -->
    </table>
    <!-- </mat-card> -->
  </mat-dialog-content>
  <hr />

  <mat-dialog-actions align="end">
    <button (click)="closeDialog()" class="btn btn-danger btn-sm mx-1">Cancel</button>
    <button (click)="procceed()" class="btn btn-primary btn-sm mx-1">Procceed</button>
    <!-- <button (click)="download()" class="btn btn-secondary btn-sm mx-1">Download</button> -->
    <!-- <button class="btn btn-primary btn-sm mx-1">
      <span *ngIf="!isLoading">Save</span>
      <span *ngIf="isLoading">
        <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
      </span>
    </button> -->
  </mat-dialog-actions>
</div>