.sample-dialog{
  margin: auto;
}
.sample-dialog .row{
  margin-bottom: 10px;
}
.sample-dialog .title{
  font-size: 1rem;
  font-weight: 500;
  font-family: poppins;
  margin: 0;
  margin-bottom: 3px;
  color: rgb(116, 116, 116);
}
.sample-dialog .detail{
  font-size: 18px;
  font-weight: 600;
}
.formula{
  margin-bottom: 1rem;
}
.formula h2{
  font-size: 1rem;
  font-family: poppins;
  font-weight: 600;
}
.formula p{
  font-size: 1rem;
  font-family: poppins;
  font-weight: 500;
}
