<div class="container d-flex justify-content-center align-items-center">
  <div class="form-container row">
    <div class="login-intro mb-3">
      <img src="../../../assets/nepal-government.png" alt="" class="np-logo">
      <p class="lims" style="line-height: 1.5;">Laboratory Information Management System -(LIMS)</p>
      <hr class="divider">
      <p class="login-detail">Enter your registration details</p>
    </div>
    <form autocomplete="off" class="row userregister" [formGroup]="registerForm" (ngSubmit)="saveChanges()">
      <div *ngIf="message && message.messageBody" class="col-sm-12 col-md-12 col-lg-12">
        <div class="alert alert-danger" role="alert">
          {{message?.messageBody}}
        </div>
      </div>
      <div *ngIf="responseError" class="col-sm-12 col-md-12 col-lg-12">
        <div class="alert alert-danger" role="alert">
          <li *ngFor="let item of responseError | keyvalue">
            {{item.key}}:{{item.value}}
          </li>
        </div>
      </div>
      <div class="col-md-6">
        <label for="exampleInputFullName1" class="form-label">First Name*</label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput formControlName="first_name" placeholder="Enter your First Name" />
          <mat-error [@rowsAnimation]="displayMessage?.first_name" class="text-danger"
            *ngIf="displayMessage?.first_name">{{displayMessage?.first_name}}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <label for="exampleInputFullName1" class="form-label">Last Name*</label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput formControlName="last_name" placeholder="Enter your Last Name" />
          <mat-error [@rowsAnimation]="displayMessage?.last_name" class="text-danger"
            *ngIf="displayMessage?.last_name">{{displayMessage?.last_name}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <label for="exampleInputEmail1" class="form-label">Email Address (इ-मेल ठेगाना)*</label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput formControlName="email" placeholder="Enter your Email" />
          <mat-error [@rowsAnimation]="displayMessage?.email" class="text-danger"
            *ngIf="displayMessage?.email">{{displayMessage?.email}}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <label for="userName" class="form-label">Username*</label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput formControlName="username" placeholder="Enter your username" />
          <mat-error [@rowsAnimation]="displayMessage?.username" class="text-danger"
            *ngIf="displayMessage?.username">{{displayMessage?.username}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <label for="password" class="form-label">Password*</label>
        <mat-form-field appearance="outline" class="w-100">
          <input type="password" matInput formControlName="password" placeholder="Enter Password" />
          <mat-error [@rowsAnimation]="displayMessage?.password" class="text-danger"
            *ngIf="displayMessage?.password">{{displayMessage?.password}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <label for="exampleInputPassword1" class="form-label">Phone Number (फोन नम्बर)*</label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput type="text" maxlength="10" formControlName="phone" placeholder="Enter your Phone Number" />
          <mat-error [@rowsAnimation]="displayMessage?.phone" class="text-danger"
            *ngIf="displayMessage?.phone">{{displayMessage?.phone}}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <div>
          <label class="list-heading form-label">Client Category (
            ग्राहक वर्ग)*</label>
          <mat-form-field appearance="outline" class="custom-select w-100">
            <mat-select formControlName="client_category" placeholder="Select Category">
              <mat-option *ngFor="let c of clientCategories; let i = index" [value]="c.id">{{c.name |
                titlecase}}</mat-option>
            </mat-select>
            <mat-error [@rowsAnimation]="displayMessage?.client_category" class="text-danger"
              *ngIf="displayMessage?.client_category">{{displayMessage?.client_category}}</mat-error>
          </mat-form-field>

          <div class="hide" *ngIf="registerForm.value.client_category"
            [@rowsAnimation]="registerForm.value.client_category">
            <fieldset class="row subform">
              <div class="col-md-12 mb-1">
                <label class="form-label">Industry Name *</label>
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput formControlName="department_name" placeholder="Enter Department Name" />
                  <mat-error [@rowsAnimation]="displayMessage?.department_name" class="text-danger"
                    *ngIf="displayMessage?.department_name">{{displayMessage?.department_name}}</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-6 mb-1">
                <label class="form-label">Industry Address *</label>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-select formControlName="department_address" placeholder="Select Department Address" class="custom-select" appearance="outline">
                    <mat-option *ngFor="let dt of departmentTypes" [value]="dt.code">{{dt.name}}</mat-option>
                  </mat-select>
                  <!-- <input matInput formControlName="department_type" placeholder="Enter Department Type" /> -->
                  <mat-error [@rowsAnimation]="displayMessage?.department_address" class="text-danger"
                    *ngIf="displayMessage?.department_address">{{displayMessage?.department_address}}</mat-error>
                </mat-form-field>
              </div>

              <!-- <div class="col-md-6 mb-1">
                <label class="form-label">Department address *</label>
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput formControlName="department_address" placeholder="Enter Department Address" />
                  <mat-error [@rowsAnimation]="displayMessage?.departmentAddress" class="text-danger"
                    *ngIf="displayMessage?.department_address">{{displayMessage?.department_address}}</mat-error>
                </mat-form-field>
              </div> -->
              <div class="col-md-6 mb-1">
                <label class="form-label">Registration No. *</label>
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput formControlName="registration_number" placeholder="Enter Registration Number" />
                  <mat-error [@rowsAnimation]="displayMessage?.registration_number" class="text-danger"
                    *ngIf="displayMessage?.registration_number">{{displayMessage?.registration_number}}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12 mb-1">
                <label for="file2">Registration Document*</label>
                <input (change)="uploadFile($event)" class="form-control" type="file" />
                <!-- <span *ngIf="!img" class="text-danger">Registration Document is Required</span> -->
                <!-- <input class="re-img" type="file" name="file2" id="file2" /> -->
                <!-- <button type="button" onclick="deleteFile('file2')">Remove File</button> -->
              </div>
              <div class=" col-md-12 mb-1">
                <label for="secfile2">Renew Document*</label>
                <input (change)="uploadRenewDoc($event)" type="file" class="form-control">
                <!-- <span *ngIf="!renewDoc" class="text-danger">Renew Document is Required</span> -->
                <!-- <input class="re-img" type="file" name="secfile2" id="secfile2" />
                <button type="button" onclick="deleteFile('secfile2')">Remove File</button> -->

              </div>
              <!-- <div class="mb-1">
                <label class="form-label">Date</label>
                <np-datepicker
                [ngModelOptions]="{standalone: true}"
                monthDisplayType="short"
                dayDisplayType="short"
                [(ngModel)]="date"
                placeholder="asasd"
                class="nepali-datepicker">
              </np-datepicker>
              </div> -->
            </fieldset>
          </div>
        </div>
      </div>


      <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary w-100 h-45" id="submit">
        <span *ngIf="!isLoading">Submit</span>
        <span *ngIf="isLoading">
          <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
        </span>
      </button>
      <div class="text-center mt-4">
      <a href="Javascript:;" (click)="gotoLogin()" class="fp mb-4">Back to Login</a>
      </div>
    </form>
  </div>
</div>
