// /*End of Login*/
// .form-container {
//   background: rgb(93 118 155 / 10%);
//   padding: 40px;
//   width: 30vw;
// }

.form-container{
  margin-bottom: 8rem;
}

.login-intro {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-intro .lims {
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
}

.divider {
  color: rgba(0, 0, 0, 0.4);
  height: 1px;
  width: 100%;
}

.login-intro>.login-detail {
  font-size: 20px;
  font-weight: 500;
  color: #2260bf;
}

.np-logo {
  width: 25%;
  object-fit: cover;
  padding: 10px;
}

input {
  border-radius: 3px !important;
  font-size: 16px !important;
  padding: 12px !important;
}

input::placeholder {
  font-size: 14px;
}

#login {
  background: #2260bf !important;
  color: #ffffff;
}

#login:focus {
  box-shadow: none;
  border: none;
}

.login-additional {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-additional>.fp {
  color: #2260bf;
}

.login-additional>.register {
  color: #ffffff;
  background: #2260bf;
  padding: 8px 18px;
  text-decoration: none;
}

/*End of Login*/
/*Registration*/

.toptitle {
  width: 300px;
  margin: auto;
  text-align: center;
}

.toptitle h4 {
  border-bottom: 1px solid #c4cfda;
  padding: .5rem 0;
}

.toptitle h5 {
  color: #0D6EFD;
}

.userregister {
  // background-color: #eef1f5;
  border-radius: .5rem;
}

.hide {
  background-color: #f8f9fa;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.2rem;
}

.fp{
  color: #2260bf;
  text-decoration: none;
}

.hide label.form-label {
  margin-bottom: 0.15rem !important;
  font-size: .9rem;
}

.hide .form-control {
  padding: .25rem 0.5rem;
  font-size: .9rem;
}

.hide input#file {
  font-size: .9rem !important;
}

.form-select {
  border-radius: 3px !important;
  font-size: 16px !important;
  padding: 12px !important;
}

.subform input[type=file] {
  font-size: .8rem !important;
  color: #0044ff;
}

#submit {
  width: 100%;
  background: #2260bf !important;
  color: #ffffff;
  border-radius: 3px;
}

#submit:focus {
  box-shadow: none;
  border: none;
}

.subform button[type=button] {
  font-size: .8rem;
  background-color: red;
  margin: .25rem 0;
  padding: .25em .7rem;
  border: red;
  color: white;
}

/*End of Registration*/

::ng-deep {
  .datepicker__input {
    width: 100% !important;
      height: 45px !important;
      border-radius: 4px !important;
      border: 1px solid gray !important;

  }
  .datepicker__input:focus + label {
    color: #6200EE !important;
    top: 0 !important;
    transform: translateY(-50%) scale(.9) !important;
  }

  .datepicker__input:focus {
    border-color: #6200EE !important;
  }
  }

.form-container{
  max-width: 800px;
  border-radius: 10px;
  background-color: white;
  padding: 40px;
  margin-top: 4rem;
}

.re-img{
  width:250px;
}

// .fp .mb-4 .ng-tns-c16-1{
//     color: #2260BF;
//   text-decoration: none;
//   font-size: 14px;
//   font-weight: 500;
// }
// .register{
// border-radius:4px;
// }
// .register:hover{
// background-color:#1a4e9e;
// }
// .form-label{
// margin-bottom:0;
// }
// .lims{
// font-size:16px;
// }
// .login-detail{
// font-size:16px;
// }
// .input#secfile2,
// .subform[_ngcontent-serverApp-c19] input[type=file][_ngcontent-serverApp-c19]{
// width:250px;
// }
// .subform[_ngcontent-serverApp-c19] button[type=button][_ngcontent-serverApp-c19]{
// margin-left:13px;
// border-radius:4px;
// }

.mainheader-top {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  align-items: center;
}

.mainheader-top .GON-logo {
  width: 117px;
  height: max-content;
}

.mainheader-top .flag {
  width: 57px;
  height: max-content;
}

.mainheader-top-text {
  text-align: center;
}

.mainheader-top-text > *{
  margin-bottom: 5px;
}

.mainheader-top-text h4 {
  color: #A40000;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
}

.mainheader-top-text h3 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  text-transform: capitalize;
}

.mainheader-top-text h3 span {
  font-weight: 700;
  color: #1876D2;
}


.mainheader-top-text p {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  text-transform: capitalize;
}

.mainheader-nav {
  background-color: #2460B9;
}

.mainheader-nav .user-name {
  display: flex;
  max-width: 1300px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.mainheader-nav .main-ul {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;

}

.mainheader-nav .main-ul a {
  text-decoration: none;
  color: white;
  padding: 20px 15px;
}

.mainheader-nav .main-ul a:hover{
  background-color:#133a75 ;
}

.login-title{
  margin-bottom: 1.3rem;
}

.login-title h3 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 5px;
}

.login-title p {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

}

footer {
  height: 40px;
  align-items: center;
  background-color: red;
  text-align: center;
  color: white;

}

footer p {
  display: grid;
  height: 100%;
  align-items: center;
  text-align: center;
}
