
<div>
  <div class="row">
    <div class="db-content">
      <!-- <div class="top-view-page p-2 mb-3">
        <div class="row log-details p-3" *ngIf="loggedUserDetails.role !== 4">
          <div class="col-md-3">
            <div class="row">
              <p>Supervise By</p>
              <h4 *ngIf="reportDetails?.supervisor_user?.first_name">{{reportDetails?.supervisor_user?.first_name}} {{reportDetails?.supervisor_user?.last_name}}</h4>
              <h4 *ngIf="!reportDetails?.supervisor_user?.first_name" class="text-muted">N/A</h4>
            </div>
            <div class="row mt-2">
              <p>Created By</p>
              <h4 *ngIf="reportDetails?.owner_user?.first_name">{{reportDetails?.owner_user?.first_name}} {{reportDetails?.owner_user?.last_name}}</h4>
              <h4 class="text-muted" *ngIf="!reportDetails?.owner_user?.first_name">N/A</h4>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row">
              <p>Assigned Date</p>
              <h4 *ngIf="reportDetails.approved_date">{{reportDetails.approved_date | date: 'medium'}}</h4>
              <h4 *ngIf="!reportDetails.approved_date" class="text-muted">N/A</h4>
            </div>
            <div class="row mt-2">
              <p>Created at</p>
              <h4>{{reportDetails?.created_date | date:'medium'}}</h4>
            </div>
          </div>
          <div class="col-md-2">
            <div class="row">
              <p>Verified By</p>
              <h4 *ngIf="reportDetails.verified_by?.first_name">{{reportDetails.verified_by?.first_name}} {{reportDetails.verified_by?.last_name}}</h4>
              <h4 class="text-muted" *ngIf="!reportDetails.verified_by?.first_name">N/A</h4>
            </div>
            <div class="row mt-2">
                        <p>Verified at</p>
                        <h4 *ngIf="reportDetails?.completed_date">{{reportDetails?.completed_date | date: 'medium'}}</h4>
                        <h4 *ngIf="!reportDetails?.completed_date" class="text-muted">N/A</h4>
                    </div>
          </div>
          <div class="col-md-2">
            <ngx-barcode class="bar" [bc-value]="reportDetails?.id" [bc-display-value]="false"></ngx-barcode>
          </div>
          <div class="col-md-2 log-status">
            <span style="padding: 8px" class="badge badge-primary" [statusColor]="reportDetails?.status">
              {{reportDetails?.status}}</span>
          </div>
        </div>

        <div class="row log-details p-3" *ngIf="loggedUserDetails.role === 4">
          <div class="col-md-3">
            <div class="row">
              <p>Assigned By</p>
              <h4 *ngIf="reportDetails?.supervisor_user?.first_name">{{reportDetails?.supervisor_user?.first_name}} {{reportDetails?.supervisor_user?.last}}</h4>
              <h4 *ngIf="!reportDetails?.supervisor_user?.first_name" class="text-muted">N/A</h4>
            </div>

            <div class="row mt-2">
              <p>Created at</p>
              <h4>{{reportDetails?.created_date | date:'medium'}}</h4>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row">
              <p>Assigned Date</p>
              <h4 *ngIf="reportDetails.approved_date">{{reportDetails.approved_date | date: 'medium'}}</h4>
              <h4 class="text-muted" *ngIf="!reportDetails.approved_date">N/A</h4>
            </div>

          </div>
          <div class="col-md-3">
            
            <div class="row mt-2">
                       
                    </div>
          </div>
          <div class="col-md-3 log-status">
            <span style="padding: 8px" class="badge badge-primary" [statusColor]="reportDetails?.status">
              {{reportDetails?.status}}</span>
          </div>
        </div>
      </div> -->
      <div class="view-page">
        <!-- <h3 class="view-page-heading">Sample Details</h3> -->
        <div class="row">
          <div class="col-md-2">
            <h4>Sample ID</h4>
            <!-- analyst_encode_id -->
            <p *ngIf="loggedUserDetails.role === 4">{{reportDetails?.analyst_encode_id}}</p>
            <p *ngIf="loggedUserDetails.role === 3">{{reportDetails?.supervisor_encode_id}}</p>
            <p *ngIf="loggedUserDetails.role === 6">{{reportDetails?.verifier_encode_id}}</p>
            <p *ngIf="loggedUserDetails.role !== 3 && loggedUserDetails.role !== 4 && loggedUserDetails.role !== 6">{{reportDetails.id}}</p>
          </div>
          <div class="col-md-3">
            <h4>Sample Name </h4>
            <p>{{reportDetails.name}}</p>
          </div>
          <div class="col-md-3">
            <div *ngIf="loggedUserDetails.role === 4">
              <h4>Assigned by </h4>
              <p *ngIf="reportDetails?.supervisor_user?.first_name">{{reportDetails?.supervisor_user?.first_name}} {{reportDetails?.supervisor_user?.last}}</p>
              <p *ngIf="!reportDetails?.supervisor_user?.first_name" class="text-muted">N/A</p>
            </div>
            <div *ngIf="loggedUserDetails.role !== 4">
              <h4>Supervise by </h4>
            <p *ngIf="reportDetails?.supervisor_user?.first_name">{{reportDetails?.supervisor_user?.first_name}} {{reportDetails?.supervisor_user?.last_name}}</p>
            <p *ngIf="!reportDetails?.supervisor_user?.first_name" class="text-muted">N/A</p>
            </div>
            
          </div>
          <div class="col-md-2">
            <div *ngIf="loggedUserDetails.role === 4">
            <h4>Assigned Date </h4>
            <p *ngIf="reportDetails.approved_date">{{reportDetails.approved_date | date: 'medium'}}</p>
            <p class="text-muted" *ngIf="!reportDetails.approved_date">N/A</p>
          </div>
          </div>

          <div class="col-md-2 text-end">
            <span style="padding: 8px" class="badge badge-primary" [statusColor]="reportDetails?.status">
              {{reportDetails?.status}}</span>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-4">
            <h4>MFD</h4>
            <p>{{reportDetails.mfd | date}}</p>
          </div>
          <div class="col-md-4">
            <h4>Best Before Date</h4>
            <p>{{reportDetails.dfb | date}}</p>
          </div>

          <div class="col-md-4">
            <h4>Batch</h4>
            <p>{{reportDetails.batch}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h4>Brand</h4>
            <p>{{reportDetails.brand}}</p>
          </div>

          <div class="col-md-4">
            <h4>Purpose of Analysis</h4>
            <p>{{reportDetails?.purpose}}</p>
          </div>

          <div class="col-md-4">
            <h4>Condition</h4>
            <p>{{reportDetails.condition}}</p>
          </div>
        </div> -->
      </div>

      <div class="view-page mt-3">
        <h3 class="view-page-heading">Parameter Details</h3>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
              <tr>
                <th>S.N.</th>
                <th>Parameter Name</th>
                <th>Formula</th>
                <th>Method</th>
                <th>Units</th>
                <th>Price</th>
                <th>Tested By</th>
                <th>Result</th>
                <th>Status</th>
                <th>Remarks</th>
              </tr>
              <tbody>
                <tr *ngFor="let r of reportDetails.parameters; let i = index;">
                  <td>{{i+1}}</td>
                  <td>{{r.name | titlecase}}</td>
                  <td>{{r.formula}}</td>
                  <td>{{r.ref_test_method}}</td>
                  <td>{{r.units}}</td>
                  <td>Rs.{{r.price}}</td>
                  <td>{{r.first_name | titlecase}} {{r.last_name | titlecase}}</td>
                  <td>
                    <span>{{r.result}}</span>
                    <!-- <span *ngIf="r?.result === 0">0</span>
                    <span *ngIf="r?.result" class="text-muted">N/A</span> -->
                  </td>
                  <td><span class="badge badge-primary" [statusColor]="r.status">{{r.status | titlecase}}</span></td>
              <td [attr.rowspan]="reportDetails?.parameters?.length" *ngIf="i === 0" >{{reportDetails?.remarks}}</td>
                </tr>
              </tbody>
            </table>
          </div>

         <!-- <div class="col-md-12 text-end">
          <button class="btn btn-primary btn-sm mx-1">Download Report</button>
          <button class="btn btn-secondary btn-sm mx-1">Send for Verification</button>
         </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="row m-0" *ngIf="loggedUserDetails.role !== 4">
    <div class="col-md-12 bg-white p-3 mt-3" style="border-radius: 5px;">
      <div class="row">
        <div class="col-md-6 text-left">
          <h2 class="mb-0">Download Report</h2>
        </div>

        <div class="col-md-6 text-end">
          <button [disabled]="reportDetails.status !== 'completed'" (click)="downloadReport()" class="btn btn-primary btn-lims-primary btn-sm mx-1">English</button>
          <button [disabled]="reportDetails.status !== 'completed'" (click)="downloadReportNepali()" class="btn btn-primary btn-lims-danger btn-sm mx-1">Nepali</button>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="row" *ngIf="isLoading">
  <div class="col-md-12 text-center py-3">
    <div class="spinner-border text-dark" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
