<!-- <div class="row bg-white m-0">
  <div class="col-md-12 p-4" *ngIf="userDetails.id">
    <div class="row m-0">
      <div class="col-md-12">
        <h1 class="text-lims-primary">User Category</h1>
        <hr/>
        <span class="badge badge-primary" style="background-color: #2260bf;">{{getRoleName(userDetails.role)}}</span>
      </div>
    </div>

    <div class="row m-0 mt-5" *ngIf="userDetails?.role === 5">
      <div class="col-md-12">
        <h1 class="text-lims-primary">Client Details</h1>
        <hr/>
        <span *ngIf="userDetails?.client_category" class="badge badge-primary" style="background-color: #2260bf;">{{getClientName(userDetails?.client_category)}}</span>
        <span *ngIf="!userDetails?.client_category" class="text-muted">N/A</span>
      </div>
    </div>

    <hr/>
    <h1 class="text-lims-primary">Personal Details</h1>
    <div class="row">
      <div class="col-md-4">
        <h3>
          <span class="text-bold">Full Name:</span> {{userDetails.first_name | titlecase}} {{userDetails.last_name | titlecase}}
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Email:</span> {{userDetails.email}}
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Phone Number: </span>
          <span *ngIf="userDetails?.phone">{{userDetails?.phone}}</span>
          <span *ngIf="!userDetails?.phone" class="text-muted">N/A</span>
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Username: </span>
          <span *ngIf="userDetails?.username">{{userDetails?.username}}</span>
          <span *ngIf="!userDetails?.username" class="text-muted">N/A</span>
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Joined Date: </span>
          <span *ngIf="userDetails?.date_joined">{{userDetails?.date_joined | date}}</span>
          <span *ngIf="!userDetails?.date_joined" class="text-muted">N/A</span>
        </h3>
      </div>
    </div>

    <div class="row"  *ngIf="userDetails?.role === 5">
      <div class="col-md-6">
        <h3>
          <span class="text-bold">Registration Documents</span>
        </h3>
        <img matTooltip="View Image" alt="Registration Document" style="height: 200px" class="img-thumbnail cursor-pointer" (click)="viewImage(userDetails?.registration_document)" [src]="userDetails?.registration_document" />
      </div>

      <div class="col-md-6">
        <h3>
          <span class="text-bold">Renew Documents</span>
        </h3>
        <img matTooltip="View Image" alt="Renew Document" style="height: 200px" class="img-thumbnail cursor-pointer" (click)="viewImage(userDetails?.renew_document)" [src]="userDetails?.renew_document" />
      </div>
      </div>

      <div class="col-md-12 text-end mt-2">
        <button (click)="procceed()" *ngIf="(loggedUser?.role === 1 || loggedUser?.role === 2) && userDetails.is_verified === 0" class="btn btn-success btn-sm">
          <span *ngIf="!isApprove">Procceed</span>
            <span *ngIf="isApprove">
              <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
            </span>
        </button>
      </div>

  </div>

  <div class="row" *ngIf="!userDetails.id">
    <div class="col-md-12 text-center py-3">
      <div class="spinner-border text-dark" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div> -->


<div>
  <div class="row">
    <div class="db-content">
      <div class="top-view-page p-2 mb-3">
        <div class="row log-details p-3">
          <div class="col-md-3">
            <div class="row" *ngIf="userDetails?.approved_by">
              <p>Approve By</p>
              <h4 *ngIf="userDetails?.approved_by">{{userDetails?.approved_by?.first_name}} {{userDetails?.approved_by?.first_name}}</h4>
              <h4 class="text-muted" *ngIf="!userDetails?.approved_by">N/A</h4>
            </div>
            <div class="row mt-2" *ngIf="userDetails?.first_name">
              <p>Created By</p>
              <h4>{{userDetails?.first_name}} {{userDetails?.last_name}}</h4>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row" *ngIf="userDetails?.approved_date">
              <p>Approved At</p>
              <h4 *ngIf="userDetails?.approved_date">{{userDetails?.approved_date | date:'medium'}}</h4>
              <h4 class="text-muted" *ngIf="!userDetails?.approved_date">N/A</h4>
            </div>
            <div class="row mt-2" *ngIf="userDetails?.date_joined">
              <p>Created at</p>
              <h4 *ngIf="userDetails?.date_joined ">{{userDetails?.date_joined | date:'medium'}}</h4>
              <h4 *ngIf="!userDetails?.date_joined " class="text-muted">N/A</h4>
            </div>
          </div>
          <div class="col-md-3">
            <!-- <div class="row">
              <p>Verified By</p>
              <h4>N/A</h4>
            </div> -->
          </div>
          <div class="col-md-3 log-status">
            <span *ngIf="userDetails.is_verified">
            <span style="padding: 8px" class="badge badge-primary" [statusColor]="'verified'">
              Verified</span>
              </span>
              <span class="badge badge-primary p-2" [statusColor]="'notVerified'" *ngIf="!userDetails.is_verified">Not verified</span>
          </div>
        </div>
      </div>
      <div class="view-page">
        <h3 class="view-page-heading">User Details</h3>
        <div class="row">
          <div class="col-md-4">
            <h4>User Role</h4>
            <p *ngIf="userDetails.role" >{{getRoleName(userDetails.role)}}</p>
            <span *ngIf="!userDetails.role" class="text-muted">N/A</span>
          </div>
          <div class="col-md-4" *ngIf="userDetails.role === 5">
            <h4>Client Category </h4>
            <p *ngIf="userDetails?.client_category">{{getClientName(userDetails?.client_category)}}</p>
            <span *ngIf="!userDetails?.client_category" class="text-muted">N/A</span>
          </div>

          <div class="col-md-4" *ngIf="userDetails.role === 3 || userDetails.role === 4">
            <h4>Test Type </h4>
            <!-- {{userDetails | json}} -->
            <span *ngIf="userDetails?.test_type">
              <p *ngIf="userDetails?.test_type.includes(1)">Chemical</p>
              <p *ngIf="userDetails?.test_type.includes(2)">Microbiological</p>
              <p *ngIf="userDetails?.test_type.includes(3)">Instrumental</p>
              <!-- {{userDetails?.test_type}} -->
            </span>
            <span *ngIf="!userDetails?.test_type" class="text-muted">N/A</span>
          </div>
          <div class="col-md-4">
            <h4>Full Name </h4>
            <p>{{userDetails?.first_name | titlecase}} {{userDetails.last_name | titlecase}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h4>Email</h4>
            <p *ngIf="userDetails.email">{{userDetails.email}}</p>
            <span *ngIf="!userDetails.email" class="text-muted">N/A</span>
          </div>
          <div class="col-md-4">
            <h4>Phone Number</h4>
            <p *ngIf="userDetails.phone">{{userDetails.phone}}</p>
            <span *ngIf="!userDetails.phone" class="text-muted">N/A</span>
          </div>

          <div class="col-md-4">
            <h4>Username</h4>
            <p *ngIf="userDetails?.username">{{userDetails?.username}}</p>
          <span *ngIf="!userDetails?.username" class="text-muted">N/A</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h4>Joined Date</h4>
            <p *ngIf="userDetails?.date_joined">{{userDetails?.date_joined | date}}</p>
          <span *ngIf="!userDetails?.date_joined" class="text-muted">N/A</span>
          </div>
        </div>
      </div>

      <div class="top-view-page p-2 mb-3 mt-4" *ngIf="userDetails?.role === 5">
        <div class="row log-details p-3">
          <h3 class="view-page-heading">Industry Details</h3>
          <div class="col-md-6">
            <h3>
              <span class="text-bold">Industry Name</span>
            </h3>
            <p>{{userDetails?.department_name}}</p>
          </div>

          <div class="col-md-6">
            <h3>
              <span class="text-bold">Industry Address</span>
            </h3>
            <p>{{getDepartmentName(userDetails?.department_address)}}</p>
          </div>

          <div class="col-md-6">
            <h3>
              <span class="text-bold">Registration Number</span>
            </h3>
            <p>{{userDetails?.registration_number}}</p>
          </div>
        </div>
      </div>

      <div class="top-view-page p-2 mb-3 mt-4" *ngIf="userDetails?.role === 5">
        <div class="row log-details p-3">
          <h3 class="view-page-heading">Documents</h3>
          <div class="col-md-6">
            <h3>
              <span class="text-bold">Registration Documents</span>
            </h3>
            <img matTooltip="View Image" alt="Registration Document" style="height: 200px" class="img-thumbnail cursor-pointer" (click)="viewImage(userDetails?.registration_document)" [src]="userDetails?.registration_document" />
          </div>

          <div class="col-md-6">
            <h3>
              <span class="text-bold">Renew Documents</span>
            </h3>
            <img matTooltip="View Image" alt="Renew Document" style="height: 200px" class="img-thumbnail cursor-pointer" (click)="viewImage(userDetails?.renew_document)" [src]="userDetails?.renew_document" />
          </div>
        </div>
      </div>

      <div class="col-md-12 text-end mt-2">
        <button (click)="procceed()" *ngIf="(loggedUser?.role === 1 || loggedUser?.role === 2) && userDetails.is_verified === 0" class="btn btn-success btn-sm">
          <span *ngIf="!isApprove">Procceed</span>
            <span *ngIf="isApprove">
              <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
            </span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="isLoading">
  <div class="col-md-12 text-center py-3">
    <div class="spinner-border text-dark" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

