<div>
    <div class="row">
      <div class="db-content">
        
        <div class="view-page">
          <div class="row">
            <div class="col-md-2">
              <h4>Sample ID</h4>
              <p *ngIf="loggedUserDetails.role === 4">{{reportDetails?.namuna_code || '-'}}</p>
              <p *ngIf="loggedUserDetails.role === 3">{{reportDetails?.sample_form?.namuna_code || '-'}}</p>
              <p *ngIf="loggedUserDetails.role === 6">{{reportDetails?.id}}</p>
              <p *ngIf="loggedUserDetails.role !== 3 && loggedUserDetails.role !== 4 && loggedUserDetails.role !== 6">
                {{reportDetails?.namuna_code || '-'}}</p>
            </div>
            <div class="col-md-3">
              <h4>Sample Name </h4>
              <p>{{reportDetails?.sample_form?.name | titlecase}}</p>
            </div>
            <div class="col-md-3">
              <div *ngIf="loggedUserDetails.role === 4">
                <h4>Assigned by </h4>
                <p *ngIf="reportDetails?.supervisor_user?.first_name">{{reportDetails?.supervisor_user?.first_name}}
                  {{reportDetails?.supervisor_user?.last}}</p>
                <p *ngIf="!reportDetails?.supervisor_user?.first_name" class="text-muted">N/A</p>
              </div>
              <div *ngIf="loggedUserDetails.role !== 4">
                <h4>Supervise by </h4>
                <p *ngIf="reportDetails?.supervisor_user?.first_name">{{reportDetails?.supervisor_user?.first_name}}
                  {{reportDetails?.supervisor_user?.last_name}}</p>
                <p *ngIf="!reportDetails?.supervisor_user?.first_name" class="text-muted">N/A</p>
              </div>
  
            </div>
            <div class="col-md-2">
              <div *ngIf="loggedUserDetails.role === 4">
                <h4>Assigned Date </h4>
                <p *ngIf="reportDetails.approved_date">{{reportDetails.approved_date | date: 'medium'}}</p>
                <p class="text-muted" *ngIf="!reportDetails.approved_date">N/A</p>
              </div>
            </div>
  
            <div class="col-md-2 text-end">
              <span style="padding: 8px" class="badge badge-primary" [statusColor]="reportDetails?.status">
                {{reportDetails?.status}}</span>
            </div>
          </div>
          
        </div>
  

        <div *ngIf="loggedUserDetails.role === 3">
        <div class="white-bg mt-3" *ngIf="supervisorRawData?.Microbiological || supervisorRawData?.Chemical || supervisorRawData?.Instrumental">
          <h3 class="rawdata-heading">Raw Data Sheet</h3>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li *ngIf="supervisorRawData?.Microbiological" class="nav-item" role="presentation">
              <button class="nav-link active" id="Microbiological-tab" data-bs-toggle="tab" data-bs-target="#Microbiological-tab-pane" type="button" role="tab" aria-controls="Microbiological-tab-pane" aria-selected="true">Microbiological Test</button>
            </li>
            <li *ngIf="supervisorRawData?.Chemical" class="nav-item active" role="presentation">
              <button class="nav-link" id="Chemical-tab" data-bs-toggle="tab" data-bs-target="#Chemical-tab-pane" type="button" role="tab" aria-controls="Chemical-tab-pane" aria-selected="false">Chemical Test</button>
            </li>
            <li *ngIf="supervisorRawData?.Instrumental" class="nav-item" role="presentation">
              <button class="nav-link" id="Instrumental-tab" data-bs-toggle="tab" data-bs-target="#Instrumental-tab-pane" type="button" role="tab" aria-controls="Instrumental-tab-pane" aria-selected="false">Instrumental Test</button>
            </li>
          </ul>
          <div  class="tab-content mt-3" id="myTabContent">
            <div *ngIf="supervisorRawData?.Microbiological" class="tab-pane show active fade" id="Microbiological-tab-pane" role="tabpanel" aria-labelledby="Microbiological-tab" tabindex="0">
              <table class="table mb-0">
                <tbody>
                  <tr *ngFor="let a of supervisorRawData?.Microbiological">
                    <td style="display: flex; justify-content: start; align-items: center;">
                      <ngx-avatar [matTooltip]="a?.analyst_user.first_name +' '+ a?.analyst_user.last_name" [name]="a?.analyst_user.first_name +' '+ a?.analyst_user.last_name" class="analyst-avatar" [size]="50"></ngx-avatar>
                      <p class="bold-text mb-0 pb-0 ms-3">{{a?.analyst_user.first_name}} {{a?.analyst_user.last_name}}</p>
                    </td>
                    <td style="width: 16%;">
                      <p class="bold-text mb-0 pb-0">Generated Date</p>
                      <p class="text-muted mb-0">{{a?.created_date | date: 'medium'}}</p>
                    </td>
                    <td>
                      <p class="bold-text mb-0 pb-0">Remarks</p>
                      <button (click)="viewRemarks(a, 'analyst')" class="btn btn-primary btn-lims-primary btn-sm me-3">Analyst Remarks</button>
                      <!-- <button (click)="viewRemarks(a, 'supervisor')" class="btn btn-primary btn-lims-primary btn-sm">Supervisor Remarks</button> -->
                      <!-- <button *ngIf="a?.sample_form?.remarks" (click)="supervisorRemarks(a)" class="btn btn-primary btn-lims-primary btn-sm mx-1">Supervisor Remarks</button> -->
                    </td>
                    
                    <td style="width: 15%;" class="text-start">
                      <p class="bold-text mb-0 pb-0">Status</p>
                      <span style="padding: 8px;" class="badge badge-primary" [statusColor]="a?.status">{{a.status}}</span>
                    </td>
                    <td style="width: 20%;" class="text-start">
                      <p class="bold-text mb-0 pb-0">Actions</p>
                      <!-- <button (click)="viewMicroRawData(a)" class="btn btn-primary btn-lims-primary btn-sm">View Raw Data</button> -->
                      <!-- <button (click)="viewRawData(a)" class="btn btn-primary btn-lims-primary btn-sm">View Raw Data</button> -->
                  <button (click)="downloadRawDatasheetM(a.id)" class="btn btn-secondary mx-2 btn-sm">Download</button>
                  <button (click)="printRawDataM(a.id)" class="btn btn-danger btn-lims-danger btn-sm">Print</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
  
            <div *ngIf="supervisorRawData?.Chemical" class="tab-pane fade show active" id="Chemical-tab-pane" role="tabpanel" aria-labelledby="Chemical-tab" tabindex="0">
              <table class="table mb-0">
                <tbody>
                  <tr *ngFor="let a of supervisorRawData?.Chemical">
                    <td style="display: flex; justify-content: start; align-items: center;">
                      <ngx-avatar [matTooltip]="a?.analyst_user.first_name +' '+ a?.analyst_user.last_name" [name]="a?.analyst_user.first_name +' '+ a?.analyst_user.last_name"class="analyst-avatar" [size]="50"></ngx-avatar>
                      <p class="bold-text mb-0 pb-0 ms-3">{{a.analyst_user.first_name}} {{a?.analyst_user.last_name}}</p>
                    </td>
                    <td style="width: 16%;">
                      <p class="bold-text mb-0 pb-0">Generated Date</p>
                      <p class="text-muted mb-0">{{a?.created_date | date: 'medium'}}</p>
                    </td>
                    <td>
                      <p class="bold-text mb-0 pb-0">Remarks</p>
                      <button (click)="viewRawData(a.remarks)" class="btn btn-primary btn-lims-primary btn-sm me-3">Analyst Remarks</button>
                      <!-- <button *ngIf="a.supervisor_remarks" (click)="viewRemarks(a, 'supervisor')" class="btn btn-primary btn-lims-primary btn-sm">Supervisor Remarks</button> -->
                    </td>
                    
                    <td style="width: 15%;" class="text-start">
                      <p class="bold-text mb-0 pb-0">Status</p>
                      <span style="padding: 8px;" class="badge badge-primary" [statusColor]="a?.status">{{a?.status}}</span>
                    </td>
                    <td style="width: 20%;" class="text-start">
                      <p class="bold-text mb-0 pb-0">Actions</p>
                      
                      <button (click)="viewRawData(a)" class="btn btn-primary btn-lims-primary btn-sm">View Raw Data</button>
                      <!-- <button (click)="viewRawData(a)" class="btn btn-primary btn-lims-primary btn-sm">View Raw Data</button> -->
                  <button (click)="downloadRawDatasheet(a.id)" class="btn btn-secondary mx-2 btn-sm">Download</button>
                  <button (click)="printRawData(a.id)" class="btn btn-danger btn-lims-danger btn-sm">Print</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
  
            <div *ngIf="supervisorRawData?.Instrumental" class="tab-pane fade" id="Instrumental-tab-pane" role="tabpanel" aria-labelledby="Instrumental-tab" tabindex="0">
              <table class="table mb-0">
                <tbody>
                  <tr *ngFor="let a of supervisorRawData?.Instrumental">
                    <td style="display: flex; justify-content: start; align-items: center;">
                      <ngx-avatar [matTooltip]="a?.analyst_user.first_name +' '+ a?.analyst_user.last_name" [name]="a?.analyst_user.first_name +' '+ a?.analyst_user.last_name"class="analyst-avatar" [size]="50"></ngx-avatar>
                      <p class="bold-text mb-0 pb-0 ms-3">{{a?.analyst_user.first_name}} {{a?.analyst_user.last_name}}</p>
                    </td>
                    <td style="width: 16%;">
                      <p class="bold-text mb-0 pb-0">Generated Date</p>
                      <p class="text-muted mb-0">{{a?.created_date | date: 'medium'}}</p>
                    </td>
                    <td>
                      <p class="bold-text mb-0 pb-0">Remarks</p>
          
                      <button (click)="viewRemarks(a.remarks, 'analyst')" class="btn btn-primary btn-lims-primary btn-sm me-3">Analyst Remarks</button>
                      <!-- <button (click)="viewRemarks(a, 'supervisor')" class="btn btn-primary btn-lims-primary btn-sm">Supervisor Remarks</button> -->
                      <!-- <button *ngIf="a?.sample_form?.remarks" (click)="supervisorRemarks(a?.sample_form?.remarks)" class="btn btn-primary btn-lims-primary btn-sm mx-1">Supervisor Remarks</button> -->
                    </td>
                    
                    <td style="width: 15%;" class="text-start">
                      <p class="bold-text mb-0 pb-0">Status</p>
                      <span style="padding: 8px;" class="badge badge-primary" [statusColor]="supervisorRawData?.Instrumental[0]?.status">{{supervisorRawData?.Instrumental[0]?.status}}</span>
                    </td>
                    <td style="width: 20%;" class="text-start">
                      <p class="bold-text mb-0 pb-0">Actions</p>
                      <!-- {{a | json}} -->
                      <!-- <button (click)="viewRawData(a)" class="btn btn-primary btn-lims-primary btn-sm">View Raw Data</button> -->
                      <!-- <button (click)="viewRawData(a)" class="btn btn-primary btn-lims-primary btn-sm">View Raw Data</button> -->
                      <button (click)="viewRawData(a)" class="btn btn-primary btn-lims-primary btn-sm">View Raw Data</button>
                      <!-- <button (click)="viewRawData(a)" class="btn btn-primary btn-lims-primary btn-sm">View Raw Data</button> -->
                  <button (click)="downloadRawDatasheet(a.id)" class="btn btn-secondary mx-2 btn-sm">Download</button>
                  <button (click)="printRawData(a.id)" class="btn btn-danger btn-lims-danger btn-sm">Print</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
  
  
        <!-- <div class="view-page mt-3" *ngIf="rawDataSheet .length > 0 && (loggedUserDetails.role === 6 || loggedUserDetails.role === 4) ">
          <table class="table">
            <tbody>
              <h3 class="text-bold mb-0 ms-2 mt-2">Raw Data Sheet</h3>
              <tr *ngFor="let a of rawDataSheet">
                <td style="width: 20%;">
                  <p class="text-muted mb-0 pb-0">Generated Date</p>
                  <p class="text-muted mb-0">{{a?.created_date | date: 'medium'}}</p>
                </td>
                <td style="width: 30%;" class="pt-3">
                  <button (click)="viewRemarks(a)" class="btn btn-primary btn-lims-primary btn-sm">My Remarks</button>
                  <button *ngIf="a?.sample_form?.remarks" (click)="supervisorRemarks(a)" class="btn btn-primary btn-lims-primary btn-sm mx-1">Supervisor Remarks</button>
                </td>
                
                <td style="width: 20%;" class="pt-3 text-end">
                  <span style="padding: 8px;" class="badge badge-primary" [statusColor]="a.status">{{a.status}}</span>
                </td>
                <td style="width: 30%;" class="text-end pt-3">
                  <button (click)="viewRawData(a)" class="btn btn-primary btn-lims-primary btn-sm">View Raw Data</button>
              <button (click)="downloadRawDatasheet(a.id)" class="btn btn-secondary mx-2 btn-sm">Download</button>
              <button (click)="printRawData(a.id)" class="btn btn-danger btn-lims-danger btn-sm">Print</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div> -->
  
  
  
        <div class="view-page mt-3">
          <h3 class="view-page-heading">Parameter Details</h3>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered">
                <tr>
                  <th>S.N.</th>
                  <th>Parameter Name</th>
                  <!-- <th>Formula</th> -->
                  <th>Method</th>
                  <th>Units</th>
                  <!-- <th>Price</th> -->
                  <th>Supervise By</th>
                  <th>Result</th>
                  <th>Mandatory Standard</th>
                  <!-- <th>Status</th> -->
                  <th>Remarks</th>
                </tr>
                <tbody>
                  <tr *ngFor="let r of reportDetails?.parameters; let i = index;">
                    <td>{{i+1}}</td>
                    <td>{{r.name | titlecase}}</td>
                    <!-- <td>
                      <span *ngIf="r.formula">
                        <span *ngIf="r.formula === 'nan'" class="text-muted">N/A</span>
                        <span *ngIf="r.formula !== 'nan'" class="text-muted">{{r.formula}}</span>
                        </span>
                      <span *ngIf="!r.formula" class="text-muted">N/A</span>
                    </td> -->
                    <td>
                      <span *ngIf="r.test_method">
                        {{r?.test_method}}
                        <!-- <span *ngIf="r.ref_test_method === 'nan'" class="text-muted">N/A</span>
                        <span *ngIf="r.ref_test_method !== 'nan'" class="text-muted">{{r.ref_test_method}}</span> -->
                      </span>
                      <span *ngIf="!r.test_method" class="text-muted">N/A</span>
                    </td>
                    <td>
                      <span *ngIf="r.units">
                        <span *ngIf="r.units === 'nan'" class="text-muted">N/A</span>
                        <span *ngIf="r.units !== 'nan'" class="text-muted">{{r.units}}</span>
                      </span>
                      <span *ngIf="!r.units" class="text-muted">N/A</span>
                    </td>
                    <!-- <td>Rs.{{r.price}}</td> -->
                    <td>{{reportDetails?.supervisor_user?.first_name | titlecase}} {{reportDetails?.supervisor_user.last_name | titlecase}}</td>
                    <td>
                      <span [innerHtml]="r.result"></span>
                      <!-- <span *ngIf="r?.result === 0">0</span>
                      <span *ngIf="r?.result" class="text-muted">N/A</span> -->
                    </td>
                    <td>{{r.mandatory_standard}}</td>
                    <!-- <td>
                      <span class="badge badge-primary" [statusColor]="r.status">{{r.status | titlecase}}</span>
                    </td> -->
                    <td ><div [innerHtml]="r?.analyst_remarks"></div></td>
                  </tr>
                </tbody>
              </table>
            </div>
  
            <!-- <div class="col-md-12 text-end">
            <button class="btn btn-primary btn-sm mx-1">Download Report</button>
            <button class="btn btn-secondary btn-sm mx-1">Send for Verification</button>
           </div> -->
          </div>
        </div>
      </div>
    </div>
  
    <div class="row m-0" *ngIf="loggedUserDetails.role !== 4">
      <div class="col-md-12 bg-white p-3 mt-3" style="border-radius: 5px;">
        <div class="row">
          <div class="col-md-6 text-left">
            <h2 class="mb-0">Download Report</h2>
          </div>
  
          <div class="col-md-6 text-end">
            <button (click)="downloadReport()"
              class="btn btn-primary btn-lims-primary btn-sm mx-1">Download</button>
            <!-- <button (click)="downloadReportNepali()"
              class="btn btn-primary btn-lims-danger btn-sm mx-1">Nepali</button> -->
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  <div class="row" *ngIf="isLoading">
    <div class="col-md-12 text-center py-3">
      <div class="spinner-border text-dark" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>