.custom-input {
  padding-top: 10px !important;
}

.mat-mdc-header-row {
  background-color: #E7F0F7 !important;
}

.custom-border {
  border: 1px solid #0000002e;
}

.custom-input {
  padding-top: 10px !important;
}

.paginator-border {
  border: 1px solid #0000002e !important;
}

.paginator {
  ::ng-deep {
    .mat-mdc-text-field-wrapper {
      height: 30px !important;
    }
  }
}

::ng-deep .mat-form-field-wrapper{
  margin-bottom: -1.25em !important;
}

.after-disabled:disabled,
.after-disabled[disabled]{
  // border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

::ng-deep {
  .datepicker__input {
    width: 100% !important;
    height: 45px !important;
    border-radius: 4px !important;
    border: 1px solid gray !important;

  }

  .datepicker__input:focus+label {
    color: #6200EE !important;
    top: 0 !important;
    transform: translateY(-50%) scale(.9) !important;
  }

  .datepicker__input:focus {
    border-color: #6200EE !important;
  }
}
