<div class="row" *ngIf="sampleDetails">
  <div class="db-content">
    <div class="top-view-page p-2 mb-3">
      <div class="row log-details p-3">
        <div *ngIf="sampleDetails?.status === 'recheck'" class="alert alert-danger">Sample is on Recheck. Remarks:{{sampleDetails?.remarks}}</div>
        <div class="col-md-3">
         
          <div class="row mt-2">
            <p>Created By</p>
            <h4 >{{userDetails.first_name}} {{userDetails.last_name}}</h4>
          </div>

           <div class="row" *ngIf="sampleDetails.approved_by">
            <p>Approved By</p>
            <h4>{{sampleDetails.approved_by.first_name}} {{sampleDetails.approved_by?.last_name}}</h4>
          </div>
          
        </div>
        <div class="col-md-3" >
          

        </div>
        <div class="col-md-3" >
          <!-- <div class="row" *ngIf="sampleDetails.status !== 'pending'">
            <p>Completed At</p>
            <h4>N/A</h4>
          </div> -->
          <div class="row mt-2">
            <p>Created at</p>
            <h4>{{sampleDetails?.created_date | date: 'medium'}}</h4>
          </div>

          <div class="row" *ngIf="sampleDetails.approved_date">
            <p>Approved at</p>
            <h4 *ngIf="sampleDetails?.approved_date">{{sampleDetails?.approved_date | date:'medium'}}</h4>
            <h4 *ngIf="!sampleDetails?.approved_date">N/A</h4>
          </div>
          <!-- <div class="row mt-2">
                      <p>Rejected at</p>
                      <h4>Lorem</h4>
                  </div> -->
        </div>
        <div class="col-md-3 log-status">
          <span style="padding: 8px" class="badge badge-primary" [statusColor]="sampleDetails.status">
            {{sampleDetails.status}}</span>
        </div>
      </div>
    </div>

    <!-- <div class="view-page" *ngIf="sampleDetails?.payment?.voucher_number">
      <h3 class="view-page-heading">Payment Details</h3>
      <div class="row">
        <div class="col-md-3">
          <h4 class="m-0">Voucher Number</h4>
          <p>{{sampleDetails?.payment?.voucher_number}}</p>
        </div>
        <div class="col-md-3">
          <h4 class="m-0">Amount </h4>
          <p>Rs.{{sampleDetails?.payment?.amount}}</p>
        </div>
        <div class="col-md-3">
          <h4 class="m-0">Paid Date </h4>
          <p>{{(sampleDetails?.payment?.created_date) | date: 'medium'}}</p>
        </div>

        <div class="col-md-3">
          <h4 class="m-0">Payment Receipt </h4>
          <button (click)="viewReceipt(sampleDetails?.payment?.payment_receipt)" class="btn btn-primary btn-sm">View Receipt</button>
        </div>
      </div>
      </div> -->

      <div class="view-page mt-4 " *ngIf="sampleDetails?.payment.length > 0">
        <h3 class="view-page-heading pb-0 mb-0">Payment Details</h3>
        <div class="row m-0 py-1" *ngFor="let p of sampleDetails.payment">
          <div class="col-md-3">
            <h4 class="mb-0">Voucher No</h4>
            <p>{{p.voucher_number}}</p>
          </div>
          <div class="col-md-3">
            <h4 class="mb-0">Amount </h4>
            <p>{{p.amount || ''}}</p>
          </div>
          <div class="col-md-3">
            <h4 class="mb-0">Paid Date </h4>
            <p>{{p.created_date | date: 'medium'}}</p>
          </div>
  
          <div class="col-md-3">
            <h4 class="m-0">Payment Receipt </h4>
            <button (click)="viewReceipt(p.payment_receipt)" class="btn btn-primary btn-sm">View Receipt</button>
            <!-- <img (click)="viewReceipt(sampleDetails?.payment?.payment_receipt)" style="height: 60px;" [src]="sampleDetails?.payment?.payment_receipt" class="img-thumbnail cursor-pointer" /> -->
          </div>
          <hr class="m-0"/>
        </div>
        <!-- <div class="row">
          <div class="col-md-4">
            <h4>MFD</h4>
            <p>{{sampleDetails.mfd | date}}</p>
          </div>
          <div class="col-md-4">
            <h4>Best Before Date</h4>
            <p>{{sampleDetails.dfb | date}}</p>
          </div>
  
          <div class="col-md-4">
            <h4>Batch</h4>
            <p>{{sampleDetails.batch}}</p>
          </div>
        </div> -->
        <!-- <div class="row">
          <div class="col-md-4">
            <h4>Brand</h4>
            <p>{{sampleDetails.brand}}</p>
          </div>
  
          <div class="col-md-4">
            <h4>Purpose of Analysis</h4>
            <p>{{sampleDetails?.purpose}}</p>
          </div>
  
          <div class="col-md-4">
            <h4>Condition</h4>
            <p>{{sampleDetails.condition}}</p>
          </div>
        </div> -->
      </div>

      <div class="view-page mt-4" *ngIf="sampleDetails?.client_category_detail?.ClientCategoryDetail.length > 0">
        <h3 class="view-page-heading pb-0 mb-0">Additional Details</h3>
        <div class="row m-0 py-1" *ngFor="let p of sampleDetails?.client_category_detail?.ClientCategoryDetail">
          <div class="col-md-4">
            <h4 class="mb-0">Document Name</h4>
            <p>{{p?.name}}</p>
          </div>
  
          <div class="col-md-8 pt-2">
            <!-- <h4 class="m-0">Document </h4> -->
            <button (click)="viewReceipt(p.file)" class="btn btn-primary btn-sm">View</button>
          </div>
          <hr class="m-0"/>
        </div>
      </div>

    <div class="view-page mt-4" *ngIf="sampleDetails?.client_category_detail?.client_category === 11">
      <h3 class="view-page-heading">Sample Details</h3>
      <div class="row">
        <div class="col-md-4">
          <h4 class="m-0">Sample ID</h4>
          <p class="text-uppercase">{{sampleDetails.id}}</p>
        </div>
        <div class="col-md-4">
          <h4 class="m-0">Sample Name </h4>
          <p>{{sampleDetails.name || 'N/A'}}</p>
        </div>
        <div class="col-md-4">
          <h4 class="m-0">Commodity </h4>
          <p>{{(sampleDetails?.commodity.name) | titlecase}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4 class="m-0">MFD</h4>
          <p>{{sampleDetails.mfd | date}}</p>
        </div>
        <div class="col-md-4">
          <h4 class="m-0">Best Before Date</h4>
          <!-- <p>{{sampleDetails.dfb | date}}</p> -->
          <p *ngIf="sampleDetails?.dfb_type === 'date'">{{sampleDetails.dfb | date}}</p>
          <p *ngIf="sampleDetails?.dfb_type === 'days'">{{sampleDetails.days_dfb}} {{sampleDetails?.dfb_duration}}</p>
        </div>

        <!-- <div class="col-md-4">
          <h4 class="m-0">Batch</h4>
          <p>{{sampleDetails.batch || 'N/A'}}</p>
        </div> -->
      </div>
      <!-- <div class="row">
        <div class="col-md-4">
          <h4 class="m-0">Brand</h4>
          <p>{{sampleDetails.brand || 'N/A'}}</p>
        </div>

        <div class="col-md-4">
          <h4 class="m-0">Purpose of Analysis</h4>
          <p>{{sampleDetails?.purpose || 'N/A'}}</p>
        </div>

        <div class="col-md-4">
          <h4 class="m-0">Condition</h4>
          <p>{{sampleDetails.condition || 'N/A'}}</p>
        </div>
      </div> -->

      <div class="row">
        <!-- <div class="col-md-4">
          <h4 class="m-0">Report Language</h4>
          <p *ngIf="sampleDetails.language === 'en'">English</p>
          <p *ngIf="sampleDetails.language === 'np'">Nepali</p>
        </div> -->

        <!-- <div class="col-md-4">
          <h4 class="m-0">Amendments</h4>
          <p>{{sampleDetails?.amendments || 'N/A'}}</p>
        </div> -->

        <!-- <div class="col-md-4">
          <h4 class="m-0">Note</h4>
          <p>{{sampleDetails.note || 'N/A'}}</p>
        </div> -->

        <div class="col-md-4">
          <h4 class="m-0">Sample Type</h4>
          <p>{{sampleDetails?.sample_type || 'N/A'}}</p>
        </div>

        <div class="col-md-4">
          <h4 class="m-0">Sample Quantity</h4>
          <p>{{sampleDetails?.sample_quantity || 'N/A'}} {{sampleDetails?.sample_units}}</p>
        </div>
 
        <div class="col-md-4">
          <h4 class="m-0">Number of Sample</h4>
          <p>{{sampleDetails?.number_of_sample || 'N/A'}}</p>
        </div>
        <!-- {{sampleDetails?.client_category_detail?.client_sub_category | json}} -->
        <div class="col-md-12" *ngIf="sampleDetails?.client_category_detail?.client_sub_category === 'licensing'">
          <div class="row">
            <div class="col-md-4">
              <h4 class="m-0">Analysis Fee</h4>
              <p>{{sampleDetails?.analysis_fee || 'N/A'}}</p>
            </div>
    
            <div class="col-md-4">
              <h4 class="m-0">Voucher Number</h4>
              <p>{{sampleDetails?.voucher_number || 'N/A'}}</p>
            </div>
    
            <div class="col-md-4">
              <h4 class="m-0">Voucher Date</h4>
              <p>{{sampleDetails?.voucher_date | date:'mediumDate'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="view-page mt-4" *ngIf="sampleDetails?.client_category_detail?.client_category !== 11">
      <h3 class="view-page-heading">Sample Details</h3>
      <div class="row">
        <div class="col-md-4">
          <h4 class="m-0">Sample ID</h4>
          <p class="text-uppercase">{{sampleDetails.id}}</p>
        </div>
        <div class="col-md-4">
          <h4 class="m-0">Sample Name </h4>
          <p>{{sampleDetails.name || 'N/A'}}</p>
        </div>
        <div class="col-md-4">
          <h4 class="m-0">Commodity </h4>
          <p>{{(sampleDetails?.commodity.name) | titlecase}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4 class="m-0">MFD</h4>
          <p>{{sampleDetails.mfd | date}}</p>
        </div>
        <div class="col-md-4">
          <h4 class="m-0">Best Before Date</h4>
          <!-- <p>{{sampleDetails.dfb | date}}</p> -->
          <p *ngIf="sampleDetails?.dfb_type === 'date'">{{sampleDetails.dfb | date}}</p>
          <p *ngIf="sampleDetails?.dfb_type === 'days'">{{sampleDetails.days_dfb}} {{sampleDetails?.dfb_duration}}</p>
        </div>

        <div class="col-md-4">
          <h4 class="m-0">Batch</h4>
          <p>{{sampleDetails.batch || 'N/A'}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4 class="m-0">Brand</h4>
          <p>{{sampleDetails.brand || 'N/A'}}</p>
        </div>

        <div class="col-md-4">
          <h4 class="m-0">Purpose of Analysis</h4>
          <p>{{sampleDetails?.purpose || 'N/A'}}</p>
        </div>

        <div class="col-md-4">
          <h4 class="m-0">Condition</h4>
          <p>{{sampleDetails.condition || 'N/A'}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h4 class="m-0">Report Language</h4>
          <p *ngIf="sampleDetails.language === 'en'">English</p>
          <p *ngIf="sampleDetails.language === 'np'">Nepali</p>
        </div>

        <div class="col-md-4">
          <h4 class="m-0">Amendments</h4>
          <p>{{sampleDetails?.amendments || 'N/A'}}</p>
        </div>

        <div class="col-md-4">
          <h4 class="m-0">Note</h4>
          <p>{{sampleDetails.note || 'N/A'}}</p>
        </div>

        <div class="col-md-4">
          <h4 class="m-0">Sample Type</h4>
          <p>{{sampleDetails?.sample_type || 'N/A'}}</p>
        </div>

        <div class="col-md-4">
          <h4 class="m-0">Sample Quantity</h4>
          <p>{{sampleDetails?.sample_quantity || 'N/A'}} {{sampleDetails?.sample_units}}</p>
        </div>
 
        <div class="col-md-4">
          <h4 class="m-0">Number of Sample</h4>
          <p>{{sampleDetails?.number_of_sample || 'N/A'}}</p>
        </div>
        <!-- {{sampleDetails?.client_category_detail?.client_sub_category | json}} -->
        <div class="col-md-12" *ngIf="sampleDetails?.client_category_detail?.client_sub_category === 'licensing'">
          <div class="row">
            <div class="col-md-4">
              <h4 class="m-0">Analysis Fee</h4>
              <p>{{sampleDetails?.analysis_fee || 'N/A'}}</p>
            </div>
    
            <div class="col-md-4">
              <h4 class="m-0">Voucher Number</h4>
              <p>{{sampleDetails?.voucher_number || 'N/A'}}</p>
            </div>
    
            <div class="col-md-4">
              <h4 class="m-0">Voucher Date</h4>
              <p>{{sampleDetails?.voucher_date | date:'mediumDate'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="view-page mt-3">
      <h3 class="view-page-heading">Parameters</h3>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <tr>
              <th>S.N.</th>
              <th>Parameter Name</th>
              <th>Price</th>
            </tr>
            <tbody>
              <tr *ngFor="let r of sampleDetails.parameters; let i = index;">
                <td>{{i+1}}</td>
                <td>{{r.name | titlecase}}</td>
                <td *ngIf="i ===0" [attr.rowspan]="sampleDetails.parameters.length">Rs.{{sampleDetails.price}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row bg-white" *ngIf="!sampleDetails">
  <div class="col-md-12 text-center py-3">
    <div class="spinner-border text-dark" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
