.form-container{
  background: rgb(93 118 155 / 10%);
  padding: 40px;
  width: 30vw;
  height: 100vh;
}
.login-intro{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-intro .lims{
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
}
.divider{
  color: rgba(0,0,0,0.4);
  height: 1px;
  width: 100%;
}
.login-intro>.login-detail{
  font-size: 20px;
  font-weight: 500;
  color: #2260bf;
}
.np-logo{
  width: 25%;
  object-fit: cover;
  padding: 10px;
}
input{
  border-radius: 3px!important;
  font-size: 16px!important;
  padding: 12px!important;
}
input::placeholder{
  font-size: 14px;
}
#login{
  background: #2260bf!important;
  color: #ffffff;
}
#login:focus{
  box-shadow: none;
  border: none;
}
.login-additional{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-additional>.fp{
  color: #2260bf;
}
.login-additional>.register{
  color: #ffffff;
  background: #2260bf;
  padding: 8px 18px;
  text-decoration: none;
}
/*End of Login*/

