// .form-container{
//   background: rgb(93 118 155 / 10%);
//   padding: 40px;
//   width: 30vw;
//   height: 100vh;
// }
.login-intro{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-intro .lims{
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
}
.divider{
  color: rgba(0,0,0,0.4);
  height: 1px;
  width: 100%;
}
.login-intro>.login-detail{
  font-size: 20px;
  font-weight: 500;
  color: #2260bf;
}
.np-logo{
  width: 25%;
  object-fit: cover;
  padding: 10px;
}
input{
  border-radius: 3px!important;
  font-size: 16px!important;
  padding: 12px!important;
}
input::placeholder{
  font-size: 14px;
}
#login{
  background: #2260bf!important;
  color: #ffffff;
}
#login:focus{
  box-shadow: none;
  border: none;
}
.login-additional{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-additional>.fp{
  color: #2260bf;
  text-decoration: none;
}
.login-additional>.register{
  color: #ffffff;
  background: #2260bf;
  padding: 8px 18px;
  text-decoration: none;
}
/*End of Login*/


.form-container{
  max-width: 500px;
  border-radius: 10px;
  background-color: white;
  padding: 40px;
  margin-top: 4rem;
}

.fp .mb-4 .ng-tns-c16-1{
    color: #2260BF;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}
.register{
border-radius:4px;
}
.register:hover{
background-color:#1a4e9e;
}
.form-label{
margin-bottom:0;
}
.lims{
font-size:16px;
}
.login-detail{
font-size:16px;
}
.input#secfile2,
.subform[_ngcontent-serverApp-c19] input[type=file][_ngcontent-serverApp-c19]{
width:250px;
}
.subform[_ngcontent-serverApp-c19] button[type=button][_ngcontent-serverApp-c19]{
margin-left:13px;
border-radius:4px;
}

