<form  [formGroup]="filterForm" class="row">
    <div class="col-md-7">
      <mat-form-field appearance="outline" class="w-100">
        <input class="custom-input" matInput formControlName="search" placeholder="Search" #input>
      </mat-form-field>
    </div>
   
    <div class="col-md-2" >
      <mat-form-field appearance="outline" class="custom-select w-100">
        <mat-select placeholder="Status" formControlName="status">
          <mat-option *ngFor="let s of statusList; let i = index" [value]="s.value">{{s.name | titlecase}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- <div class="col-md-2">
      <mat-form-field appearance="outline" class="custom-select w-100">
        <input class="custom-input" matInput placeholder="Select Date (From)"/>
      </mat-form-field>
    </div> -->
    <!-- <div class="col-md-2">
      <mat-form-field appearance="outline" class="custom-select w-100">
        <input class="custom-input" matInput placeholder="Select Date (To)"/>
      </mat-form-field>
    </div> -->
    <div class="col-md-2 text-end">
      <button (click)="filter()" class="btn btn-primary w-100 h-45">
        Filter
      </button>
    </div>
  
    <div class="col-md-1 text-end">
      <button (click)="reset()" class="btn btn-danger w-100 h-45">
        Reset
      </button>
    </div>
  
  </form>
  
  
  <div>
    <table *ngIf="!isLoading" class="custom-border" mat-table [dataSource]="dataSource" matSort [@collectionInOut]="dataSource.data?.length">
  
      <ng-container matColumnDef="sn">
        <th mat-header-cell *matHeaderCellDef> S.N. </th>
        <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
      </ng-container>
  
      <ng-container matColumnDef="sampleId">
        <th mat-header-cell *matHeaderCellDef> Sample ID </th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.id">{{row.id}} </span>
          <span *ngIf="!row.id" class="text-muted">N/A </span>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="sampleName">
        <th mat-header-cell *matHeaderCellDef> Sample Name </th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row?.name">{{row?.name | titlecase}} </span>
          <span *ngIf="!row?.name" class="text-muted">N/A</span>
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef> Client Category </th>
        <td mat-cell *matCellDef="let row">
          <span >{{getClientName(row?.client_category_detail?.client_category)}} </span>
        </td>
      </ng-container> -->
  
      <ng-container matColumnDef="commodity">
        <th mat-header-cell *matHeaderCellDef> Commodity </th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row?.commodity?.name">{{row.commodity.name | titlecase}} </span>
          <span *ngIf="!row?.commodity.name" class="text-muted">N/A</span>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="submissionDate">
        <th mat-header-cell *matHeaderCellDef> Submission Date </th>
        <td mat-cell *matCellDef="let row">
          {{(row?.created_date| date) || 'N/A'}}
        </td>
      </ng-container>
  
      <!-- <ng-container matColumnDef="requestedDate">
        <th mat-header-cell *matHeaderCellDef> Requested Date </th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.created_date">{{row.created_date | date}} </span>
          <span *ngIf="!row.created_date" class="text-muted">N/A</span>
        </td>
      </ng-container> -->
  
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let row">
          <!-- <button (click)="asignSampleTo(row)" class="btn btn-primary btn-sm">Pay</button> -->
          <!-- <button (click)="assign(row)" class="btn btn-primary btn-sm mx-1">Assign</button> -->
          <button (click)="viewRequestDetails(row.id)" [matTooltip]="'View Parameter Details'" class="btn btn-primary btn-lims-primary btn-sm mx-1 pt-2"><mat-icon aria-hidden="false" aria-label="view" fontIcon="remove_red_eye"></mat-icon></button>
          <!-- <button [matTooltip]="'Download Sample Details'" class="btn btn-primary btn-lims-primary btn-sm mx-1 pt-2"><mat-icon aria-hidden="false" aria-label="download" fontIcon="save_alt"></mat-icon></button> -->
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center py-5" colspan="8">
          <img src="../../../../assets/no-data.svg" />
          <div class="text-muted">Data Not Available.</div>
  
        </td>
      </tr>
    </table>
    <div class="row" *ngIf="isLoading">
      <div class="col-md-12 text-center py-3">
        <div class="spinner-border text-dark" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  
    <mat-paginator class="paginator paginator-border" [pageSizeOptions]="[10, 25,  50, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
  
  