@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Z-INDEX Tracking
app-root {
  z-index: 1;
}

app-toast,
.toast-class {
  z-index: 2;
}

** {
  font-family: Poppins;
}

* {
  font-family: Poppins;
}

body{
  background-color:#eeeef5 ;
}

// For Input and select custom style
.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding: 0 !important;
}

.mat-body, .mat-body-2, .mat-typography .mat-body, .mat-typography .mat-body-2, .mat-typography{
  font-family: 'Poppins'!important;
}
span.mdc-list-item__primary-text {
  font-family: 'Poppins'!important;
}

.mat-mdc-text-field-wrapper {
  background-color: #fff;
}

.mat-mdc-text-field-wrapper {
  height: 45px !important;
}

.custom-select {
  .mat-mdc-text-field-wrapper {

    .mdc-text-field--outlined {

      .mat-mdc-form-field-infix {
        padding: 18px 0 !important;
      }
    }
  }

  .mat-mdc-select-value {
    padding-top: 10px !important;
  }

}

// for status color
.custom-chip {
  height: 20px !important;
  font-size: 12px !important;
}
.status-pending {
  background-color: #ffc600 !important;
  .mat-mdc-chip-action-label {
    color: #fff !important;
  }
}

.status-success {
  background-color: #008b38 !important;
  .mat-mdc-chip-action-label {
    color: #fff !important;
  }
}

.status-rejected {
  background-color: #9e2a2b !important;
  .mat-mdc-chip-action-label {
    color: #fff !important;
  }
}

.cursor-pointer:hover {
  cursor: pointer;
}

.btn-lims-primary {
  background-color: #E7F0F7 !important;
  color: #58667E;
  border: none;
  mat-icon {
    color: #58667E !important;
  }
}

.btn-lims-primary:hover {
  background-color: #e7f0f775 !important;
  transition: 1s !important;
  color: #000;
  // border: 1px solid #e7f0f746 !important;
}

.btn-lims-danger {
  background-color: #FFDBDB !important;
  border: none !important;
  color: #FD371F;
  mat-icon {
    color: #FD371F !important;
  }
}

.btn-lims-danger:hover {
  background-color: #ffdbdb79 !important;
  transition: 1s !important;
  color: #000;
}

.bg-lims-primary {
  background-color: #2460B9 !important;
}

.text-lims-primary {
  color: #2460B9 !important;
}

.text-lims-secondary{
  color: #58667E !important;
}

.text-bold {
  font-weight: 700 !important;
}

.h-45 {
  height: 45px !important;
}

.text-white {
  color: #fff !important;
}
.white-bg{
  background: #ffffff;
  padding: 24px;
  border-radius: 8px;
}
.white-bg .mat-mdc-form-field-bottom-align{
  height: 0;
}
.content-box{
  min-height: calc(100vh - 286px);
}
footer a{
  text-decoration: none!important;
  color: #ffffff!important;
  font-weight: 600;
}

.mdc-checkbox__background {
  background-color: transparent !important;
  border-color: #2460B9 !important;
  color: #2460B9;
}

.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled~.mdc-checkbox__background .mdc-checkbox__checkmark {
  color: #2460B9 !important;
}

.bg-info{
  background: #2460B9!important;
}
.bg-success{
  background: #00C852!important;
}
.bg-warning{
  background: #FFC007!important;
}
.bg-noverified{
  background: #364152!important;
}
.bg-danger{
  background: #C62828!important;
}
.bg-danger1{
  background: #D600C0!important;
}
.bg-process{
  background: #9747FF!important;
}
footer p a:hover{
  text-decoration: underline!important;
}