<div class="row m-0 p-0">
  <div class="col-md-12 m-0 p-0">
    <div class="row m-0">
      <div class="col-md-10">
        <h1 class="mb-0" mat-dialog-title style="font-family: Poppins!important; font-weight: 600;">Calculation</h1>
      </div>
      <div class="col-md-2 text-end pt-2">
        <button (click)="closeDialog()" class="btn btn-lims-danger btn-sm"><mat-icon aria-hidden="false"
            aria-label="edit" fontIcon="close"></mat-icon></button>
      </div>
    </div>

    <hr class="mt-0" />


    <div class="row p-0 m-0">
      <div class="col-md-12 text-center"><label style="font-weight:600; font-family: Poppins; font-size: 16px;">{{data?.parameters?.name}}</label>
        <p style="color: #58667E; font-size: 12px; font-weight: 400;">Enter the value in the following fields</p>
      </div>
    </div>

    <div class="row p-3 mx-4" style="font-family: Poppins; border: 1px solid #DBDBDB; border-radius: 6px;" *ngIf="formControls">

      <div class="col-md-4 d-flex align-items-center" style="border-right: 1px solid #dbdbdb;" *ngIf="data?.parameters?.formula">  
        <div><label style="font-weight:bold">Formula</label><br>{{data?.parameters?.formula}}</div>
      </div>

      <div class="col-md-8 ps-3">
        <label style="font-weight:bold">Notations</label>
        <div *ngIf="data.parameters?.formula_notation">
          <div *ngFor="let n of splitStringByComma(data?.parameters?.formula_notation)">{{n | titlecase}}</div>
        </div>
        <div *ngIf="!data?.parameters?.formula_notation" class="text-muted"></div>

      </div>
    </div>

    <div class="text-center text-muted" *ngIf="formControls && formControls[0]?.name === 'nan'">
      Formula Not Available.
    </div>

    <mat-dialog-content style="max-height: 100%!important; overflow-x: hidden;">
      <form *ngIf="isControlGenerated" [@collectionInOut]="formControls?.length" [formGroup]="calculateForm">

        <div class="form-data-container" class="p-3" style="border: 1px solid #DBDBDB; border-radius: 6px;">
          <div *ngIf="responseError" class="col-sm-12 col-md-12 col-lg-12">
            <div class="alert alert-danger" role="alert">
              <li *ngFor="let item of responseError | keyvalue">
                {{item.key}}:
                {{item.value}}
              </li>
            </div>
          </div>

          <table style=" margin: auto; margin-bottom: 1%;" class="child-table" *ngIf="microParametersDetails?.id">
            <h2 style="font-size: 1.1rem; margin: 1rem 0 0 1rem;">Observation:</h2>
            <tr>
                <td colspan="2" rowspan="3" class="p-1 text-bold">Observation</td>
                <td rowspan="3" class="text-bold">Temp <br> C</td>
                <td rowspan="3" class="text-bold">Time</td>
                <td colspan="6" style="height: 20px;">
                    <p style="margin: 0;" class="text-bold"> Reading of samples (per dilution)</p>
                </td>
                <td rowspan="3" class="text-bold">Reading <br>
                    of <br>
                    Negative <br>
                    control
                </td>
                <td rowspan="3" class="text-bold">Reading <br>
                    of <br>
                    Positive <br>
                    control
                </td>
            </tr>
            <tr>
                <td colspan="2"><div [innerHtml]="microParametersDetails?.first_exponent | superscript"></div></td>
                <td colspan="2"><div [innerHtml]="microParametersDetails?.second_exponent | superscript"></div></td>
                <td colspan="2"><div [innerHtml]="microParametersDetails?.third_exponent | superscript"></div></td>
            </tr>
            <tr *ngIf="data?.parameters?.commodity?.id !== 486">
                <td *ngIf="microParametersDetails?.first_exponent">A</td>
                <td *ngIf="microParametersDetails?.first_exponent">B</td>
                <td *ngIf="microParametersDetails?.second_exponent">A</td>
                <td *ngIf="microParametersDetails?.second_exponent">B</td>
                <td *ngIf="microParametersDetails?.third_exponent">A</td>
                <td *ngIf="microParametersDetails?.third_exponent">B</td>
            </tr>

            <tr *ngIf="data?.parameters?.commodity?.id === 486">
              <td *ngIf="microParametersDetails?.first_exponent">+Ve</td>
              <td *ngIf="microParametersDetails?.first_exponent">-Ve</td>
              <td *ngIf="microParametersDetails?.second_exponent">+Ve</td>
              <td *ngIf="microParametersDetails?.second_exponent">-Ve</td>
              <td *ngIf="microParametersDetails?.third_exponent">+Ve</td>
              <td *ngIf="microParametersDetails?.third_exponent">-Ve</td>
          </tr>
            <ng-container *ngFor="let data of microParametersDetails?.micro_observation_table">
                <tr >
                    <td colspan="2" class="text-bold">
                    {{data?.observation_number}}</td>
                    <td>{{data.temperature}}<sup>o</sup>C</td>
                    <td>{{data?.time}}</td>
                    <td *ngIf="microParametersDetails?.first_exponent">{{data?.first_exponent_a}}</td>
                    <td *ngIf="microParametersDetails?.first_exponent">{{data?.first_exponent_b}}</td>
                    <td *ngIf="microParametersDetails?.second_exponent">{{data?.second_exponent_a}}</td>
                    <td *ngIf="microParametersDetails?.second_exponent">{{data?.second_exponent_b}}</td>
                    <td *ngIf="microParametersDetails?.third_exponent">{{data?.third_exponent_a}}</td>
                    <td *ngIf="microParametersDetails?.third_exponent">{{data?.third_exponent_b}}</td>
                    <td>{{data?.negative_control}}</td>
                    <td>{{data?.positive_control}}</td>
                </tr>
            </ng-container>
        </table>
        
          <ng-container *ngFor="let control of formControls">
            <div *ngIf="control?.name !== 'nan'" class="d-flex align-items-center">
              <label [for]="control?.name" style="font-size: 14px; font-weight: 600; padding-right: 10px; margin-top: -15px!important  ;">{{ control?.label }}</label>
              <mat-form-field class="w-100" appearance="outline">
                <input (keyup.enter)="generate()" [placeholder]="'Enter' + ' ' + control.label" class="custom-input" matInput type="number"
                  [formControlName]="control?.name" required style="height: 55px!important; padding-bottom: 24px;">
              </mat-form-field>
            </div>
            <!-- <div *ngIf="control.name === 'nan'">

              <div class="text-center text-muted py-4" >Formula Not Available.</div>
            </div> -->
          </ng-container>
        </div>

        <div class="row mt-3" *ngIf="formControls && formControls[0]?.name !== 'nan'">
          <div class="col-md-12 text-end">
            <button class="btn reset-btn" (click)="resetForm()">Reset</button>

            <button class="btn mx-2 calculate-btn" (click)="generate()">
              <span *ngIf="!isGenerating">Calculate</span>
        <span *ngIf="isGenerating">
          <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
        </span>
            </button>
            
          </div>
        </div>



      </form>

      <div class="pt-2" *ngIf="!requestDetails?.parameters?.formula || requestDetails?.parameters?.formula === 'nan'">
        <label style="font-size: 14px; font-weight: 600;"> Result</label>
            <mat-form-field appearance="outline" class="w-100">
              <input placeholder="Enter Value" [(ngModel)]="finalResult" class="custom-input" matInput type="text" required />
            </mat-form-field>
      </div>
      <!-- <div class="pt-2">
        <label style="font-size: 14px; font-weight: 600;"> Result</label>
            <mat-form-field appearance="outline" class="w-100">
              <input placeholder="Enter Value" [(ngModel)]="finalResult" class="custom-input" matInput type="text" required />
            </mat-form-field>
      </div> -->

      <div class="row m-0 mt-3 result">
        <div class="col-md-12 text-end d-flex align-items-center justify-content-end">
          <label for="" >Results: </label>
          <p class="final-result-value mb-0 ms-2">{{ finalResult || ''}}<span *ngIf="finalResult">{{data?.parameters?.insUnits}}</span></p>
        </div>
      </div>


      <div class="row" *ngIf="!isControlGenerated">
        <div class="col-md-12 text-center py-3">
          <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>


      <div class="row mt-3">
        <div class="col-md-12 text-end d-flex align-items-center justify-content-end">
          <label for="" style="font-size: 14px; font-weight: 400; color: #000; margin-right: 10px;">Convert Decimal Place</label>
          <p class="decimal-places">
            <span (click)="convertDecimal(0)">0</span> 
            <span (click)="convertDecimal(1)">0.0</span> 
            <span (click)="convertDecimal(2)">0.00</span> 
            <span (click)="convertDecimal(3)">0.000</span> 
            <span (click)="convertDecimal(4)">0.0000</span>
            <span (click)="convertDecimal(5)">0.00000</span>
          </p>
        </div>
      </div>

      <div class="row m-0 mt-3 final-result">
        <div class="col-md-12 text-end d-flex align-items-center justify-content-end">
          <label for="" >Final Result: </label>
          <p class="final-result-value mb-0 ms-2">{{convertedResult || ''}}<span *ngIf="convertedResult">{{data?.parameters?.insUnits}}</span></p>
        </div>
      </div>

      <div class="pt-2">
        <label style="font-size: 14px; font-weight: 600;"> Analysis Result</label>
            <!-- <mat-form-field appearance="outline" class="w-100">
              <input [(ngModel)]="analyst_remarks" placeholder="Remarks (eg. Absent, Not applicable etc.)" class="custom-input" matInput type="text" />
            </mat-form-field> -->

            <angular-editor height="200" [placeholder]="'Enter Analysis Result(For Raw Data Sheet)'" [(ngModel)]="analyst_remarks"></angular-editor>
      </div>

      <div class="pt-2">
        <label style="font-size: 14px; font-weight: 600;"> Additional Information</label>
            <!-- <mat-form-field appearance="outline" class="w-100"> -->
              <textarea [(ngModel)]="additional_info" placeholder="Additional Information" class="form-control" type="text"></textarea>
            <!-- </mat-form-field> -->

            <!-- app.component.html -->

<!-- <ckeditor 

 [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor> -->

 

      </div>



    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button (click)="closeDialog()" class="btn cancel-btn mx-1">Cancel</button>
      <button (click)="setResult()" class="btn calculate-btn mx-1">
        <span *ngIf="!isCalculating">Submit</span>
        <span *ngIf="isCalculating">
          <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
        </span>
      </button>
    </mat-dialog-actions>
  </div>
</div>
