
.top-view-page{
  background-color: white;
  border-radius: 10px;
  padding: 26px;
}
.log-details p{
  margin-bottom: 0;
  font-size: 12px;
  font-family: poppins;
}
.log-details h4{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  font-family: poppins;
}
.log-status{
  display: flex;
  justify-content: end;
  align-items: center;
}
.view-page .col-md-12 h4,
.view-page .col-md-4 h4,
.view-page .col-md-6 h4 {
  font-size: 14px;
  font-family: poppins;
  font-weight: 400;
}
.view-page p {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
}
.view-page{
  padding: 0;
}
.view-page {
  border-radius: 8px;
}
.view-page {
  background-color: #fff;
  padding: 24px;
}
.view-page .row {
  margin-bottom: 10px
}
.view-page .col-md-6 p {
  font-size: 16px
}
.view-page-heading {
  font-size: 18px;
  font-family: poppins;
  font-weight: 600;
  color: #2460B9;
  border-bottom: 1px solid #A8B0BF;
  padding-bottom: 10px;
  margin-bottom: 30px
}
.db-content {
  position: relative
}
// @media(min-width:991px) {
//   .db-content {
//       left: 286px;
//       width: calc(100% - 312px);
//       margin-top: 26px;
//       padding: 0;
//   }
// }
.verified
{
  padding: 6px 8px;
  border-radius: 4px;
  text-align: center;
  width: max-content;
  line-height: 1.4;
  margin-top: 4px;
}
.verified{
  font-size: 14px;
  color: rgb(0, 200, 83);
  background: rgba(185, 246, 202, 0.376);
}
.verified:hover{
  background-color: rgb(0, 200, 83);
  color: #FFFFFF;
}

.custom-input {
  padding-top: 10px !important;
}

// Other


.product-page .authors-container[data-collaborators="2"] {
  width: 130px
}

.product-page .authors-container[data-collaborators="3"] {
  width: 175px
}

.product-page .authors-container[data-collaborators="4"] {
  width: 230px
}
.authors-container .author {
  float: left;
  position: relative;
  transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  z-index: 3
}

.authors-container .author:nth-child(1) {
  z-index: 100
}

.authors-container .author:nth-child(2) {
  z-index: 99;
  margin-left: -20px
}

.authors-container .author:nth-child(3) {
  z-index: 98;
  margin-left: -20px
}

.authors-container .author:nth-child(4) {
  z-index: 97;
  margin-left: -20px
}

.authors-container .author:nth-child(5) {
  z-index: 96;
  margin-left: -20px
}

.authors-container .author:nth-child(6) {
  z-index: 95;
  margin-left: -20px
}

.authors-container .author:nth-child(7) {
  z-index: 94;
  margin-left: -20px
}

.authors-container .author:nth-child(8) {
  z-index: 93;
  margin-left: -20px
}

.authors-container .author:nth-child(9) {
  z-index: 92;
  margin-left: -20px
}

.authors-container .author:nth-child(10) {
  z-index: 91;
  margin-left: -20px
}

.authors-container .author:nth-child(11) {
  z-index: 90;
  margin-left: -20px
}



.authors-container .author {
  float: left;
  position: relative;
  transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  z-index: 3
}

.authors-container .author:nth-child(1) {
  z-index: 100
}

.authors-container .author:nth-child(2) {
  z-index: 99;
  margin-left: -20px
}

.authors-container .author:nth-child(3) {
  z-index: 98;
  margin-left: -20px
}

.authors-container .author:nth-child(4) {
  z-index: 97;
  margin-left: -20px
}

.authors-container .author:nth-child(5) {
  z-index: 96;
  margin-left: -20px
}

.authors-container .author:nth-child(6) {
  z-index: 95;
  margin-left: -20px
}

.authors-container .author:nth-child(7) {
  z-index: 94;
  margin-left: -20px
}

.authors-container .author:nth-child(8) {
  z-index: 93;
  margin-left: -20px
}

.authors-container .author:nth-child(9) {
  z-index: 92;
  margin-left: -20px
}

.authors-container .author:nth-child(10) {
  z-index: 91;
  margin-left: -20px
}

.authors-container .author:nth-child(11) {
  z-index: 90;
  margin-left: -20px
}



.authors-container:hover .author {
  opacity: .60
}

.authors-container .author:hover {
  opacity: 1;
  z-index: 101
}

.authors-container>.author>.account-photo {
  width: 55px;
  height: 55px;
  border-width: 2px
}


.authors-container:after {
  clear: both;
  content: " ";
  display: table
}
.product-page .authors-container {
  margin: 0 auto
}

.product-page .authors-container>.author>.account-photo {
  width: 70px;
  height: 70px;
  border-width: 3px
}

.account-photo img {
  width: 100%
}

.account-photo .mask {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  border-radius: 50%;
}

.account-photo .account-type {
  position: absolute;
  bottom: -7px;
  color: #FFFFFF;
  right: -10px;
  width: 30px;
  background-color: #999999;
  height: 30px;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  font-size: 13px;
  z-index: 3
}

.account-photo.account-early-adopter {
  border-color: rgba(23, 152, 30, 0.55)
}

.account-photo.account-admin,
.account-photo.account-product-owner {
  border-color: rgba(255, 149, 0, 0.55)
}

.account-admin .account-type,
.account-product-owner .account-type {
  background-color: #ffcd02
}



.account-photo {
  position: relative;
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid rgba(0, 158, 255, 0.65);
  border-color: #ccc
}
.account-photo img {
  width: 100%
}

.account-photo .mask {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  border-radius: 50%
}

.account-photo .account-type {
  position: absolute;
  bottom: -7px;
  color: #FFFFFF;
  right: -10px;
  width: 30px;
  background-color: #999999;
  height: 30px;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  font-size: 13px;
  z-index: 3
}

.account-photo.account-early-adopter {
  border-color: rgba(23, 152, 30, 0.55)
}

.account-photo.account-admin,
.account-photo.account-product-owner {
  border-color: rgba(255, 149, 0, 0.55)
}

.account-early-adopter .account-type {
  background-color: #05ae0e
}

.account-admin .account-type,
.account-product-owner .account-type {
  background-color: #ffcd02
}
.assign-supervisor-avatar{
  padding: 6px 12px 6px 6px;
  border: 1px solid #e7f0f7;
  border-radius: 20px;
  font-weight: 500;
}
.cross-icon{
  opacity: 0;
  color: #fd8181;
}
.assign-supervisor-avatar:hover{
  background: #e7f0f7;
  border-radius: 20px; 
}
.assign-supervisor-avatar:hover .cross-icon{
  opacity: 1;
  cursor: pointer;
}
.cross-icon:hover{
  color: #ff0000;
}

.price-box{
  background: #e7f0f7;
  border-left: 10px solid #2260bf;
  padding: 20px;
  font-size: 18px;
}
.price-box b{
  font-size: 28px;
  font-weight: 500;
}