<!-- <div class="row bg-white m-0 p-2" *ngIf="sampleDetails">
  <div class="col-md-12">
    <h2 class="text-lims-primary mb-0">Sample Details</h2>
    <hr class=""/>
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <h3>
          <span class="text-bold">Sample Name:</span> {{sampleDetails?.name | titlecase}}
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Condition:</span> {{sampleDetails?.condition}}
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Manufactured Date: </span>
          <span *ngIf="sampleDetails?.mfd">{{sampleDetails?.mfd}}</span>
          <span *ngIf="!sampleDetails?.mfd" class="text-muted">N/A</span>
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Best Before Date: </span>
          <span *ngIf="sampleDetails?.dfb">{{sampleDetails?.dfb}}</span>
          <span *ngIf="!sampleDetails?.dfb" class="text-muted">N/A</span>
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Batch: </span>
          <span *ngIf="sampleDetails?.batch">{{sampleDetails?.batch}}</span>
          <span *ngIf="!sampleDetails?.batch" class="text-muted">N/A</span>
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Brand: </span>
          <span *ngIf="sampleDetails?.brand">{{sampleDetails?.brand}}</span>
          <span *ngIf="!sampleDetails?.brand" class="text-muted">N/A</span>
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Purpose of Analysis: </span>
          <span *ngIf="sampleDetails?.purpose">{{sampleDetails?.purpose}}</span>
          <span *ngIf="!sampleDetails?.purpose" class="text-muted">N/A</span>
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Report Required Date: </span>
          <span *ngIf="sampleDetails?.report_date">{{sampleDetails?.report_date | date}}</span>
          <span *ngIf="!sampleDetails?.report_date" class="text-muted">N/A</span>
        </h3>
      </div>

      <div class="col-md-4">
        <h3>
          <span class="text-bold">Amendments: </span>
          <span *ngIf="sampleDetails?.amendments">{{sampleDetails?.amendments}}</span>
          <span *ngIf="!sampleDetails?.amendments" class="text-muted">N/A</span>
        </h3>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <h2 class="text-lims-primary mb-0">Commodity Details</h2>
    <hr class=""/>

    <div class="row">
      <div class="col-md-4">
        <h3>
          <span class="text-bold"> Name:</span> {{getCommodityName(sampleDetails?.commodity_id) | titlecase}}
        </h3>
      </div>

      <div class="col-md-8">
        <b>Parameters:</b><span class="badge badge-primary mx-1" style="background-color: #2260bf;" *ngFor="let p of sampleDetails?.parameters">{{p.name}}</span>
      </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-end">
          <hr/>
          <button (click)="pay()"  class="btn btn-primary btn-sm mx-1">Pay</button>
          <button (click)="assign()" class="btn btn-primary btn-sm mx-1">Assign</button>
        </div>
      </div>
  </div>
</div>

<div class="row bg-white" *ngIf="!sampleDetails">
  <div class="col-md-12 text-center py-3">
    <div class="spinner-border text-dark" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div> -->

<div class="row" *ngIf="sampleDetails">
  <div *ngIf="!isProcceedForPayment" class="db-content">
    <div class="top-view-page p-2 mb-3">
      <div class="row log-details p-3">
        <div class="col-md-3">
          <!-- <div class="row">
            <p>Approved By</p>
            <h4 class="text-muted">N/A</h4>
          </div> -->
          <div class="row mt-2">
            <p>Created By</p>
            <h4>{{sampleDetails?.owner_user?.first_name}} {{sampleDetails?.owner_user?.last_name}}</h4>
          </div>
        </div>
        <div class="col-md-3">
          <!-- <div class="row">
            <p>Approved at</p>
            <h4 *ngIf="sampleDetails?.approved_date">{{sampleDetails?.approved_date | date: 'long'}}</h4>
            <h4 *ngIf="!sampleDetails?.approved_date" class="text-muted">N/A</h4>
          </div> -->
          <div class="row mt-2">
            <p>Created at</p>
            <h4 *ngIf="sampleDetails?.created_date">
              {{sampleDetails?.created_date | date: 'medium'}}
            </h4>
            <h4 class="text-muted" *ngIf="!sampleDetails?.created_date">
              N/A
            </h4>
          </div>
        </div>
        <div class="col-md-3">
          <!-- <div class="row">
            <p>Completed At</p>
            <h4>N/A</h4>
          </div> -->
        </div>
        <div class="col-md-3 log-status">
          <span style="padding: 8px" class="badge badge-primary" [statusColor]="sampleDetails.status">
            {{sampleDetails.status}}</span>
        </div>
      </div>
    </div>
    <div class="view-page">
      <h3 class="view-page-heading">Sample Details</h3>
      <div class="row">
        <div class="col-md-4">
          <h4 class="mb-0">Sample ID</h4>
          <p>{{sampleDetails.id}}</p>
        </div>
        <div class="col-md-4">
          <h4 class="mb-0">Sample Name </h4>
          <p>{{sampleDetails.name}}</p>
        </div>
        <div class="col-md-4">
          <h4 class="mb-0">Commodity </h4>
          <p>{{(sampleDetails?.commodity?.name)}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4 class="mb-0">MFD</h4>
          <p>{{sampleDetails.mfd | date}}</p>
        </div>
        <div class="col-md-4">
          <h4 class="mb-0">Best Before Date</h4>
          <p>{{sampleDetails.dfb | date}}</p>
        </div>

        <div class="col-md-4">
          <h4 class="mb-0">Batch</h4>
          <p>{{sampleDetails.batch}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4 class="mb-0">Brand</h4>
          <p>{{sampleDetails.brand}}</p>
        </div>

        <div class="col-md-4">
          <h4 class="mb-0">Purpose of Analysis</h4>
          <p>{{sampleDetails?.purpose}}</p>
        </div>

        <div class="col-md-4">
          <h4 class="mb-0">Condition</h4>
          <p>{{sampleDetails.condition}}</p>
        </div> 

        
        <div class="col-md-4">
          <h4 class="mb-0">Note</h4>
          <p>{{sampleDetails.note}}</p>
        </div> 

        <div class="col-md-4">
          <h4 class="mb-0">Amendments</h4>
          <p>{{sampleDetails.amendments}}</p>
        </div> 

        <div class="col-md-4">
          <h4 class="mb-0">Language</h4>
          <p *ngIf="sampleDetails.language === 'en'">English</p>
          <p *ngIf="sampleDetails.language === 'np'">Nepali</p>
        </div> 
      </div>
    </div>

    <div class="view-page mt-4 " *ngIf="sampleDetails?.payment.length > 0">
      <h3 class="view-page-heading pb-0 mb-0">Payment Details</h3>
      <div class="row m-0 py-1" *ngFor="let p of sampleDetails.payment">
        <div class="col-md-3">
          <h4 class="mb-0">Voucher No</h4>
          <p>{{p.voucher_number}}</p>
        </div>
        <div class="col-md-3">
          <h4 class="mb-0">Amount </h4>
          <p>{{p.amount || ''}}</p>
        </div>
        <div class="col-md-3">
          <h4 class="mb-0">Paid Date </h4>
          <p>{{p.created_date | date: 'medium'}}</p>
        </div>

        <div class="col-md-3">
          <h4 class="m-0">Payment Receipt </h4>
          <button (click)="viewReceipt(p.payment_receipt)" class="btn btn-primary btn-sm">View Receipt</button>
          <!-- <img (click)="viewReceipt(sampleDetails?.payment?.payment_receipt)" style="height: 60px;" [src]="sampleDetails?.payment?.payment_receipt" class="img-thumbnail cursor-pointer" /> -->
        </div>
        <hr class="m-0" />
      </div>
      <!-- <div class="row">
        <div class="col-md-4">
          <h4>MFD</h4>
          <p>{{sampleDetails.mfd | date}}</p>
        </div>
        <div class="col-md-4">
          <h4>Best Before Date</h4>
          <p>{{sampleDetails.dfb | date}}</p>
        </div>

        <div class="col-md-4">
          <h4>Batch</h4>
          <p>{{sampleDetails.batch}}</p>
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="col-md-4">
          <h4>Brand</h4>
          <p>{{sampleDetails.brand}}</p>
        </div>

        <div class="col-md-4">
          <h4>Purpose of Analysis</h4>
          <p>{{sampleDetails?.purpose}}</p>
        </div>

        <div class="col-md-4">
          <h4>Condition</h4>
          <p>{{sampleDetails.condition}}</p>
        </div>
      </div> -->
    </div>

    <div class="view-page mt-3">
      <h3 class="view-page-heading">Parameter Details</h3>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <tr>
              <th>S.N.</th>
              <th>Parameter Name</th>
              <th>Method</th>
              <th>Units</th>
              <th>Price</th>
              <th>Result</th>
              <th>Status</th>
            </tr>
            <tbody>
              <tr *ngFor="let r of sampleDetails.parameters; let i = index;">
                <td>{{i+1}}</td>
                <td>{{r.name | titlecase}}</td>
                <td>{{r.ref_test_method}}</td>
                <td>{{r.units}}</td>
                <td>Rs.{{r.price}}</td>
                <td>
                  <span *ngIf="r.status">
                    {{r?.results}}
                  </span>
                  <span *ngIf="!r.status" class="text-muted">
                    N/A
                  </span>
                </td>
                <td>
                  <span *ngIf="r.status" class="badge badge-primary" [statusColor]="r.status">{{r.status |
                    titlecase}}</span>
                  <span *ngIf="!r.status" class="text-muted">N/A</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-0" *ngIf="isProcceedForPayment">
    <div class="col-md-12 bg-white p-4">
      <mat-stepper #stepper>
        <mat-step *ngIf="!sampleDetails.payment?.id">
          <ng-template matStepLabel>Payment</ng-template>
          <!-- <ng-template matStepperIcon="chat">
            <mat-icon>dollar</mat-icon>
          </ng-template> -->
          <div class="row">
            <div class="col-md-12">
              <form [formGroup]="paymentForm" class="row">
                <div *ngIf="message && message.messageBody" class="col-sm-12 col-md-12 col-lg-12">
                  <div class="alert alert-info" role="alert">
                    {{message?.messageBody}}
                  </div>
                </div>
                <div *ngIf="responseError" class="col-sm-12 col-md-12 col-lg-12">
                  <div class="alert alert-danger" role="alert">
                    <li *ngFor="let item of responseError | keyvalue">
                      {{item.key}}:{{item.value}}
                    </li>
                  </div>
                </div>

                <div formArrayName="samplePayment">
                <div class="row mt-2" style="border: 1px solid #0000001a;
                border-radius: 5px;
                padding: 1%;" *ngFor="let list of samplePaymentDetails.controls; let i = index" [formGroupName]="i">
                <!-- *ngFor="let list of propertyDetail.controls; let i = index" [formGroupName]="i" -->
                  <div class="col-md-4">
                    <label class="form-label">Tax Voucher No.</label>
                    <mat-form-field appearance="outline" class="w-100">
                      <input class="custom-input" formControlName="voucher_number" matInput
                        placeholder="Tax Voucher No." />
                      <mat-error class="text-danger"
                        *ngIf="displayMessage?.voucher_number">{{displayMessage?.voucher_number}}</mat-error>
                    </mat-form-field>
                  </div>
  
                  <div class="col-md-4">
                    <label class="form-label">Tax Register Date</label>
                    <mat-form-field appearance="outline" class="w-100">
                      <input formControlName="register_date" class="custom-input" [matDatepicker]="toPicker"
                        (focus)="toPicker.open()" (click)="toPicker.open()" matInput placeholder="Select Date" />
                      <mat-datepicker #toPicker></mat-datepicker>
                      <mat-error class="text-danger"
                        *ngIf="displayMessage?.register_date">{{displayMessage?.register_date}}</mat-error>
                    </mat-form-field>
                  </div>
  
                  <div class="col-md-4">
                    <label class="form-label">Amount</label>
                    <mat-form-field appearance="outline" class="w-100">
                      <input type="number" formControlName="amount" class="custom-input" matInput
                        placeholder="Rs. 39000" />
                      <mat-error class="text-danger" *ngIf="displayMessage?.amount">{{displayMessage?.amount}}</mat-error>
                    </mat-form-field>
                  </div>
  
                  <div class="col-md-12">
                    <label for="formFile" class="form-label">Payment Receipt</label>
                    <input (change)="uploadImage($event)" formControlName="payment_receipt" class="form-control" type="file" id="formFile">
                    <!-- <mat-error *ngIf="!isPaymentReceipt" class="text-danger">Payment Receipt is Required.</mat-error> -->
                  </div>
                </div>
                </div>

                <div class="col-md-12 py-2">
                  <button (click)="addDocList()" type="button" class="btn btn-primary btn-lims-primary btn-sm mx-1">Add New</button>
                  <button type="button" class="btn btn-primary btn-lims-danger btn-sm mx-1">Remove</button>
                </div>

                <div class="col-md-12 text-end mt-4">
                  <button *ngIf="isProcceedForPayment" class="btn btn-danger btn-sm mx-1" (click)="back()">Back</button>
                  <button (click)="payNow()" class="btn btn-primary btn-sm">

                    <span *ngIf="!isPaymentProcceed">Pay Now</span>
                    <span *ngIf="isPaymentProcceed">
                      <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
                    </span>
                  </button>
                  <button matStepperNext class="btn btn-secondary mx-1 btn-sm">Next</button>
                </div>
              </form>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Assign to Supervisor</ng-template>
          <div class="row">
            <div class="col-md-12">
              <!-- {{distributedSample | json}} -->
              <div *ngIf="responseErrorForAssign" class="col-sm-12 col-md-12 col-lg-12">
                <div class="alert alert-danger" role="alert">
                  <li *ngFor="let item of responseErrorForAssign | keyvalue">
                    {{item.key}}:{{item.value}}
                  </li>
                </div>
              </div>

              <form [formGroup]="assignSampleForm" class="row">
                <div *ngIf="message && message.messageBody" class="col-sm-12 col-md-12 col-lg-12">
                  <div class="alert alert-info" role="alert">
                    {{message?.messageBody}}
                  </div>
                </div>

                <table class="table table-bordered" *ngIf="sampleDetails">
                  <thead>
                    <tr>
                      <th scope="col" class="text-center">S.N.</th>
                      <th scope="col">Test Type</th>
                      <th scope="col">Parameter</th>
                      <th scope="col" class="text-center">Supervisor</th>
                      <th class="text-center" scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- {{distributedSample.ch | json}} -->
                    <ng-container *ngFor="let r of distributedSample?.bi; let i = index;">
                      <tr>
                        <td class="text-center">{{i+1}}</td>
                        <td *ngIf="i === 0" [attr.rowspan]="distributedSample?.bi?.length">
                          <span>
                            {{r.test_type | titlecase}}
                          </span>
                        </td>
                        <td>
                          <span>{{r.name | titlecase}} </span>
                        </td>
                        <td class="text-center">
                          <button (click)="assign(r.id, r.test_type)" class="btn btn-primary btn-lims-primary btn-sm mx-2">Assign</button>
                          <span class="badge badge-primary" *ngIf="r.exists_supervisor_parameter === true" style="background-color: #212529; color: #fff;">Assigned</span>
                        </td>
                        <td class="text-center" *ngIf="i === 0" [attr.rowspan]="distributedSample?.bi?.length">
                          <button (click)="assignAll(r.test_type)" class="btn btn-primary btn-sm">Assign All</button>
                        </td>
                      </tr>
                    </ng-container>

                    <ng-container *ngFor="let r of distributedSample?.in; let i = index;">
                      <tr>
                        <td class="text-center">{{i+1}}</td>
                        <td *ngIf="i === 0" [attr.rowspan]="distributedSample?.in?.length">
                          <span>
                            {{r.test_type | titlecase}}
                          </span>
                        </td>
                        <td>
                          <span>{{r.name | titlecase}} </span>
                        </td>
                        <td class="text-center">
                          <button (click)="assign(r.id,r.test_type)" class="btn btn-primary btn-lims-primary btn-sm mx-1">Assign</button>
                          <span class="badge badge-primary" *ngIf="r.exists_supervisor_parameter === true" style="background-color: #212529; color: #fff;">Assigned</span>
                        </td>
                        <td *ngIf="i === 0" [attr.rowspan]="distributedSample?.in?.length" class="text-center">
                          <button (click)="assignAll(r.test_type)" class="btn btn-primary btn-sm">Assign All</button>
                        </td>
                      </tr>
                    </ng-container>

                    <ng-container *ngFor="let r of distributedSample?.ch; let i = index;">
                      <tr>
                        <td class="text-center">{{i+1}}</td>
                        <td *ngIf="i === 0" [attr.rowspan]="distributedSample?.bi?.length">
                          <span>
                            {{r.test_type | titlecase}}
                          </span>
                        </td>
                        <td>
                          <span>{{r.name | titlecase}} </span>
                        </td>
                        <td class="text-center">
                          <button (click)="assign(r.id, r.test_type)" class="btn btn-primary btn-lims-primary btn-sm mx-1">Assign</button>
                          <span class="badge badge-primary" *ngIf="r.exists_supervisor_parameter === true" style="background-color: #212529; color: #fff;">Assigned</span>
                        </td>
                        <td class="text-center" *ngIf="i === 0" [attr.rowspan]="distributedSample?.bi?.length">
                          <button (click)="assignAll(r.test_type)" class="btn btn-primary btn-sm">Assign All</button>
                        </td>
                      </tr>
                    </ng-container>

                  </tbody>
                </table>

                <div class="col-md-12 text-end mt-4">
                  <button matStepperPrevious class="btn btn-secondary btn-sm mx-1">Back</button>
                  <!-- <button (click)="assignToSupervisor()" class="btn btn-primary btn-sm">
                    <span *ngIf="!isLoading">Submit</span>
                    <span *ngIf="isLoading">
                      <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
                    </span>
                  </button> -->

                  <button *ngIf="isProcceedForPayment" class="btn btn-danger btn-sm mx-1"
                    (click)="back()">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </mat-step>
      </mat-stepper>
    </div>
  </div>

  <div class="row m-0" *ngIf="!isProcceedForPayment">
    <div class="col-md-12 bg-white mt-3" style="border-radius: 5px;">
      <div class="row">
        <div class="col-md-6 mt-3 p-3">
          <span class="text-bold">Total Price:</span><span>Rs.{{totalPrice}}</span>
        </div>
        <div class="col-md-6 bg-white text-end mt-3 p-3" style="border-radius: 5px;">
          <button *ngIf="!isProcceedForPayment" (click)="procceed()" class="btn btn-success mx-1">Procceed</button>
          <button  (click)="rejectSample()" class="btn btn-danger mx-1">Reject</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row bg-white" *ngIf="!sampleDetails">
  <div class="col-md-12 text-center py-3">
    <div class="spinner-border text-dark" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>