<mat-card class="p-4">
  <div class="db-content" *ngIf="accountDetails">

    <div *ngIf="!isLoading && !accountDetails?.is_verified"
      class="alert alert-danger alert-dismissible fade show mb-4 user-alert" role="alert">
      <strong>Hello {{accountDetails?.first_name}}!</strong> You account is not verified yet.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- <img src="../../../assets/profile.jpg" alt="" class="user-img mb-4"> -->

    <div class="change-password ">
      <div class="row">
        <div class="col-md-8 d-flex">
          <div>
            <ngx-avatar [name]="userFullName"></ngx-avatar>

          </div>
          <div style="padding-left: 1%;">
            <h1 style="margin-bottom: 0;">{{accountDetails?.first_name | titlecase}} {{accountDetails?.last_name}}
              <mat-icon *ngIf="accountDetails?.is_verified" [matTooltip]="'Verified'"  style="color: #2260bf;">verified_user</mat-icon>
              <span *ngIf="!accountDetails?.is_verified" class="badge badge-primary badge-sm p-1"  [matTooltip]="'Not Verified'"  style="background-color:red; font-size: 10px;">Not Verified</span>
            </h1>
            <div *ngIf="accountDetails && accountDetails?.role">
              <mat-chip style="background-color: #2260bf;height: 20px;border-radius: 4px;"><span
                  class="text-white">{{getRoleName(accountDetails?.role)}}</span></mat-chip>

            </div>
          </div>
        </div>
        <div class="col-md-4 text-end">
          <button *ngIf="!isChangePassword" matTooltip="Change Password" (click)="changePassword()" type="button"
            class="btn btn-primary change-password-btn">Change Password</button>

          <!-- <button *ngIf="isChangePassword" class="btn btn-primary mx-1"
            (click)="changePassword()">Save</button> -->
          <button *ngIf="isChangePassword" class="btn btn-danger mx-1"
            (click)="cancel()">Back</button>
        </div>
      </div>


    </div>

      <div *ngIf="isChangePassword" class="row m-0 p-0">
        <div class="col-md-12">
        <h1>Change Password</h1>
        <hr/>
        </div>
        <div class="col-md-12">
            <form class="row" autocomplete="off" [formGroup]="changePasswordForm">
              <div *ngIf="message && message.messageBody" class="col-sm-12 col-md-12 col-lg-12">
                <div class="alert alert-danger" role="alert">
                  {{message?.messageBody}}
                </div>
              </div>
              <div *ngIf="responseError" class="col-sm-12 col-md-12 col-lg-12">
                <div class="alert alert-danger" role="alert">
                  <li *ngFor="let item of responseError | keyvalue">
                    {{item.key}}:{{item.value}}
                  </li>
                </div>
              </div>
              <div class="col-md-4">
                <label class="label">Old Password:</label>
                <mat-form-field class="w-100" appearance="outline">

                  <input formControlName="old_password" type="password" matInput class="custom-input" placeholder="Enter old password" />
                  <mat-error class="text-danger" *ngIf="displayMessage?.old_password">{{displayMessage.old_password}}</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-4">
                <label class="label">New Password:</label>
                <mat-form-field class="w-100" appearance="outline">
                  <input formControlName="password" type="password" matInput class="custom-input" placeholder="Enter new password" />
                  <mat-error class="text-danger" *ngIf="displayMessage?.password">{{displayMessage.password}}</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-4">
                <label class="label">Confirm Password:</label>
                <mat-form-field class="w-100" appearance="outline">
                  <input formControlName="confirm_password" type="password" matInput class="custom-input" placeholder="Confirm password" />
                  <mat-error class="text-danger" *ngIf="displayMessage?.confirm_password">{{displayMessage.confirm_password}}</mat-error>
                </mat-form-field>

                <span *ngIf="changePasswordForm.hasError('passwordMatch')" class="text-danger">Passwords do not match.</span>
              </div>
            </form>

          <div class="text-end">
            <button (click)="cancel()" class="btn btn-danger btn-sm mx-1">Cancel</button>
            <button (click)="save()" class="btn btn-primary btn-sm mx-1">
              <span *ngIf="!isSaveBtnLoading">Save</span>
                        <span *ngIf="isSaveBtnLoading">
                          <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
                        </span>
            </button>
          </div>
        </div>
      </div>
    <div class="row bg-white m-0 p-2" *ngIf="accountDetails && !isChangePassword">
      <div class="col-md-12">
        <h2 class="text-lims-primary mb-0">Personal Details</h2>
        <hr class="" />
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <h3>
              <span class="text-bold">Full Name:</span> {{accountDetails?.first_name | titlecase}}
              {{accountDetails?.last_name | titlecase}}
            </h3>
          </div>

          <div class="col-md-4">
            <h3>
              <span class="text-bold">Email:</span> {{accountDetails?.email}}
            </h3>
          </div>

          <div class="col-md-4">
            <h3>
              <span class="text-bold">Phone Number: </span>
              <span *ngIf="accountDetails?.phone">{{accountDetails?.phone}}</span>
              <span *ngIf="!accountDetails?.phone" class="text-muted">N/A</span>
            </h3>
          </div>

          <div class="col-md-4">
            <h3>
              <span class="text-bold">Username: </span>
              <span *ngIf="accountDetails?.username">{{accountDetails?.username}}</span>
              <span *ngIf="!accountDetails?.username" class="text-muted">N/A</span>
            </h3>
          </div>

          <div class="col-md-4" *ngIf="accountDetails?.role === 5">
            <h3>
              <span class="text-bold">Client Category: </span>
              <span
                *ngIf="accountDetails?.client_category">{{getClientCategoryName(accountDetails?.client_category)}}</span>
              <span *ngIf="!accountDetails?.client_category" class="text-muted">N/A</span>
            </h3>
          </div>
        </div>
      </div>

      <div class="col-md-12" *ngIf="accountDetails?.role === 5">
        <h2 class="text-lims-primary mb-0">Department Details</h2>
        <hr class="" />

        <div class="row">
          <div class="col-md-4">
            <h3>
              <span class="text-bold">Department Name:</span> {{accountDetails?.department_name | titlecase}}
            </h3>
          </div>

          <div class="col-md-4">
            <h3>
              <span class="text-bold">Department Address:</span> {{accountDetails?.department_address | titlecase}}
            </h3>
          </div>

          <div class="col-md-4">
            <h3>
              <span class="text-bold">Registration Number:</span> {{accountDetails?.registration_number}}
            </h3>
          </div>
        </div>
      </div>

      <div class="col-md-12" *ngIf="accountDetails?.role === 5">
        <h2 class="text-lims-primary mb-0">Documents</h2>
        <hr class="" />

        <div class="row">
          <div class="col-md-6">
            <h3>
              <span class="text-bold">Registration Documents</span>
            </h3>
            <img matTooltip="View Image" alt="Registration Document" style="height: 200px"
              class="img-thumbnail cursor-pointer" (click)="viewImage(accountDetails?.registration_document)"
              [src]="accountDetails?.registration_document" />
              <div>
              <button (click)="downloadImage(accountDetails?.registration_document)" class="btn btn-primary btn-sm">Download</button>
          </div>
          </div>

          <div class="col-md-6">
            <h3>
              <span class="text-bold">Renew Documents</span>
            </h3>
            <img matTooltip="View Image" alt="Renew Document" style="height: 200px" class="img-thumbnail cursor-pointer"
              (click)="viewImage(accountDetails?.renew_document)" [src]="accountDetails?.renew_document" />
              <div>
                <button (click)="downloadImage(accountDetails?.renew_document)" class="btn btn-primary btn-sm">Download</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row bg-white" *ngIf="!accountDetails">
    <div class="col-md-12 text-center py-3">
      <div class="spinner-border text-dark" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</mat-card>
