/*my account*/
.db-content .user-img{
  width: 150px;
  padding: 10px;
  background-color: rgba(0,0,0,0.05);
  border-radius: 3%;
}
.uf-name{
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}
.uf-content{
  width: 100%;
  border: 1px solid rgba(0,0,0,0.09);
  /* background-color: rgba(0,0,0,0.05); */
  padding: 10px 12px;
}
.user-alert{
  border-radius: 0;
}
.change-password{
  background: #E7F0F7;
  padding: 24px 48px 24px 24px;
  font-weight: 500;
  border-radius: 12px;
}
.change-password-btn{
  border-radius: 0;
  font-weight: 500;
  background: #2460B9;
  color: #ffffff;
  border-radius: 6px;
  padding: 16px;
  border: none;
}
.change-password-btn:hover{
  background: #003299;
}
/*end of my account*/

.custom-input {
  padding-top: 10px !important;
}

.user-profile-detail .user-name{
  font-size: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.user-profile-detail .user-role{
  height: 28px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  padding: 0px 14px;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 10vw;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.verified-icon{
  font-size: 14px;
  color: #1C93E3;
}
.client-cat{
  color: rgba(0,0,0,0.5);
}
.tt{
  margin: 0 4px;
  padding: 4px 10px;
  border-radius: 3px;
  color: #ffffff;
}
.chemical{
  background: #36B37E;
}
.micro{
  background: #FBBC05;
}
.instrumental{
  background: #917BFF;
}
.avatar-content{
  font-family: Poppins!important;
  font-weight: 700!important;
}
.user-details-container{
  display: flex;
  align-items: center;
}
hr{
  margin-top: 10px;
}
.section-title{
  color: #2460B9;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
}
.title{
  color: #58667E;
  font-size: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  padding-bottom: 0;
}
.detail{
  color: #000;
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.margin-right-24{
  margin-right: 24px;
}

.sample-detail {
  color: #2260bf;
  font-size: 18px;
  font-weight: 600;
  font-family: Poppins;
  margin-bottom: 0;
}
.custom-input, .mat-mdc-form-field-type-mat-input{
  height: 55px!important;
  padding-top: 0!important;
}
label{
  padding: 7px 0!important;
}
.submit-btn{
  padding: 10px 30px;
  border-radius: 3px;
  border: none;
  background: #2460B9;
}
.submit-btn:hover{
  padding: 10px 30px;
  border-radius: 3px;
  border: none;
  background: #003299;
}
.cancel-btn{
  padding: 10px 30px;
  border-radius: 3px;
  background: #DC2626;
  border: none;
}
.cancel-btn:hover{
  background: #B91C1C;
}